es.rcs.tfm/es.rcs.tfm.xml/src/main/xsd/others/NCBI_TSeq.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "tinyseq.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-TSeq"
================================================= -->
<!--
$Revision: 6.1 $
**********************************************************************

  ASN.1 for a tiny Bioseq in XML
    basically a structured FASTA file with a few extras
    in this case we drop all modularity of components
      All ids are Optional - simpler structure, less checking
      Components of organism are hard coded - can't easily add or change
      sequence is just string whether DNA or protein
  by James Ostell, 2000

**********************************************************************
-->


<xs:element name="TSeq">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="TSeq_seqtype">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="nucleotide"/>
                <xs:enumeration value="protein"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="TSeq_gi" type="xs:integer" minOccurs="0"/>
      <xs:element name="TSeq_accver" type="xs:string" minOccurs="0"/>
      <xs:element name="TSeq_sid" type="xs:string" minOccurs="0"/>
      <xs:element name="TSeq_local" type="xs:string" minOccurs="0"/>
      <xs:element name="TSeq_taxid" type="xs:integer" minOccurs="0"/>
      <xs:element name="TSeq_orgname" type="xs:string" minOccurs="0"/>
      <xs:element name="TSeq_defline" type="xs:string"/>
      <xs:element name="TSeq_length" type="xs:integer"/>
      <xs:element name="TSeq_sequence" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- a bunch of them -->
<xs:element name="TSeqSet">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="TSeq"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
