es.rcs.tfm/es.rcs.tfm.xml/src/main/xsd/others/NCBI_Remap.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "remap.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Remap"
================================================= -->
<!--
$Id: remap.asn,v 1.2 2004/07/28 13:43:33 jcherry Exp $********************************************

  remap.asn
   Version 1

   API for remapping locations on sequences

   Author: Josh Cherry

***************************************************************
-->
<!-- Elements referenced from other modules:
          Seq-loc FROM NCBI-Seqloc -->

<!-- ============================================ -->



<!-- a date/time stamp -->
<xs:element name="Remap-dt" type="xs:integer"/>

<!-- database name -->
<xs:element name="Remap-db-id" type="xs:string"/>

<!--
***************************************
  Remap Request types
***************************************
****************************************
 The basic request wrapper leaves space for a version which
   allow the server to support older clients
 The tool parameter allows us to log the client types for
   debugging and tuning
****************************************
 a standard request
-->
<xs:element name="Remap-request">
  <xs:complexType>
    <xs:sequence>
<!-- the actual request -->
      <xs:element name="Remap-request_request">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RMRequest"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- ASN1 spec version -->
      <xs:element name="Remap-request_version" type="xs:integer"/>
<!-- tool making request -->
      <xs:element name="Remap-request_tool" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- request types -->
<xs:element name="RMRequest">
  <xs:complexType>
    <xs:choice>
<!-- do the actual remapping -->
      <xs:element name="RMRequest_remap">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Remap-query"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- what builds can this be mapped to? -->
      <xs:element name="RMRequest_maps-to-builds" type="xs:string"/>
<!-- what builds can be mapped to this? -->
      <xs:element name="RMRequest_maps-from-builds" type="xs:string"/>
<!-- all the builds the server knows of -->
      <xs:element name="RMRequest_all-builds">
        <xs:complexType/>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Remap-query">
  <xs:complexType>
    <xs:sequence>
<!-- build to map from -->
      <xs:element name="Remap-query_from-build" type="xs:string"/>
<!-- build to map to -->
      <xs:element name="Remap-query_to-build" type="xs:string"/>
<!-- the locations to remap -->
      <xs:element name="Remap-query_locs">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
**********************************************************
 Replies from the server
  all replies contain the date/time stamp when they were executed
**********************************************************
-->
<xs:element name="Remap-reply">
  <xs:complexType>
    <xs:sequence>
<!-- the actual reply -->
      <xs:element name="Remap-reply_reply">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RMReply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- date/time stamp from server -->
      <xs:element name="Remap-reply_dt">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Remap-dt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- server version info -->
      <xs:element name="Remap-reply_server" type="xs:string"/>
<!-- possibly a message to the user -->
      <xs:element name="Remap-reply_msg" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="RMReply">
  <xs:complexType>
    <xs:choice>
<!-- if nothing can be returned -->
      <xs:element name="RMReply_error" type="xs:string"/>
<!-- result of actual remapping -->
      <xs:element name="RMReply_remap">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Remap-result"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 all the builds that the server
 knows how to map this build to
-->
      <xs:element name="RMReply_maps-to-builds">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="RMReply_maps-to-builds_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 all the builds that the server
 knows how to map to this build
-->
      <xs:element name="RMReply_maps-from-builds">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="RMReply_maps-from-builds_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- all builds that the server knows of -->
      <xs:element name="RMReply_all-builds">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="RMReply_all-builds_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!-- remapped locations -->
<xs:element name="Remap-result">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Seq-loc"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
