es.rcs.tfm/es.rcs.tfm.xml/src/main/xsd/others/NCBI_Mim.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "mim.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Mim"
================================================= -->
<!--
********************************************************************

  MIM data definitions
  Brandon Brylawski, 1996.
  version 2.1

********************************************************************
-->


<xs:element name="Mim-entries">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Mim-entry"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-set">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-set_releaseDate">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-set_mimEntries">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-entry">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-entry_mimNumber" type="xs:string"/>
      <xs:element name="Mim-entry_mimType">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="none" ncbi:intvalue="0"/>
                    <xs:enumeration value="star" ncbi:intvalue="1"/>
                    <xs:enumeration value="caret" ncbi:intvalue="2"/>
                    <xs:enumeration value="pound" ncbi:intvalue="3"/>
                    <xs:enumeration value="plus" ncbi:intvalue="4"/>
                    <xs:enumeration value="perc" ncbi:intvalue="5"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_title" type="xs:string"/>
      <xs:element name="Mim-entry_copyright" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-entry_symbol" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-entry_locus" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-entry_synonyms" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Mim-entry_synonyms_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_aliases" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Mim-entry_aliases_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_included" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Mim-entry_included_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_seeAlso" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-cit"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_text" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-text"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_textfields" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-text"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_hasSummary" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_summary" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-text"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_summaryAttribution" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_summaryEditHistory" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_summaryCreationDate" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_allelicVariants" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-allelic-variant"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_hasSynopsis" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_clinicalSynopsis" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-index-term"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_synopsisAttribution" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_synopsisEditHistory" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_synopsisCreationDate" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_editHistory" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_creationDate" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_references" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-reference"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_attribution" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-edit-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_numGeneMaps" type="xs:integer"/>
      <xs:element name="Mim-entry_medlineLinks" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-link"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_proteinLinks" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-link"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_nucleotideLinks" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-link"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_structureLinks" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-link"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-entry_genomeLinks" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-link"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-text">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-text_label" type="xs:string"/>
      <xs:element name="Mim-text_text" type="xs:string"/>
      <xs:element name="Mim-text_neighbors" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-link"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-allelic-variant">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-allelic-variant_number" type="xs:string"/>
      <xs:element name="Mim-allelic-variant_name" type="xs:string"/>
      <xs:element name="Mim-allelic-variant_aliases" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Mim-allelic-variant_aliases_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-allelic-variant_mutation" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-text"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-allelic-variant_description" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-text"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-allelic-variant_snpLinks" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-link"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-link">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-link_num" type="xs:integer"/>
      <xs:element name="Mim-link_uids" type="xs:string"/>
      <xs:element name="Mim-link_numRelevant" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-author">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-author_name" type="xs:string"/>
      <xs:element name="Mim-author_index" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-cit">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-cit_number" type="xs:integer"/>
      <xs:element name="Mim-cit_author" type="xs:string"/>
      <xs:element name="Mim-cit_others" type="xs:string"/>
      <xs:element name="Mim-cit_year" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-reference">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-reference_number" type="xs:integer"/>
      <xs:element name="Mim-reference_origNumber" type="xs:integer" minOccurs="0"/>
      <xs:element name="Mim-reference_type" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="not-set"/>
                <xs:enumeration value="citation"/>
                <xs:enumeration value="book"/>
                <xs:enumeration value="personal-communication"/>
                <xs:enumeration value="book-citation"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-reference_authors">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-author"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-reference_primaryAuthor" type="xs:string"/>
      <xs:element name="Mim-reference_otherAuthors" type="xs:string"/>
      <xs:element name="Mim-reference_citationTitle" type="xs:string"/>
      <xs:element name="Mim-reference_citationType" type="xs:integer" minOccurs="0"/>
      <xs:element name="Mim-reference_bookTitle" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_editors" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-author"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-reference_volume" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_edition" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_journal" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_series" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_publisher" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_place" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_commNote" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_pubDate">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-reference_pages" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Mim-page"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-reference_miscInfo" type="xs:string" minOccurs="0"/>
      <xs:element name="Mim-reference_pubmedUID" type="xs:integer" minOccurs="0"/>
      <xs:element name="Mim-reference_ambiguous">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Mim-reference_noLink" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-index-term">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-index-term_key" type="xs:string"/>
      <xs:element name="Mim-index-term_terms">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Mim-index-term_terms_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-edit-item">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-edit-item_author" type="xs:string"/>
      <xs:element name="Mim-edit-item_modDate">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mim-date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-date">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-date_year" type="xs:integer"/>
      <xs:element name="Mim-date_month" type="xs:integer" minOccurs="0"/>
      <xs:element name="Mim-date_day" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Mim-page">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Mim-page_from" type="xs:string"/>
      <xs:element name="Mim-page_to" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
