es.rcs.tfm/es.rcs.tfm.xml/src/main/xsd/others/NCBI_GBSeq.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "gbseq.asn"
     ::DATATOOL:: by application DATATOOL version 2.4.4
     ::DATATOOL:: on 12/18/2013 23:04:02
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-GBSeq"
================================================= -->
<!--
$Revision: 413850 $
*********************************************************

 ASN.1 and XML for the components of a GenBank format sequence
 J.Ostell 2002
 Updated 25 May 2010

*********************************************************
-->


<!--
********
  GBSeq represents the elements in a GenBank style report
    of a sequence with some small additions to structure and support
    for protein (GenPept) versions of GenBank format as seen in
    Entrez. While this represents the simplification, reduction of
    detail, and flattening to a single sequence perspective of GenBank
    format (compared with the full ASN.1 or XML from which GenBank and
    this format is derived at NCBI), it is presented in ASN.1 or XML for
    automated parsing and processing. It is hoped that this compromise
    will be useful for those bulk processing at the GenBank format level
    of detail today. Since it is a compromise, a number of pragmatic
    decisions have been made.

  In pursuit of simplicity and familiarity a number of
    fields do not have full substructure defined here where there is
    already a standard GenBank format string. For example:

   Date  DD-Mon-YYYY
   Authors   LastName, Intials (with periods)
   Journal   JounalName Volume (issue), page-range (year)
   FeatureLocations as per GenBank feature table, but FeatureIntervals
    may also be provided as a convenience
   FeatureQualifiers  as per GenBank feature table
   Primary has a string that represents a table to construct
    a third party (TPA) sequence.
   other-seqids can have strings with the "vertical bar format" sequence
    identifiers used in BLAST for example, when they are non-genbank types.
    Currently in GenBank format you only see GI, but there are others, like
    patents, submitter clone names, etc which will appear here, as they
    always have in the ASN.1 format, and full XML format.
   source-db is a formatted text block for peptides in GenPept format that
    carries information from the source protein database.

  There are also a number of elements that could have been
   more exactly specified, but in the interest of simplicity
   have been simply left as options. For example..

  accession and accession.version will always appear in a GenBank record
   they are optional because this format can also be used for non-GenBank
   sequences, and in that case will have only "other-seqids".

  sequences will normally all have "sequence" filled in. But contig records
    will have a "join" statement in the "contig" slot, and no "sequence".
    We also may consider a retrieval option with no sequence of any kind
     and no feature table to quickly check minimal values.

  a reference may have an author list, or be from a consortium, or both.

  some fields, such as taxonomy, do appear as separate elements in GenBank
    format but without a specific linetype (in GenBank format this comes
    under ORGANISM). Another example is the separation of primary accession
    from the list of secondary accessions. In GenBank format primary
    accession is just the first one on the list that includes all secondaries
    after it.

  create-date deserves special comment. The date you see on the right hand
    side of the LOCUS line in GenBank format is actually the last date the
    the record was modified (or the update-date). The date the record was
    first submitted to GenBank appears in the first submission citation in
    the reference section. Internally in the databases and ASN.1 NCBI keeps
    the first date the record was released into the sequence database at
    NCBI as create-date. For records from EMBL, which supports create-date,
    it is the date provided by EMBL. For DDBJ records, which do not supply
    a create-date (same as GenBank format) the create-date is the first date
    NCBI saw the record from DDBJ. For older GenBank records, before NCBI
    took responsibility for GenBank, it is just the first date NCBI saw the
    record. Create-date can be very useful, so we expose it here, but users
    must understand it is only an approximation and comes from many sources,
    and with many exceptions and caveats. It does NOT tell you the first
    date the public might have seen this record and thus is NOT an accurate
    measure for legal issues of precedence.

********
-->
<xs:element name="GBSet">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="GBSeq"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBSeq">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBSeq_locus" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_length" type="xs:integer"/>
      <xs:element name="GBSeq_strandedness" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_moltype" type="xs:string"/>
      <xs:element name="GBSeq_topology" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_division" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_update-date" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_create-date" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_update-release" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_create-release" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_definition" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_primary-accession" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_entry-version" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_accession-version" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_other-seqids" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBSeqid"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBSeq_secondary-accessions" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBSecondary-accn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBSeq_project" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_keywords" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBKeyword"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBSeq_segment" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_source" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_organism" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_taxonomy" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_references" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBReference"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBSeq_comment" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_comment-set" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBComment"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBSeq_struc-comments" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBStrucComment"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBSeq_primary" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_source-db" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_database-reference" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_feature-table" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBFeature"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBSeq_feature-set" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBFeatureSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Optional for contig, wgs, etc. -->
      <xs:element name="GBSeq_sequence" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_contig" type="xs:string" minOccurs="0"/>
      <xs:element name="GBSeq_alt-seq" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBAltSeqData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBSeq_xrefs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBXref"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBSeqid" type="xs:string"/>

<xs:element name="GBSecondary-accn" type="xs:string"/>

<xs:element name="GBKeyword" type="xs:string"/>

<xs:element name="GBReference">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBReference_reference" type="xs:string"/>
      <xs:element name="GBReference_position" type="xs:string" minOccurs="0"/>
      <xs:element name="GBReference_authors" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBAuthor"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBReference_consortium" type="xs:string" minOccurs="0"/>
      <xs:element name="GBReference_title" type="xs:string" minOccurs="0"/>
      <xs:element name="GBReference_journal" type="xs:string"/>
      <xs:element name="GBReference_xref" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBXref"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBReference_pubmed" type="xs:integer" minOccurs="0"/>
      <xs:element name="GBReference_remark" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBAuthor" type="xs:string"/>

<xs:element name="GBXref">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBXref_dbname" type="xs:string"/>
      <xs:element name="GBXref_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBComment">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBComment_type" type="xs:string" minOccurs="0"/>
      <xs:element name="GBComment_paragraphs">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBCommentParagraph"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBCommentParagraph" type="xs:string"/>

<xs:element name="GBStrucComment">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBStrucComment_name" type="xs:string" minOccurs="0"/>
      <xs:element name="GBStrucComment_items">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBStrucCommentItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBStrucCommentItem">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBStrucCommentItem_tag" type="xs:string" minOccurs="0"/>
      <xs:element name="GBStrucCommentItem_value" type="xs:string" minOccurs="0"/>
      <xs:element name="GBStrucCommentItem_url" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBFeatureSet">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBFeatureSet_annot-source" type="xs:string" minOccurs="0"/>
      <xs:element name="GBFeatureSet_features">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBFeature"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBFeature">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBFeature_key" type="xs:string"/>
      <xs:element name="GBFeature_location" type="xs:string"/>
      <xs:element name="GBFeature_intervals" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBInterval"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBFeature_operator" type="xs:string" minOccurs="0"/>
      <xs:element name="GBFeature_partial5" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBFeature_partial3" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBFeature_quals" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBQualifier"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBFeature_xrefs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBXref"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBInterval">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBInterval_from" type="xs:integer" minOccurs="0"/>
      <xs:element name="GBInterval_to" type="xs:integer" minOccurs="0"/>
      <xs:element name="GBInterval_point" type="xs:integer" minOccurs="0"/>
      <xs:element name="GBInterval_iscomp" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBInterval_interbp" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBInterval_accession" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBQualifier">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBQualifier_name" type="xs:string"/>
      <xs:element name="GBQualifier_value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBAltSeqData">
  <xs:complexType>
    <xs:sequence>
<!-- e.g., contig, wgs, scaffold, cage, genome -->
      <xs:element name="GBAltSeqData_name" type="xs:string"/>
      <xs:element name="GBAltSeqData_items" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="GBAltSeqItem"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="GBAltSeqItem">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="GBAltSeqItem_interval" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="GBInterval"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBAltSeqItem_isgap" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="GBAltSeqItem_gap-length" type="xs:integer" minOccurs="0"/>
      <xs:element name="GBAltSeqItem_gap-type" type="xs:string" minOccurs="0"/>
      <xs:element name="GBAltSeqItem_gap-linkage" type="xs:string" minOccurs="0"/>
      <xs:element name="GBAltSeqItem_gap-comment" type="xs:string" minOccurs="0"/>
      <xs:element name="GBAltSeqItem_first-accn" type="xs:string" minOccurs="0"/>
      <xs:element name="GBAltSeqItem_last-accn" type="xs:string" minOccurs="0"/>
      <xs:element name="GBAltSeqItem_value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
