es.rcs.tfm/es.rcs.tfm.xml/src/main/xsd/others/NCBI_Variation.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "seqfeat.asn"
     ::DATATOOL:: by application DATATOOL version 2.3.1
     ::DATATOOL:: on 12/01/2011 23:05:19
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Variation"
================================================= -->
<!--
*** Variation-ref ***********************************************
*
*  Specification of variation features
*
-->
<!-- Elements used by other modules:
          Variation-ref,
          Variation-inst,
          VariantProperties,
          Population-data,
          Phenotype -->

<!-- Elements referenced from other modules:
          Int-fuzz,
          User-object,
          Object-id,
          Dbtag FROM NCBI-General,
          Seq-literal FROM NCBI-Sequence,
          SubSource FROM NCBI-BioSource,
          Seq-loc FROM NCBI-Seqloc,
          Pub FROM NCBI-Pub -->

<!-- ============================================ -->



<!--
 


















 Historically, the dbSNP definitions document data structures used in the
 processing and annotation of variations by the dbSNP group.  The intention
 is to provide information to clients that reflect internal information
 produced during the mapping of SNPs
 


















-->
<xs:element name="VariantProperties">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="VariantProperties_version" type="xs:integer"/>
      <xs:element name="VariantProperties_resource-link" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    preserved	-  Clinical, Pubmed, Cited, (0x01)
    provisional	-  Provisional Third Party Annotations (0x02)
    has3D	-  Has 3D strcture SNP3D table (0x04)
    submitterLinkout	-  SNP->SubSNP->Batch link_out (0x08)
    clinical	-  Clinical if LSDB, OMIM, TPA, Diagnostic (0x10)
    genotypeKit	-  Marker exists on high density genotyping kit
         (0x20)
-->
                    <xs:enumeration value="preserved" ncbi:intvalue="1"/>
                    <xs:enumeration value="provisional" ncbi:intvalue="2"/>
                    <xs:enumeration value="has3D" ncbi:intvalue="4"/>
                    <xs:enumeration value="submitterLinkout" ncbi:intvalue="8"/>
                    <xs:enumeration value="clinical" ncbi:intvalue="16"/>
                    <xs:enumeration value="genotypeKit" ncbi:intvalue="32"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_gene-location" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    in-gene	-  Sequence intervals covered by a gene ID but not
         having an aligned transcript (0x01)
    near-gene-5	-  Within 2kb of the 5' end of a gene feature
    near-gene-3	-  Within 0.5kb of the 3' end of a gene feature
    intron	-  In Intron (0x08)
    donor	-  In donor splice-site (0x10)
    acceptor	-  In acceptor splice-site (0x20)
    utr-5	-  In 5' UTR (0x40)
    utr-3	-  In 3' UTR (0x80)
    in-start-codon	-  the variant is observed in a start codon
         (0x100)
    in-stop-codon	-  the variant is observed in a stop codon
         (0x200)
    intergenic	-  variant located between genes (0x400)
    conserved-noncoding	-  variant is located in a conserved
         non-coding region (0x800)
-->
                    <xs:enumeration value="in-gene" ncbi:intvalue="1"/>
                    <xs:enumeration value="near-gene-5" ncbi:intvalue="2"/>
                    <xs:enumeration value="near-gene-3" ncbi:intvalue="4"/>
                    <xs:enumeration value="intron" ncbi:intvalue="8"/>
                    <xs:enumeration value="donor" ncbi:intvalue="16"/>
                    <xs:enumeration value="acceptor" ncbi:intvalue="32"/>
                    <xs:enumeration value="utr-5" ncbi:intvalue="64"/>
                    <xs:enumeration value="utr-3" ncbi:intvalue="128"/>
                    <xs:enumeration value="in-start-codon" ncbi:intvalue="256"/>
                    <xs:enumeration value="in-stop-codon" ncbi:intvalue="512"/>
                    <xs:enumeration value="intergenic" ncbi:intvalue="1024"/>
                    <xs:enumeration value="conserved-noncoding" ncbi:intvalue="2048"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_effect" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    no-change	-  known to cause no functional changes
         since 0 does not combine with any other bit
         value, 'no-change' specifically implies that
         there are no consequences
    synonymous	-  one allele in the set does not change the encoded
         amino acid (0x1)
    nonsense	-  one allele in the set changes to STOP codon
         (TER).  (0x2)
    missense	-  one allele in the set changes protein peptide
         (0x4)
    frameshift	-  one allele in the set changes all downstream
         amino acids (0x8)
    up-regulator	-  the variant causes increased transcription
         (0x10)
    down-regulator	-  the variant causes decreased transcription
         (0x20)
    stop-gain	-  reference codon is not stop codon, but the snp
         variant allele changes the codon to a
         terminating codon.
    stop-loss	-  reverse of STOP-GAIN: reference codon is a
         stop codon, but a snp variant allele changes
         the codon to a non-terminating codon.
-->
                    <xs:enumeration value="no-change" ncbi:intvalue="0"/>
                    <xs:enumeration value="synonymous" ncbi:intvalue="1"/>
                    <xs:enumeration value="nonsense" ncbi:intvalue="2"/>
                    <xs:enumeration value="missense" ncbi:intvalue="4"/>
                    <xs:enumeration value="frameshift" ncbi:intvalue="8"/>
                    <xs:enumeration value="up-regulator" ncbi:intvalue="16"/>
                    <xs:enumeration value="down-regulator" ncbi:intvalue="32"/>
                    <xs:enumeration value="methylation" ncbi:intvalue="64"/>
                    <xs:enumeration value="stop-gain" ncbi:intvalue="128"/>
                    <xs:enumeration value="stop-loss" ncbi:intvalue="256"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_mapping" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    has-other-snp	-  Another SNP has the same mapped positions
         on reference assembly (0x01)
    has-assembly-conflict	-  Weight 1 or 2 SNPs that map to different
         chromosomes on different assemblies (0x02)
    is-assembly-specific	-  Only maps to 1 assembly (0x04)
-->
                    <xs:enumeration value="has-other-snp" ncbi:intvalue="1"/>
                    <xs:enumeration value="has-assembly-conflict" ncbi:intvalue="2"/>
                    <xs:enumeration value="is-assembly-specific" ncbi:intvalue="4"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_map-weight" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="is-uniquely-placed" ncbi:intvalue="1"/>
                    <xs:enumeration value="placed-twice-on-same-chrom" ncbi:intvalue="2"/>
                    <xs:enumeration value="placed-twice-on-diff-chrom" ncbi:intvalue="3"/>
                    <xs:enumeration value="many-placements" ncbi:intvalue="10"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_frequency-based-validation" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    is-mutation	-  low frequency variation that is cited in
         journal or other reputable sources (0x01)
    above-5pct-all	-  >5% minor allele freq in each and all
         populations (0x02)
    above-5pct-1plus	-  >5% minor allele freq in 1+ populations (0x04)
    validated	-  Bit is set if the variant has a minor allele
         observed in two or more separate chromosomes
    above-1pct-all	-  >1% minor allele freq in each and all
         populations (0x10)
    above-1pct-1plus	-  >1% minor allele freq in 1+ populations (0x20)
-->
                    <xs:enumeration value="is-mutation" ncbi:intvalue="1"/>
                    <xs:enumeration value="above-5pct-all" ncbi:intvalue="2"/>
                    <xs:enumeration value="above-5pct-1plus" ncbi:intvalue="4"/>
                    <xs:enumeration value="validated" ncbi:intvalue="8"/>
                    <xs:enumeration value="above-1pct-all" ncbi:intvalue="16"/>
                    <xs:enumeration value="above-1pct-1plus" ncbi:intvalue="32"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_genotype" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    in-haplotype-set	-  Exists in a haplotype tagging set (0x01)
    has-genotypes	-  SNP has individual genotype (0x02)
-->
                    <xs:enumeration value="in-haplotype-set" ncbi:intvalue="1"/>
                    <xs:enumeration value="has-genotypes" ncbi:intvalue="2"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!--
 project IDs are IDs from BioProjects
 in order to report information about project relationships, we
 require projects to be registered
 This field in many ways duplicates dbxrefs; however, the
 intention of this field is to more adequately reflect
 ownership and data source

 11/9/2010: DO NOT USE
 This field was changed in the spec in a breaking way; using it will
 break clients.  We are officially suppressing / abandoning this field.
 Clients who need to use this should instead place the data in
 Seq-feat.dbxref, using the db name 'BioProject'
-->
      <xs:element name="VariantProperties_project-data" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="VariantProperties_project-data_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_quality-check" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    contig-allele-missing	-  Reference sequence allele at the mapped
         position is not present in the SNP
         allele list, adjusted for orientation
         (0x01)
    withdrawn-by-submitter	-  One member SS is withdrawn by submitter
         (0x02)
    non-overlapping-alleles	-  RS set has 2+ alleles from different
         submissions and these sets share no
         alleles in common (0x04)
    strain-specific	-  Straing specific fixed difference (0x08)
    genotype-conflict	-  Has Genotype Conflict (0x10)
-->
                    <xs:enumeration value="contig-allele-missing" ncbi:intvalue="1"/>
                    <xs:enumeration value="withdrawn-by-submitter" ncbi:intvalue="2"/>
                    <xs:enumeration value="non-overlapping-alleles" ncbi:intvalue="4"/>
                    <xs:enumeration value="strain-specific" ncbi:intvalue="8"/>
                    <xs:enumeration value="genotype-conflict" ncbi:intvalue="16"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_confidence" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                    <xs:enumeration value="likely-artifact" ncbi:intvalue="1"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!--
 has this variant been validated?
 While a boolean flag offers no subtle distinctions of validation
 methods, occasionally it is only known as a single boolean value
 NOTE: this flag is redundant and should be omitted if more comprehensive
 validation information is present
-->
      <xs:element name="VariantProperties_other-validation" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_allele-origin" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    other	-  stopper - 2^31
-->
                    <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                    <xs:enumeration value="germline" ncbi:intvalue="1"/>
                    <xs:enumeration value="somatic" ncbi:intvalue="2"/>
                    <xs:enumeration value="inherited" ncbi:intvalue="4"/>
                    <xs:enumeration value="paternal" ncbi:intvalue="8"/>
                    <xs:enumeration value="maternal" ncbi:intvalue="16"/>
                    <xs:enumeration value="de-novo" ncbi:intvalue="32"/>
                    <xs:enumeration value="biparental" ncbi:intvalue="64"/>
                    <xs:enumeration value="uniparental" ncbi:intvalue="128"/>
                    <xs:enumeration value="not-tested" ncbi:intvalue="256"/>
                    <xs:enumeration value="tested-inconclusive" ncbi:intvalue="512"/>
                    <xs:enumeration value="not-reported" ncbi:intvalue="1024"/>
                    <xs:enumeration value="other" ncbi:intvalue="1073741824"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariantProperties_allele-state" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                    <xs:enumeration value="homozygous" ncbi:intvalue="1"/>
                    <xs:enumeration value="heterozygous" ncbi:intvalue="2"/>
                    <xs:enumeration value="hemizygous" ncbi:intvalue="3"/>
                    <xs:enumeration value="nullizygous" ncbi:intvalue="4"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!--
 NOTE:
 'allele-frequency' here refers to the minor allele frequency of the
 default population
-->
      <xs:element name="VariantProperties_allele-frequency" type="xs:double" minOccurs="0"/>
<!-- is this variant the ancestral allele? -->
      <xs:element name="VariantProperties_is-ancestral-allele" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Phenotype">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Phenotype_source" type="xs:string" minOccurs="0"/>
      <xs:element name="Phenotype_term" type="xs:string" minOccurs="0"/>
      <xs:element name="Phenotype_xref" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Phenotype_clinical-significance" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                    <xs:enumeration value="untested" ncbi:intvalue="1"/>
                    <xs:enumeration value="non-pathogenic" ncbi:intvalue="2"/>
                    <xs:enumeration value="probable-non-pathogenic" ncbi:intvalue="3"/>
                    <xs:enumeration value="probable-pathogenic" ncbi:intvalue="4"/>
                    <xs:enumeration value="pathogenic" ncbi:intvalue="5"/>
                    <xs:enumeration value="drug-response" ncbi:intvalue="6"/>
                    <xs:enumeration value="histocompatibility" ncbi:intvalue="7"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Population-data">
  <xs:complexType>
    <xs:sequence>
<!-- assayed population (e.g. HAPMAP-CEU) -->
      <xs:element name="Population-data_population" type="xs:string"/>
      <xs:element name="Population-data_genotype-frequency" type="xs:double" minOccurs="0"/>
      <xs:element name="Population-data_chromosomes-tested" type="xs:integer" minOccurs="0"/>
      <xs:element name="Population-data_sample-ids" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Object-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Population-data_allele-frequency" type="xs:double" minOccurs="0"/>
      <xs:element name="Population-data_flags" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="is-default-population" ncbi:intvalue="1"/>
                    <xs:enumeration value="is-minor-allele" ncbi:intvalue="2"/>
                    <xs:enumeration value="is-rare-allele" ncbi:intvalue="4"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Ext-loc">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Ext-loc_id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Object-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Ext-loc_location">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Variation-ref">
  <xs:complexType>
    <xs:sequence>
<!--
 ids (i.e., SNP rsid / ssid, dbVar nsv/nssv)
 expected values include 'dbSNP|rs12334', 'dbSNP|ss12345', 'dbVar|nsv1'

 we relate three kinds of IDs here:
  - our current object's id
  - the id of this object's parent, if it exists
  - the sample ID that this item originates from
-->
      <xs:element name="Variation-ref_id" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_parent-id" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_sample-id" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Object-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_other-ids" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 names and synonyms
 some variants have well-known canonical names and possible accepted
 synonyms
-->
      <xs:element name="Variation-ref_name" type="xs:string" minOccurs="0"/>
      <xs:element name="Variation-ref_synonyms" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Variation-ref_synonyms_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- tag for comment and descriptions -->
      <xs:element name="Variation-ref_description" type="xs:string" minOccurs="0"/>
<!-- phenotype -->
      <xs:element name="Variation-ref_phenotype" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Phenotype"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_method" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Variation-ref_method_E">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:integer">
                    <xs:attribute name="value" use="optional">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                          <xs:enumeration value="bac-acgh" ncbi:intvalue="1"/>
                          <xs:enumeration value="computational" ncbi:intvalue="2"/>
                          <xs:enumeration value="curated" ncbi:intvalue="3"/>
                          <xs:enumeration value="digital-array" ncbi:intvalue="4"/>
                          <xs:enumeration value="expression-array" ncbi:intvalue="5"/>
                          <xs:enumeration value="fish" ncbi:intvalue="6"/>
                          <xs:enumeration value="flanking-sequence" ncbi:intvalue="7"/>
                          <xs:enumeration value="maph" ncbi:intvalue="8"/>
                          <xs:enumeration value="mcd-analysis" ncbi:intvalue="9"/>
                          <xs:enumeration value="mlpa" ncbi:intvalue="10"/>
                          <xs:enumeration value="oea-assembly" ncbi:intvalue="11"/>
                          <xs:enumeration value="oligo-acgh" ncbi:intvalue="12"/>
                          <xs:enumeration value="paired-end" ncbi:intvalue="13"/>
                          <xs:enumeration value="pcr" ncbi:intvalue="14"/>
                          <xs:enumeration value="qpcr" ncbi:intvalue="15"/>
                          <xs:enumeration value="read-depth" ncbi:intvalue="16"/>
                          <xs:enumeration value="roma" ncbi:intvalue="17"/>
                          <xs:enumeration value="rt-pcr" ncbi:intvalue="18"/>
                          <xs:enumeration value="sage" ncbi:intvalue="19"/>
                          <xs:enumeration value="sequence-alignment" ncbi:intvalue="20"/>
                          <xs:enumeration value="sequencing" ncbi:intvalue="21"/>
                          <xs:enumeration value="snp-array" ncbi:intvalue="22"/>
                          <xs:enumeration value="snp-genoytyping" ncbi:intvalue="23"/>
                          <xs:enumeration value="southern" ncbi:intvalue="24"/>
                          <xs:enumeration value="western" ncbi:intvalue="25"/>
                          <xs:enumeration value="optical-mapping" ncbi:intvalue="26"/>
                          <xs:enumeration value="other" ncbi:intvalue="255"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Note about SNP representation and pretinent fields: allele-frequency,
 population, quality-codes:
 The case of multiple alleles for a SNP would be described by
 parent-feature of type Variation-set.diff-alleles, where the child
 features of type Variation-inst, all at the same location, would
 describe individual alleles.
 population data
 DEPRECATED - do not use
-->
      <xs:element name="Variation-ref_population-data" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Population-data"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- variant properties bit fields -->
      <xs:element name="Variation-ref_variant-prop" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="VariantProperties"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 has this variant been validated?
 DEPRECATED: new field = VariantProperties.other-validation
-->
      <xs:element name="Variation-ref_validated" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!--
 link-outs to GeneTests database
 DEPRECATED - do not use
-->
      <xs:element name="Variation-ref_clinical-test" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_allele-origin" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    other	-  stopper - 2^31
-->
                    <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                    <xs:enumeration value="germline" ncbi:intvalue="1"/>
                    <xs:enumeration value="somatic" ncbi:intvalue="2"/>
                    <xs:enumeration value="inherited" ncbi:intvalue="4"/>
                    <xs:enumeration value="paternal" ncbi:intvalue="8"/>
                    <xs:enumeration value="maternal" ncbi:intvalue="16"/>
                    <xs:enumeration value="de-novo" ncbi:intvalue="32"/>
                    <xs:enumeration value="biparental" ncbi:intvalue="64"/>
                    <xs:enumeration value="uniparental" ncbi:intvalue="128"/>
                    <xs:enumeration value="not-tested" ncbi:intvalue="256"/>
                    <xs:enumeration value="tested-inconclusive" ncbi:intvalue="512"/>
                    <xs:enumeration value="other" ncbi:intvalue="1073741824"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_allele-state" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                    <xs:enumeration value="homozygous" ncbi:intvalue="1"/>
                    <xs:enumeration value="heterozygous" ncbi:intvalue="2"/>
                    <xs:enumeration value="hemizygous" ncbi:intvalue="3"/>
                    <xs:enumeration value="nullizygous" ncbi:intvalue="4"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!--
 NOTE:
 'allele-frequency' here refers to the minor allele frequency of the
 default population
 DEPRECATED: new field = VariantProperties.allele-frequency
-->
      <xs:element name="Variation-ref_allele-frequency" type="xs:double" minOccurs="0"/>
<!--
 is this variant the ancestral allele?
 DEPRECATED: new field = VariantProperties.is-ancestral-allele
-->
      <xs:element name="Variation-ref_is-ancestral-allele" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!--
 publication support.
 Note: made this pub instead of pub-equiv, since
 Pub can be pub-equiv and pub-equiv is a set of pubs, but it looks like
 Pub is more often used as top-level container
 DEPRECATED - do not use; use Seq-feat.dbxref instead
-->
      <xs:element name="Variation-ref_pub" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Pub"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_data">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Variation-ref_data_unknown">
              <xs:complexType/>
            </xs:element>
<!--free-form -->
            <xs:element name="Variation-ref_data_note" type="xs:string"/>
            <xs:element name="Variation-ref_data_uniparental-disomy">
              <xs:complexType/>
            </xs:element>
<!-- actual sequence-edit at feat.location -->
            <xs:element name="Variation-ref_data_instance">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="Variation-inst"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Variation-ref_data_set">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Variation-ref_data_set_type">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:integer">
                          <xs:attribute name="value" use="optional">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
<!--
    compound	-  complex change at the same location on the
         same molecule
    products	-  different products arising from the same
         variation in a precursor, e.g. r.[13g>a,
         13_88del]
    haplotype	-  changes on the same allele, e.g
         r.[13g>a;15u>c]
    genotype	-  changes on different alleles in the same
         genotype, e.g. g.[476C>T]+[476C>T]
    mosaic	-  different genotypes in the same individual
    individual	-  same organism; allele relationship unknown,
         e.g. g.[476C>T(+)183G>C]
    population	-  population
    alleles	-  set represents a set of observed alleles
    package	-  set represents a package of observations at
         a given location, generally containing
         asserted + reference
-->
                                <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                                <xs:enumeration value="compound" ncbi:intvalue="1"/>
                                <xs:enumeration value="products" ncbi:intvalue="2"/>
                                <xs:enumeration value="haplotype" ncbi:intvalue="3"/>
                                <xs:enumeration value="genotype" ncbi:intvalue="4"/>
                                <xs:enumeration value="mosaic" ncbi:intvalue="5"/>
                                <xs:enumeration value="individual" ncbi:intvalue="6"/>
                                <xs:enumeration value="population" ncbi:intvalue="7"/>
                                <xs:enumeration value="alleles" ncbi:intvalue="8"/>
                                <xs:enumeration value="package" ncbi:intvalue="9"/>
                                <xs:enumeration value="other" ncbi:intvalue="255"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Variation-ref_data_set_variations">
                    <xs:complexType>
                      <xs:sequence minOccurs="0" maxOccurs="unbounded">
                        <xs:element ref="Variation-ref"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Variation-ref_data_set_name" type="xs:string" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!--
 variant is a complex and undescribed change at the location
 This type of variant is known to occur in dbVar submissions
-->
            <xs:element name="Variation-ref_data_complex">
              <xs:complexType/>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_consequence" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Variation-ref_consequence_E">
              <xs:complexType>
                <xs:choice>
                  <xs:element name="Variation-ref_consequence_E_unknown">
                    <xs:complexType/>
                  </xs:element>
<!--some effect on splicing -->
                  <xs:element name="Variation-ref_consequence_E_splicing">
                    <xs:complexType/>
                  </xs:element>
<!--freeform -->
                  <xs:element name="Variation-ref_consequence_E_note" type="xs:string"/>
<!--
 Describe resulting variation in the product, e.g. missense,
 nonsense, silent, neutral, etc in a protein, that arises from
 THIS variation.
-->
                  <xs:element name="Variation-ref_consequence_E_variation">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="Variation-ref"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Variation-ref_consequence_E_frameshift">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Variation-ref_consequence_E_frameshift_phase" type="xs:integer" minOccurs="0"/>
                        <xs:element name="Variation-ref_consequence_E_frameshift_x-length" type="xs:integer" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Variation-ref_consequence_E_loss-of-heterozygosity">
                    <xs:complexType>
                      <xs:sequence>
<!--
 In germline comparison, it will be reference genome assembly
 (default) or reference/normal population. In somatic mutation,
 it will be a name of the normal tissue.
-->
                        <xs:element name="Variation-ref_consequence_E_loss-of-heterozygosity_reference" type="xs:string" minOccurs="0"/>
<!-- Name of the testing subject type or the testing tissue. -->
                        <xs:element name="Variation-ref_consequence_E_loss-of-heterozygosity_test" type="xs:string" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Observed location, if different from the parent set or feature.location.
 DEPRECATED - do not use
-->
      <xs:element name="Variation-ref_location" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 reference other locs, e.g. mapped source
 DEPRECATED - do not use
-->
      <xs:element name="Variation-ref_ext-locs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Ext-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- DEPRECATED - do not use; use Seq-feat.exts instead -->
      <xs:element name="Variation-ref_ext" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="User-object"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-ref_somatic-origin" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Variation-ref_somatic-origin_E">
              <xs:complexType>
                <xs:sequence>
<!-- description of the somatic origin itself -->
                  <xs:element name="Variation-ref_somatic-origin_E_source" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="SubSource"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Variation-ref_somatic-origin_E_condition" minOccurs="0">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Variation-ref_somatic-origin_E_condition_description" type="xs:string" minOccurs="0"/>
<!-- reference to BioTerm / other descriptive database -->
                        <xs:element name="Variation-ref_somatic-origin_E_condition_object-id" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                              <xs:element ref="Dbtag"/>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Delta-item">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Delta-item_seq" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Delta-item_seq_literal">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="Seq-literal"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Delta-item_seq_loc">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="Seq-loc"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!--same location as variation-ref itself -->
            <xs:element name="Delta-item_seq_this">
              <xs:complexType/>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
<!--
 Multiplier allows representing a tandem, e.g.  ATATAT as AT*3
 This allows describing CNV/SSR where delta=self  with a
 multiplier which specifies the count of the repeat unit.
assumed 1 if not specified.
-->
      <xs:element name="Delta-item_multiplier" type="xs:integer" minOccurs="0"/>
      <xs:element name="Delta-item_multiplier-fuzz" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Int-fuzz"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Delta-item_action" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional" default="morph">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    morph	-  replace len(seq) positions starting with location.start with seq
    offset	-  go downstream by distance specified by multiplier (upstream if < 0),
         in genomic context.
    del-at	-  excise sequence at location
         if multiplier is specified, delete len(location)*multiplier
         positions downstream
    ins-before	-  insert seq before the location.start
-->
                    <xs:enumeration value="morph" ncbi:intvalue="0"/>
                    <xs:enumeration value="offset" ncbi:intvalue="1"/>
                    <xs:enumeration value="del-at" ncbi:intvalue="2"/>
                    <xs:enumeration value="ins-before" ncbi:intvalue="3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Variation instance -->
<xs:element name="Variation-inst">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Variation-inst_type">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    unknown	-  delta=[]
    identity	-  delta=[]
    inv	-  delta=[del, ins.seq=
         RevComp(variation-location)]
    snv	-  delta=[morph of length 1]
         NOTE: this is snV not snP; the latter
         requires frequency-based validation to be
         established in VariantProperties
         the strict definition of SNP is an SNV with
         an established population frequency of at
         least 1% in at least 1 popuplation
    mnp	-  delta=[morph of length >1]
    delins	-  delta=[del, ins]
    del	-  delta=[del]
    ins	-  delta=[ins]
    microsatellite	-  delta=[del, ins.seq= repeat-unit with fuzzy
         multiplier]
         variation-location is the microsat expansion
         on the sequence
    transposon	-  delta=[del, ins.seq= known donor or 'this']
         variation-location is equiv of transposon
         locs.
    cnv	-  delta=[del, ins= 'this' with fuzzy
         multiplier]
    direct-copy	-  delta=[ins.seq= upstream location on the
         same strand]
    rev-direct-copy	-  delta=[ins.seq= downstream location on the
         same strand]
    inverted-copy	-  delta=[ins.seq= upstream location on the
         opposite strand]
    everted-copy	-  delta=[ins.seq= downstream location on the
         opposite strand]
    translocation	-  delta=like delins
    prot-missense	-  delta=[morph of length 1]
    prot-nonsense	-  delta=[del]; variation-location is the tail
         of the protein being truncated
    prot-neutral	-  delta=[morph of length 1]
    prot-silent	-  delta=[morph of length 1, same AA as at
         variation-location]
    prot-other	-  delta=any
    other	-  delta=any
-->
                    <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                    <xs:enumeration value="identity" ncbi:intvalue="1"/>
                    <xs:enumeration value="inv" ncbi:intvalue="2"/>
                    <xs:enumeration value="snv" ncbi:intvalue="3"/>
                    <xs:enumeration value="mnp" ncbi:intvalue="4"/>
                    <xs:enumeration value="delins" ncbi:intvalue="5"/>
                    <xs:enumeration value="del" ncbi:intvalue="6"/>
                    <xs:enumeration value="ins" ncbi:intvalue="7"/>
                    <xs:enumeration value="microsatellite" ncbi:intvalue="8"/>
                    <xs:enumeration value="transposon" ncbi:intvalue="9"/>
                    <xs:enumeration value="cnv" ncbi:intvalue="10"/>
                    <xs:enumeration value="direct-copy" ncbi:intvalue="11"/>
                    <xs:enumeration value="rev-direct-copy" ncbi:intvalue="12"/>
                    <xs:enumeration value="inverted-copy" ncbi:intvalue="13"/>
                    <xs:enumeration value="everted-copy" ncbi:intvalue="14"/>
                    <xs:enumeration value="translocation" ncbi:intvalue="15"/>
                    <xs:enumeration value="prot-missense" ncbi:intvalue="16"/>
                    <xs:enumeration value="prot-nonsense" ncbi:intvalue="17"/>
                    <xs:enumeration value="prot-neutral" ncbi:intvalue="18"/>
                    <xs:enumeration value="prot-silent" ncbi:intvalue="19"/>
                    <xs:enumeration value="prot-other" ncbi:intvalue="20"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!-- Sequence that replaces the location, in biological order. -->
      <xs:element name="Variation-inst_delta">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Delta-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variation-inst_observation" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    asserted	-  inst represents the asserted base at a
         position
    reference	-  inst represents the reference base at the
         position
    variant	-  inst represent the observed variant at a
         given position
-->
                    <xs:enumeration value="asserted" ncbi:intvalue="1"/>
                    <xs:enumeration value="reference" ncbi:intvalue="2"/>
                    <xs:enumeration value="variant" ncbi:intvalue="4"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
