es.rcs.tfm/es.rcs.tfm.xml/src/main/xsd/others/NCBI_ScoreMat.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "scoremat.asn"
     ::DATATOOL:: by application DATATOOL version 2.4.4
     ::DATATOOL:: on 04/10/2019 23:03:59
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-ScoreMat"
================================================= -->
<!--
$Id: scoremat.asn 563704 2018-05-14 15:46:55Z fongah2 $
 ===========================================================================

                            PUBLIC DOMAIN NOTICE
               National Center for Biotechnology Information

  This software/database is a "United States Government Work" under the
  terms of the United States Copyright Act.  It was written as part of
  the author's official duties as a United States Government employee and
  thus cannot be copyrighted.  This software/database is freely available
  to the public for use. The National Library of Medicine and the U.S.
  Government have not placed any restriction on its use or reproduction.

  Although all reasonable efforts have been taken to ensure the accuracy
  and reliability of the software and data, the NLM and the U.S.
  Government do not and cannot warrant the performance or results that
  may be obtained by using this software or data. The NLM and the U.S.
  Government disclaim all warranties, express or implied, including
  warranties of performance, merchantability or fitness for any particular
  purpose.

  Please cite the author in any work or product based on this material.

 ===========================================================================

 Author:  Christiam Camacho

 File Description:
      ASN.1 definitions for scoring matrix

 ===========================================================================
-->
<!-- Elements used by other modules:
          Pssm,
          PssmIntermediateData,
          PssmFinalData,
          PssmParameters,
          PssmWithParameters -->

<!-- Elements referenced from other modules:
          Object-id FROM NCBI-General,
          Seq-entry FROM NCBI-Seqset -->

<!-- ============================================ -->



<!--
 a rudimentary block/core-model, to be used with block-based alignment 
 routines and threading
-->
<xs:element name="BlockProperty">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="BlockProperty_type">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    threshold	-  score threshold for heuristics
    minscore	-  observed minimum score in CD
    maxscore	-  observed maximum score in CD
    meanscore	-  observed mean score in CD
    variance	-  observed score variance
    name	-  just name the block
    is-optional	-  block may not have to be used    
-->
                    <xs:enumeration value="unassigned" ncbi:intvalue="0"/>
                    <xs:enumeration value="threshold" ncbi:intvalue="1"/>
                    <xs:enumeration value="minscore" ncbi:intvalue="2"/>
                    <xs:enumeration value="maxscore" ncbi:intvalue="3"/>
                    <xs:enumeration value="meanscore" ncbi:intvalue="4"/>
                    <xs:enumeration value="variance" ncbi:intvalue="5"/>
                    <xs:enumeration value="name" ncbi:intvalue="10"/>
                    <xs:enumeration value="is-optional" ncbi:intvalue="20"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="BlockProperty_intvalue" type="xs:integer" minOccurs="0"/>
      <xs:element name="BlockProperty_textvalue" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="CoreBlock">
  <xs:complexType>
    <xs:sequence>
<!-- begin of block on query -->
      <xs:element name="CoreBlock_start" type="xs:integer"/>
<!-- end of block on query -->
      <xs:element name="CoreBlock_stop" type="xs:integer"/>
<!-- optional N-terminal extension -->
      <xs:element name="CoreBlock_minstart" type="xs:integer" minOccurs="0"/>
<!-- optional C-terminal extension -->
      <xs:element name="CoreBlock_maxstop" type="xs:integer" minOccurs="0"/>
      <xs:element name="CoreBlock_property" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="BlockProperty"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="LoopConstraint">
  <xs:complexType>
    <xs:sequence>
<!-- minimum length of unaligned region -->
      <xs:element name="LoopConstraint_minlength" type="xs:integer" default="0"/>
<!-- maximum length of unaligned region -->
      <xs:element name="LoopConstraint_maxlength" type="xs:integer" default="100000"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="CoreDef">
  <xs:complexType>
    <xs:sequence>
<!-- number of core elements/blocks -->
      <xs:element name="CoreDef_nblocks" type="xs:integer"/>
<!-- nblocks locations -->
      <xs:element name="CoreDef_blocks">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="CoreBlock"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- (nblocks+1) constraints -->
      <xs:element name="CoreDef_loops">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="LoopConstraint"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- is it a discontinuous domain -->
      <xs:element name="CoreDef_isDiscontinuous" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- positions of long insertions -->
      <xs:element name="CoreDef_insertions" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="CoreDef_insertions_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Site-annot">
  <xs:complexType>
    <xs:sequence>
<!-- location of the annotation, -->
      <xs:element name="Site-annot_startPosition" type="xs:integer"/>
<!--
 start and stop position in the
 PSSM
-->
      <xs:element name="Site-annot_stopPosition" type="xs:integer"/>
<!--
 holds description or names, that
 can be used for labels in
 visualization
-->
      <xs:element name="Site-annot_description" type="xs:string" minOccurs="0"/>
<!--
 type of the annotated feature,
 similarly to Align-annot in
 NCBI-Cdd
-->
      <xs:element name="Site-annot_type" type="xs:integer" minOccurs="0"/>
<!--
 additional names for
 the annotation
-->
      <xs:element name="Site-annot_aliases" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Site-annot_aliases_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- motif to validate mapping of sites -->
      <xs:element name="Site-annot_motif" type="xs:string" minOccurs="0"/>
<!--
 0 for validation
 1 for motif in seqloc
 2 for multiple motifs in seqloc
-->
      <xs:element name="Site-annot_motifuse" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Site-annot-set">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Site-annot"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 ===========================================================================
 PSI-BLAST, formatrpsdb, RPS-BLAST workflow:
 ===========================================

 Two possible inputs to PSI-BLAST and formatrpsdb:
 1) PssmWithParams where pssm field contains intermediate PSSM data (matrix 
    of frequency ratios)
 2) PssmWithParams where pssm field contains final PSSM data (matrix of 
    scores and statistical parameters) - such as written by cddumper

 In case 1, PSI-BLAST's PSSM engine is invoked to create the PSSM and perform
 the PSI-BLAST search or build the PSSM to then build the RPS-BLAST database.
 In case 2, PSI-BLAST's PSSM engine is not invoked and the matrix of scores
 statistical parameters are used to perform the search in PSI-BLAST and the
 same data and the data in PssmWithParams::params::rpsdbparams is used to
 build the PSSM and ultimately the RPS-BLAST database
 
 
                 reads    ++++++++++++++ writes
 PssmWithParams  ====>    + PSI-BLAST  + =====> PssmWithParams
                          ++++++++++++++             |  ^
         ^                                           |  |
         |                                           |  |
         +===========================================+  |
                                                     |  |
         +===========================================+  |
         |                                              |
 reads   |                                              | 
         v                                              |
  +++++++++++++++ writes +++++++++++++++++++++++        |
  | formatrpsdb | =====> | RPS-BLAST databases |        |
  +++++++++++++++        +++++++++++++++++++++++        |
                                   ^                    |
                                   |                    |
                                   | reads              |
                             +++++++++++++              |
                             | RPS-BLAST |              |
                             +++++++++++++              |
                                                        |
       reads  ++++++++++++               writes         |
  Cdd ======> | cddumper | =============================+
              ++++++++++++

 ===========================================================================
 Contains the PSSM's scores and its associated statistical parameters. 
 Dimensions and order in which scores are stored must be the same as that 
 specified in Pssm::numRows, Pssm::numColumns, and Pssm::byrow
-->
<xs:element name="PssmFinalData">
  <xs:complexType>
    <xs:sequence>
<!-- PSSM's scores -->
      <xs:element name="PssmFinalData_scores">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmFinalData_scores_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Karlin & Altschul parameter produced during the PSSM's calculation -->
      <xs:element name="PssmFinalData_lambda" type="xs:double"/>
<!-- Karlin & Altschul parameter produced during the PSSM's calculation -->
      <xs:element name="PssmFinalData_kappa" type="xs:double"/>
<!-- Karlin & Altschul parameter produced during the PSSM's calculation -->
      <xs:element name="PssmFinalData_h" type="xs:double"/>
<!--
 scaling factor used to obtain more precision when building the PSSM.
 (i.e.: scores are scaled by this value). By default, PSI-BLAST's PSSM
 engine generates PSSMs which are not scaled-up, however, if PSI-BLAST is
 given a PSSM which contains a scaled-up PSSM (indicated by having a
 scalingFactor greater than 1), then it will scale down the PSSM to
 perform the initial stages of the search with it.
 N.B.: When building RPS-BLAST databases, if formatrpsdb is provided 
 scaled-up PSSMs, it will ensure that all PSSMs used to build the 
 RPS-BLAST database are scaled by the same factor (otherwise, RPS-BLAST 
 will silently produce incorrect results).
-->
      <xs:element name="PssmFinalData_scalingFactor" type="xs:integer" default="1"/>
<!-- Karlin & Altschul parameter produced during the PSSM's calculation -->
      <xs:element name="PssmFinalData_lambdaUngapped" type="xs:double" minOccurs="0"/>
<!-- Karlin & Altschul parameter produced during the PSSM's calculation -->
      <xs:element name="PssmFinalData_kappaUngapped" type="xs:double" minOccurs="0"/>
<!-- Karlin & Altschul parameter produced during the PSSM's calculation -->
      <xs:element name="PssmFinalData_hUngapped" type="xs:double" minOccurs="0"/>
<!-- Word score threshold -->
      <xs:element name="PssmFinalData_wordScoreThreshold" type="xs:double" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Contains the PSSM's intermediate data used to create the PSSM's scores 
 and statistical parameters. Dimensions and order in which scores are 
 stored must be the same as that specified in Pssm::numRows, 
 Pssm::numColumns, and Pssm::byrow
-->
<xs:element name="PssmIntermediateData">
  <xs:complexType>
    <xs:sequence>
<!--
 observed residue frequencies (or counts) per position of the PSSM 
 (prior to application of pseudocounts)
-->
      <xs:element name="PssmIntermediateData_resFreqsPerPos" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_resFreqsPerPos_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Weighted observed residue frequencies per position of the PSSM.
 (N.B.: each position's weights should add up to 1.0).
 This field corresponds to f_i (f sub i) in equation 2 of 
 Nucleic Acids Res. 2001 Jul 15;29(14):2994-3005.
 NOTE: this is needed for diagnostics information only (i.e.:
 -out_ascii_pssm option in psiblast)
-->
      <xs:element name="PssmIntermediateData_weightedResFreqsPerPos" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_weightedResFreqsPerPos_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- PSSM's frequency ratios -->
      <xs:element name="PssmIntermediateData_freqRatios">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_freqRatios_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Information content per position of the PSSM
 NOTE: this is needed for diagnostics information only (i.e.:
 -out_ascii_pssm option in psiblast)
-->
      <xs:element name="PssmIntermediateData_informationContent" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_informationContent_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Relative weight for columns of the PSSM without gaps to pseudocounts
 NOTE: this is needed for diagnostics information only (i.e.:
 -out_ascii_pssm option in psiblast)
-->
      <xs:element name="PssmIntermediateData_gaplessColumnWeights" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_gaplessColumnWeights_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Used in sequence weights computation
 NOTE: this is needed for diagnostics information only (i.e.:
 -out_ascii_pssm option in psiblast)
-->
      <xs:element name="PssmIntermediateData_sigma" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_sigma_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Length of the aligned regions per position of the query sequence
 NOTE: this is needed for diagnostics information only (i.e.:
 -out_ascii_pssm option in psiblast)
-->
      <xs:element name="PssmIntermediateData_intervalSizes" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_intervalSizes_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Number of matching sequences per position of the PSSM (including the
 query)
 NOTE: this is needed for diagnostics information only (i.e.:
 -out_ascii_pssm option in psiblast)
-->
      <xs:element name="PssmIntermediateData_numMatchingSeqs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_numMatchingSeqs_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Number of independent observations per position of the PSSM
 NOTE: this is needed for building CDD database for DELTA-BLAST
-->
      <xs:element name="PssmIntermediateData_numIndeptObsr" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PssmIntermediateData_numIndeptObsr_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Position-specific scoring matrix

 Column indices on the PSSM refer to the positions corresponding to the
 query/master sequence, i.e. the number of columns (N) is the same
 as the length of the query/master sequence. 
 Row indices refer to individual amino acid types, i.e. the number of 
 rows (M) is the same as the number of different residues in the 
 alphabet we use. Consequently, row labels are amino acid identifiers.

 PSSMs are stored as linear arrays of integers. By default, we store
 them column-by-column, M values for the first column followed by M
 values for the second column, and so on. In order to provide
 flexibility for external applications, the boolean field "byrow" is 
 provided to specify the storage order.
-->
<xs:element name="Pssm">
  <xs:complexType>
    <xs:sequence>
<!-- Is the this a protein or nucleotide scoring matrix? -->
      <xs:element name="Pssm_isProtein" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="true">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- PSSM identifier -->
      <xs:element name="Pssm_identifier" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Object-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 The dimensions of the matrix are returned so the client can
 verify that all data was received.
 number of rows
-->
      <xs:element name="Pssm_numRows" type="xs:integer"/>
<!-- number of columns -->
      <xs:element name="Pssm_numColumns" type="xs:integer"/>
<!--
 row-labels is given to note the order of residue types so that it can
 be cross-checked between applications.
 If this field is not given, the matrix values are presented in 
 order of the alphabet ncbistdaa is used for protein, ncbi4na for nucl.
 for proteins the values returned correspond to 
 (-,-), (-,A), (-,B), (-,C) ... (A,-), (A,A), (A,B), (A,C) ...
-->
      <xs:element name="Pssm_rowLabels" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Pssm_rowLabels_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- are matrices stored row by row? -->
      <xs:element name="Pssm_byRow" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- PSSM representative sequence (master)  -->
      <xs:element name="Pssm_query" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 both intermediateData and finalData can be provided, but at least one of
 them must be provided.
 N.B.: by default PSI-BLAST will return the PSSM in its PssmIntermediateData 
 representation. 
 Intermediate or final data for the PSSM
-->
      <xs:element name="Pssm_intermediateData" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PssmIntermediateData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Final representation for the PSSM -->
      <xs:element name="Pssm_finalData" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PssmFinalData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 This structure is used to create the RPS-BLAST database auxiliary file 
 (*.aux) and it contains parameters set at creation time of the PSSM.
 Also, the matrixName field is used by formatrpsdb to build a PSSM from 
 a Pssm structure which only contains PssmIntermediateData.
-->
<xs:element name="FormatRpsDbParameters">
  <xs:complexType>
    <xs:sequence>
<!--
 name of the underlying score matrix whose frequency ratios were
 used in PSSM construction (e.g.: BLOSUM62)
-->
      <xs:element name="FormatRpsDbParameters_matrixName" type="xs:string"/>
<!-- gap opening penalty corresponding to the matrix above -->
      <xs:element name="FormatRpsDbParameters_gapOpen" type="xs:integer" minOccurs="0"/>
<!-- gap extension penalty corresponding to the matrix above -->
      <xs:element name="FormatRpsDbParameters_gapExtend" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Populated by PSSM engine of PSI-BLAST, original source for these values 
 are the PSI-BLAST options specified using the BLAST options API
-->
<xs:element name="PssmParameters">
  <xs:complexType>
    <xs:sequence>
<!--
 pseudocount constant used for PSSM. This field corresponds to beta in 
 equation 2 of Nucleic Acids Res. 2001 Jul 15;29(14):2994-3005.
-->
      <xs:element name="PssmParameters_pseudocount" type="xs:integer" minOccurs="0"/>
<!--
 data needed by formatrpsdb to create RPS-BLAST databases. matrixName is
 populated by PSI-BLAST
-->
      <xs:element name="PssmParameters_rpsdbparams" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FormatRpsDbParameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 alignment constraints needed by sequence-structure threader
 and other global or local block-alignment algorithms
-->
      <xs:element name="PssmParameters_constraints" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="CoreDef"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- bit score threshold for specific conserved domain hits -->
      <xs:element name="PssmParameters_bitScoreThresh" type="xs:double" minOccurs="0"/>
<!-- conserved functional sites with annotations -->
      <xs:element name="PssmParameters_annotatedSites" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Site-annot-set"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Envelope containing PSSM and the parameters used to create it. 
 Provided for use in PSI-BLAST, formatrpsdb, and for the structure group.
-->
<xs:element name="PssmWithParameters">
  <xs:complexType>
    <xs:sequence>
<!--
 This field is applicable to PSI-BLAST and formatrpsdb.
 When both the intermediate and final PSSM data are provided in this
 field, the final data (matrix of scores and associated statistical
 parameters) takes precedence and that data is used for further
 processing. The rationale for this is that the PSSM's scores and
 statistical parameters might have been calculated by other applications
 and it might not be possible to recreate it by using PSI-BLAST's PSSM 
 engine.
-->
      <xs:element name="PssmWithParameters_pssm">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Pssm"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 This field's rpsdbparams is used to specify the values of options 
 for processing by formatrpsdb. If these are not set, the command 
 line defaults of formatrpsdb are applied. This field is used
 by PSI-BLAST to verify that the underlying scorem matrix used to BUILD
 the PSSM is the same as the one being specified through the BLAST
 Options API. If this field is omitted, no verification will be
 performed, so be careful to keep track of what matrix was used to build
 the PSSM or else the results produced by PSI-BLAST will be unreliable.
-->
      <xs:element name="PssmWithParameters_params" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PssmParameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
