es.rcs.tfm/es.rcs.tfm.xml/src/main/xsd/others/NCBI_Project.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "proj.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Project"
================================================= -->
<!--
$Revision: 6.3 $
****************************************************************

  NCBI Project Definition Module
  by Jim Ostell and Jonathan Kans, 1998

****************************************************************
-->
<!-- Elements used by other modules:
          Project,
          Project-item -->

<!-- Elements referenced from other modules:
          Date FROM NCBI-General,
          PubMedId FROM NCBI-Biblio,
          Seq-id,
          Seq-loc FROM NCBI-Seqloc,
          Seq-annot,
          Pubdesc FROM NCBI-Sequence,
          Seq-entry FROM NCBI-Seqset,
          Pubmed-entry FROM NCBI-PubMed -->

<!-- ============================================ -->



<xs:element name="Project">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Project_descr" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Project-descr"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project_data">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Project-item"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Project-item">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Project-item_pmuid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Project-item_pmuid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_protuid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Project-item_protuid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_nucuid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Project-item_nucuid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_sequid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Project-item_sequid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_genomeuid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Project-item_genomeuid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_structuid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Project-item_structuid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_pmid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PubMedId"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_protid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_nucid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_seqid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_genomeid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_structid">
        <xs:complexType/>
      </xs:element>
      <xs:element name="Project-item_pment">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Pubmed-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_protent">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_nucent">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_seqent">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_genomeent">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_structent">
        <xs:complexType/>
      </xs:element>
      <xs:element name="Project-item_seqannot">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-annot"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_loc">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-item_proj">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Project"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Project-descr">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Project-descr_id">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Project-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Project-descr_name" type="xs:string" minOccurs="0"/>
      <xs:element name="Project-descr_descr" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Projdesc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Projdesc">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Projdesc_pub">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Pubdesc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Projdesc_date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Projdesc_comment" type="xs:string"/>
      <xs:element name="Projdesc_title" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Project-id" type="xs:string"/>

</xs:schema>
