es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/Docsum_3_2.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "docsum.asn"
     ::DATATOOL:: by application DATATOOL version 2.0.0
     ::DATATOOL:: on 02/11/2011 23:04:43
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "Docsum-3-2"
================================================= -->
<!--
 ============================================
 ::DATATOOL:: Generated from "docsum_3.2.xsd"
 ::DATATOOL:: by application DATATOOL version 2.1.0
 ::DATATOOL:: on 08/17/2010 10:11:21
 ============================================
 edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Michael Kholodov (National Library of Medicine) 
 edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Michael Feolo (NCBI/NLM/NIH) 
-->


<xs:element name="Assay">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Assay_attlist">
        <xs:complexType>
          <xs:all>
            <xs:element name="Assay_attlist_handle" type="xs:string" minOccurs="0"/>
            <xs:element name="Assay_attlist_batch" type="xs:string" minOccurs="0"/>
            <xs:element name="Assay_attlist_batchId" type="xs:integer" minOccurs="0"/>
            <xs:element name="Assay_attlist_batchType" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="snpassay"/>
                      <xs:enumeration value="validation"/>
                      <xs:enumeration value="doublehit"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Assay_attlist_molType" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="genomic"/>
                      <xs:enumeration value="cDNA"/>
                      <xs:enumeration value="mito"/>
                      <xs:enumeration value="chloro"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Assay_attlist_sampleSize" type="xs:integer" minOccurs="0"/>
            <xs:element name="Assay_attlist_population" type="xs:string" minOccurs="0"/>
            <xs:element name="Assay_attlist_linkoutUrl" type="xs:string" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_method">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Assay_method_eMethod" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Assay_method_eMethod_attlist">
                    <xs:complexType>
                      <xs:all>
<!--Submitters method identifier -->
                        <xs:element name="Assay_method_eMethod_attlist_name" type="xs:string" minOccurs="0"/>
<!--dbSNP method identifier -->
                        <xs:element name="Assay_method_eMethod_attlist_id" type="xs:string" minOccurs="0"/>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
<!--
description of deviation from/addition to
										given method 
-->
                  <xs:element name="Assay_method_eMethod_exception" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_taxonomy">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Assay_taxonomy_attlist">
              <xs:complexType>
                <xs:all>
<!--
NCBI taxonomy ID for
									variation
-->
                  <xs:element name="Assay_taxonomy_attlist_id" type="xs:integer"/>
                  <xs:element name="Assay_taxonomy_attlist_organism" type="xs:string" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="Assay_taxonomy_taxonomy">
              <xs:complexType/>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_strains" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Assay_strains_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_comment" type="xs:string" minOccurs="0"/>
      <xs:element name="Assay_citation" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Assay_citation_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
A collection of genome sequence records (curated gene regions (NG's),
				contigs (NWNT's) and chromosomes (NC/AC's) produced by a genome sequence project.
				Structure is populated from ContigInfo tables.
-->
<xs:element name="Assembly">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Assembly_attlist">
        <xs:complexType>
          <xs:all>
<!--
dbSNP build number defining the rsid set aligned to this
						assembly
-->
            <xs:element name="Assembly_attlist_dbSnpBuild" type="xs:integer"/>
<!--
assembly build number with possible 'subbuild' version
						numbers to reflect updates in gene annotation (human e.g. 34_3, 35_1,
						36_1)
-->
            <xs:element name="Assembly_attlist_genomeBuild" type="xs:string"/>
<!--
High-level classification of the assembly to distinguish
						reference projects from alternate solutions. GroupLabel field from
						organism/build-specific ContigInfo tables. "reference" is occasionally used
						as the preferred assembly; standards will converge as additional organism
						genome projects are finished. Note that some organism assembly names include
						extended characters like '~' and '/' that may be incompatible with OS
						filename conventions.
-->
            <xs:element name="Assembly_attlist_groupLabel" type="xs:string" minOccurs="0"/>
<!--
Name of the group(s) or organization(s) that generated the
						assembly
-->
            <xs:element name="Assembly_attlist_assemblySource" type="xs:string" minOccurs="0"/>
<!--Marks the current genomic assembly -->
            <xs:element name="Assembly_attlist_current" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Assembly_attlist_reference" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assembly_component" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Component"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assembly_snpStat">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Assembly_snpStat_attlist">
              <xs:complexType>
                <xs:all>
                  <xs:element name="Assembly_snpStat_attlist_mapWeight">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="unmapped"/>
                            <xs:enumeration value="unique-in-contig"/>
                            <xs:enumeration value="two-hits-in-contig"/>
                            <xs:enumeration value="less-10-hits"/>
                            <xs:enumeration value="multiple-hits"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
<!--
number of distinct chromosomes in the
									mapset
-->
                  <xs:element name="Assembly_snpStat_attlist_chromCount" type="xs:integer" minOccurs="0"/>
<!--
number of distinct contigs [ gi |
									accession[.version] ] in the mapset
-->
                  <xs:element name="Assembly_snpStat_attlist_placedContigCount" type="xs:integer" minOccurs="0"/>
<!--
number of sequence postions to a contig with
									unknown chromosomal assignment
-->
                  <xs:element name="Assembly_snpStat_attlist_unplacedContigCount" type="xs:integer" minOccurs="0"/>
<!--
total number of sequence positions in the
									mapset
-->
                  <xs:element name="Assembly_snpStat_attlist_seqlocCount" type="xs:integer" minOccurs="0"/>
<!--
Number of hits to alternative genomic haplotypes
									(e.g. HLA DR region, KIR, or pseudo-autosomal regions like PAR)
									within the assembly mapset. Note that positions on haplotypes
									defined in other assemblies (a different assembly_group_label
									value) will not be counted in this value.
-->
                  <xs:element name="Assembly_snpStat_attlist_hapCount" type="xs:integer" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="Assembly_snpStat_snpStat">
              <xs:complexType/>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
URL value from dbSNP_main.BaseURL links table. attributes provide
				context information and URL id that is referenced within individual refSNP
				objects.
-->
<xs:element name="BaseURL">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="BaseURL_attlist">
        <xs:complexType>
          <xs:all>
<!--
Resource identifier from
								dbSNP_main.baseURL.
-->
            <xs:element name="BaseURL_attlist_urlId" type="xs:integer" minOccurs="0"/>
<!--Name of linked resource -->
            <xs:element name="BaseURL_attlist_resourceName" type="xs:string" minOccurs="0"/>
<!--
identifier expected by resource for
								URL
-->
            <xs:element name="BaseURL_attlist_resourceId" type="xs:string" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
<!--
URL value from dbSNP_main.BaseURL links table. attributes provide
				context information and URL id that is referenced within individual refSNP
				objects.
-->
      <xs:element name="BaseURL_baseURL" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Component">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Component_attlist">
        <xs:complexType>
          <xs:all>
            <xs:element name="Component_attlist_componentType" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="contig"/>
                      <xs:enumeration value="mrna"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!--
dbSNP contig_id used to join on contig hit / mapset data to
						these assembly properties
-->
            <xs:element name="Component_attlist_ctgId" type="xs:integer" minOccurs="0"/>
<!--
Accession[.version] for the sequence
						component
-->
            <xs:element name="Component_attlist_accession" type="xs:string" minOccurs="0"/>
<!--
contig name defined as either a submitter local id, element
						of a whole genome assembly set, or internal NCBI local
						id
-->
            <xs:element name="Component_attlist_name" type="xs:string" minOccurs="0"/>
<!--
Organism appropriate chromosome tag, 'Un' reserved for
						default case of unplaced components
-->
            <xs:element name="Component_attlist_chromosome" type="xs:string" minOccurs="0"/>
<!--
component starting position on the chromosome (base 0
						inclusive)
-->
            <xs:element name="Component_attlist_start" type="xs:integer" minOccurs="0"/>
<!--
component ending position on the chromosome (base 0
						inclusive)
-->
            <xs:element name="Component_attlist_end" type="xs:integer" minOccurs="0"/>
            <xs:element name="Component_attlist_orientation" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="fwd"/>
                      <xs:enumeration value="rev"/>
                      <xs:enumeration value="unknown"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!--
NCBI gi for component sequence (equivalent to
						accession.version) for nucleotide sequence.
-->
            <xs:element name="Component_attlist_gi" type="xs:string" minOccurs="0"/>
<!--
Identifier label for the genome assembly that defines the
						contigs in this mapset and their placement within the organism genome.
-->
            <xs:element name="Component_attlist_groupTerm" type="xs:string" minOccurs="0"/>
<!--Display label for component -->
            <xs:element name="Component_attlist_contigLabel" type="xs:string" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Component_mapLoc">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="MapLoc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--Set of dbSNP refSNP docsums, version 3.2 -->
<xs:element name="ExchangeSet">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ExchangeSet_attlist">
        <xs:complexType>
          <xs:all>
<!--
set-type: full dump; from query; single
						refSNP
-->
            <xs:element name="ExchangeSet_attlist_setType" type="xs:string" minOccurs="0"/>
<!--
content depth: brief XML (only refSNP properties and summary
						subSNP element content); full XML (full refSNP, full subSNP content; all
						flanking sequences) 
-->
            <xs:element name="ExchangeSet_attlist_setDepth" type="xs:string" minOccurs="0"/>
<!--
version number of docsum.asn/docsum.dtd
						specification
-->
            <xs:element name="ExchangeSet_attlist_specVersion" type="xs:string" minOccurs="0"/>
<!--build number of database for this export -->
            <xs:element name="ExchangeSet_attlist_dbSnpBuild" type="xs:integer" minOccurs="0"/>
<!--Generated date -->
            <xs:element name="ExchangeSet_attlist_generated" type="xs:string" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_sourceDatabase">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ExchangeSet_sourceDatabase_attlist">
              <xs:complexType>
                <xs:all>
<!--
NCBI taxonomy ID for
									variation
-->
                  <xs:element name="ExchangeSet_sourceDatabase_attlist_taxId" type="xs:integer"/>
<!--
common name for species used as part of database
									name.
-->
                  <xs:element name="ExchangeSet_sourceDatabase_attlist_organism" type="xs:string"/>
<!--organism abbreviation used in dbSNP. -->
                  <xs:element name="ExchangeSet_sourceDatabase_attlist_dbSnpOrgAbbr" type="xs:string" minOccurs="0"/>
<!--
organism abbreviation used within NCBI genome
									pipeline data dumps.
-->
                  <xs:element name="ExchangeSet_sourceDatabase_attlist_gpipeOrgAbbr" type="xs:string" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="ExchangeSet_sourceDatabase_sourceDatabase">
              <xs:complexType/>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_rs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Rs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_assay" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Assay"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_query" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ExchangeSet_query_attlist">
              <xs:complexType>
                <xs:all>
<!--yyyy-mm-dd -->
                  <xs:element name="ExchangeSet_query_attlist_date" type="xs:string" minOccurs="0"/>
<!--
Query terms or search
									constraints
-->
                  <xs:element name="ExchangeSet_query_attlist_string" type="xs:string" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="ExchangeSet_query_query">
              <xs:complexType/>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_summary">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ExchangeSet_summary_attlist">
              <xs:complexType>
                <xs:all>
<!--Total number of refsnp-ids in this exchange set -->
                  <xs:element name="ExchangeSet_summary_attlist_numRsIds" type="xs:integer" minOccurs="0"/>
<!--
Total length of exemplar flanking
									sequences
-->
                  <xs:element name="ExchangeSet_summary_attlist_totalSeqLength" type="xs:integer" minOccurs="0"/>
<!--
Total number of contig locations from
									SNPContigLoc
-->
                  <xs:element name="ExchangeSet_summary_attlist_numContigHits" type="xs:integer" minOccurs="0"/>
<!--
Total number of locus ids from
									SNPContigLocusId
-->
                  <xs:element name="ExchangeSet_summary_attlist_numGeneHits" type="xs:integer" minOccurs="0"/>
<!--
Total number of gi hits from
									MapLink
-->
                  <xs:element name="ExchangeSet_summary_attlist_numGiHits" type="xs:integer" minOccurs="0"/>
<!--
Total number of 3D structures from
									SNP3D
-->
                  <xs:element name="ExchangeSet_summary_attlist_num3dStructs" type="xs:integer" minOccurs="0"/>
<!--
Total number of allele frequences from
									SubPopAllele
-->
                  <xs:element name="ExchangeSet_summary_attlist_numAlleleFreqs" type="xs:integer" minOccurs="0"/>
<!--
Total number of STS hits from
									SnpInSts
-->
                  <xs:element name="ExchangeSet_summary_attlist_numStsHits" type="xs:integer" minOccurs="0"/>
<!--
Total number of unigene cluster ids from
									UnigeneSnp
-->
                  <xs:element name="ExchangeSet_summary_attlist_numUnigeneCids" type="xs:integer" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="ExchangeSet_summary_summary">
              <xs:complexType/>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_baseURL">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="BaseURL"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
functional relationship of SNP (and possibly alleles) to genes at
				contig location as defined in organism-specific bxxx_SNPContigLocusId_xxx
				tables.
-->
<xs:element name="FxnSet">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="FxnSet_attlist">
        <xs:complexType>
          <xs:all>
<!--gene-id of gene as aligned to contig -->
            <xs:element name="FxnSet_attlist_geneId" type="xs:integer" minOccurs="0"/>
<!--
symbol (official if present in Entrez Gene) of
						gene
-->
            <xs:element name="FxnSet_attlist_symbol" type="xs:string" minOccurs="0"/>
<!--mRNA accession if variation in transcript -->
            <xs:element name="FxnSet_attlist_mrnaAcc" type="xs:string" minOccurs="0"/>
<!--
mRNA sequence version if variation is in
						transcripot
-->
            <xs:element name="FxnSet_attlist_mrnaVer" type="xs:integer" minOccurs="0"/>
<!--protein accession if variation in protein -->
            <xs:element name="FxnSet_attlist_protAcc" type="xs:string" minOccurs="0"/>
<!--
protein version if variation is in
						protein
-->
            <xs:element name="FxnSet_attlist_protVer" type="xs:integer" minOccurs="0"/>
            <xs:element name="FxnSet_attlist_fxnClass" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="locus-region"/>
                      <xs:enumeration value="coding-unknown"/>
                      <xs:enumeration value="coding-synonymous"/>
                      <xs:enumeration value="coding-nonsynonymous"/>
                      <xs:enumeration value="mrna-utr"/>
                      <xs:enumeration value="intron"/>
                      <xs:enumeration value="splice-site"/>
                      <xs:enumeration value="reference"/>
                      <xs:enumeration value="coding-exception"/>
                      <xs:enumeration value="synonymy-unknown"/>
                      <xs:enumeration value="gene-segment"/>
                      <xs:enumeration value="near-gene-3"/>
                      <xs:enumeration value="near-gene-5"/>
                      <xs:enumeration value="nonsense"/>
                      <xs:enumeration value="missense"/>
                      <xs:enumeration value="frameshift"/>
                      <xs:enumeration value="utr-3"/>
                      <xs:enumeration value="utr-5"/>
                      <xs:enumeration value="splice-3"/>
                      <xs:enumeration value="splice-5"/>
                      <xs:enumeration value="cds-indel"/>
                      <xs:enumeration value="stop-gain"/>
                      <xs:enumeration value="stop-loss"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="FxnSet_attlist_readingFrame" type="xs:integer" minOccurs="0"/>
<!--
variation allele: * suffix indicates allele of contig at this
						location
-->
            <xs:element name="FxnSet_attlist_allele" type="xs:string" minOccurs="0"/>
<!--translated amino acid residue for allele -->
            <xs:element name="FxnSet_attlist_residue" type="xs:string" minOccurs="0"/>
<!--
position of the variant residue in peptide
						sequence
-->
            <xs:element name="FxnSet_attlist_aaPosition" type="xs:integer" minOccurs="0"/>
            <xs:element name="FxnSet_attlist_mrnaPosition" type="xs:integer" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
<!--
functional relationship of SNP (and possibly alleles) to genes at
				contig location as defined in organism-specific bxxx_SNPContigLocusId_xxx
				tables.
-->
      <xs:element name="FxnSet_fxnSet">
        <xs:complexType/>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
Position of a single hit of a variation on a
				contig
-->
<xs:element name="MapLoc">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="MapLoc_attlist">
        <xs:complexType>
          <xs:all>
<!--
beginning of variation as feature on
						contig
-->
            <xs:element name="MapLoc_attlist_asnFrom" type="xs:integer"/>
<!--
end position of variation as feature on
						contig
-->
            <xs:element name="MapLoc_attlist_asnTo" type="xs:integer"/>
            <xs:element name="MapLoc_attlist_locType">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="insertion"/>
                      <xs:enumeration value="exact"/>
                      <xs:enumeration value="deletion"/>
                      <xs:enumeration value="range-ins"/>
                      <xs:enumeration value="range-exact"/>
                      <xs:enumeration value="range-del"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!--alignment qualiity -->
            <xs:element name="MapLoc_attlist_alnQuality" type="xs:double" minOccurs="0"/>
            <xs:element name="MapLoc_attlist_orient" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="forward"/>
                      <xs:enumeration value="reverse"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!--
chromosome position as integer for
						sorting
-->
            <xs:element name="MapLoc_attlist_physMapInt" type="xs:integer" minOccurs="0"/>
<!--
nearest aligned position in 5' flanking sequence of
						snp
-->
            <xs:element name="MapLoc_attlist_leftFlankNeighborPos" type="xs:integer" minOccurs="0"/>
<!--nearest aligned position in 3' flanking sequence of snp -->
            <xs:element name="MapLoc_attlist_rightFlankNeighborPos" type="xs:integer" minOccurs="0"/>
<!--
nearest aligned position in 5' contig alignment of
						snp
-->
            <xs:element name="MapLoc_attlist_leftContigNeighborPos" type="xs:integer" minOccurs="0"/>
<!--
nearest aligned position in 3' contig alignment of
						snp
-->
            <xs:element name="MapLoc_attlist_rightContigNeighborPos" type="xs:integer" minOccurs="0"/>
<!--
number of Mismatched positions in this
						alignment
-->
            <xs:element name="MapLoc_attlist_numberOfMismatches" type="xs:integer" minOccurs="0"/>
<!--number of deletions in this alignment -->
            <xs:element name="MapLoc_attlist_numberOfDeletions" type="xs:integer" minOccurs="0"/>
<!--number of insetions in this alignment -->
            <xs:element name="MapLoc_attlist_numberOfInsertions" type="xs:integer" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="MapLoc_fxnSet" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="FxnSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="PrimarySequence">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="PrimarySequence_attlist">
        <xs:complexType>
          <xs:all>
            <xs:element name="PrimarySequence_attlist_dbSnpBuild" type="xs:integer"/>
            <xs:element name="PrimarySequence_attlist_gi" type="xs:integer"/>
            <xs:element name="PrimarySequence_attlist_source" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="submitter"/>
                      <xs:enumeration value="blastmb"/>
                      <xs:enumeration value="xm"/>
                      <xs:enumeration value="remap"/>
                      <xs:enumeration value="hgvs"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="PrimarySequence_attlist_accession" type="xs:string" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="PrimarySequence_mapLoc">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="MapLoc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
defines the docsum structure for refSNP clusters, where a refSNP
				cluster (rs) is a grouping of individual dbSNP submissions that all refer to the
				same variation. The refsnp provides a single unified record for annotation of NCBI
				resources such as reference genome sequence.
-->
<xs:element name="Rs">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Rs_attlist">
        <xs:complexType>
          <xs:all>
<!--refSNP (rs) number -->
            <xs:element name="Rs_attlist_rsId" type="xs:integer"/>
            <xs:element name="Rs_attlist_snpClass">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="snp"/>
                      <xs:enumeration value="in-del"/>
                      <xs:enumeration value="heterozygous"/>
                      <xs:enumeration value="microsatellite"/>
                      <xs:enumeration value="named-locus"/>
                      <xs:enumeration value="no-variation"/>
                      <xs:enumeration value="mixed"/>
                      <xs:enumeration value="multinucleotide-polymorphism"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Rs_attlist_snpType">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="notwithdrawn"/>
                      <xs:enumeration value="artifact"/>
                      <xs:enumeration value="gene-duplication"/>
                      <xs:enumeration value="duplicate-submission"/>
                      <xs:enumeration value="notspecified"/>
                      <xs:enumeration value="ambiguous-location"/>
                      <xs:enumeration value="low-map-quality"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Rs_attlist_molType">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="genomic"/>
                      <xs:enumeration value="cDNA"/>
                      <xs:enumeration value="mito"/>
                      <xs:enumeration value="chloro"/>
                      <xs:enumeration value="unknown"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!--
minimum reported success rate of all submissions in
						cluster
-->
            <xs:element name="Rs_attlist_validProbMin" type="xs:integer" minOccurs="0"/>
<!--
maximum reported success rate of all submissions in
						cluster
-->
            <xs:element name="Rs_attlist_validProbMax" type="xs:integer" minOccurs="0"/>
<!--
at least one genotype reported for this
						refSNP
-->
            <xs:element name="Rs_attlist_genotype" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Rs_attlist_bitField" type="xs:string" minOccurs="0"/>
            <xs:element name="Rs_attlist_taxId" type="xs:integer" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_het" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Rs_het_attlist">
              <xs:complexType>
                <xs:all>
                  <xs:element name="Rs_het_attlist_type">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="est"/>
                            <xs:enumeration value="obs"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
<!--Heterozygosity -->
                  <xs:element name="Rs_het_attlist_value" type="xs:double"/>
<!--
Standard error of Het
									estimate
-->
                  <xs:element name="Rs_het_attlist_stdError" type="xs:double" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
            <xs:element name="Rs_het_het">
              <xs:complexType/>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_validation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Rs_validation_attlist">
              <xs:complexType>
                <xs:all>
<!--
at least one subsnp in cluster has frequency data
									submitted
-->
                  <xs:element name="Rs_validation_attlist_byCluster" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
<!--Validated by allele frequency -->
                  <xs:element name="Rs_validation_attlist_byFrequency" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Rs_validation_attlist_byOtherPop" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
<!--
cluster has 2+ submissions, with 1+ submissions
									assayed with a non-computational method
-->
                  <xs:element name="Rs_validation_attlist_by2Hit2Allele" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
<!--Validated by HapMap Project -->
                  <xs:element name="Rs_validation_attlist_byHapMap" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
<!--Validated by 1000 Genomes Project -->
                  <xs:element name="Rs_validation_attlist_by1000G" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
<!--Suspected to be false SNP -->
                  <xs:element name="Rs_validation_attlist_suspect" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:all>
              </xs:complexType>
            </xs:element>
<!--
dbSNP batch-id's for other pop snp validation
										data.
-->
            <xs:element name="Rs_validation_otherPopBatchId" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Rs_validation_otherPopBatchId_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!--
dbSNP batch-id's for double-hit snp
										validation data. Use batch-id to get methods,
										etc.
-->
            <xs:element name="Rs_validation_twoHit2AlleleBatchId" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Rs_validation_twoHit2AlleleBatchId_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!--
Frequency validation class
										(1) low frequency variation that is cited in journal and other reputable sources 
										(2) greater than 5 percent minor allele freq in each and all populations 
										(4) greater than 5 percent minor allele freq in 1+ populations  
										(8) if the variant has 2+ minor allele count based on freq or genotype data
										(16) less than 1 percent minor allele freq in each and all populations 
										(32) less than 1 percent minor freq in 1+ populations
-->
            <xs:element name="Rs_validation_frequencyClass" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Rs_validation_frequencyClass_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!--
alidated by HapMap Project
										phase1-genotyped (1),  Phase 1 genotyped; filtered, non-redundant
										phase2-genotyped (2),  Phase 2 genotyped; filtered, non-redundant
										phase3-genotyped (4)   Phase 3 genotyped; filtered, non-redundant
-->
            <xs:element name="Rs_validation_hapMapPhase" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Rs_validation_hapMapPhase_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!--
Validated by 1000 Genomes Project (TGP)
										pilot 1 (1),
										pilot 2 (2),
										pilot 3 (4)
-->
            <xs:element name="Rs_validation_tGPPhase" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Rs_validation_tGPPhase_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!--
Suspected to be false SNP evidence
										Single Nucleotide Difference - paralogous genes (1),
										Genotype or base calling errors  (2),
										Submission evidence or errors (4),
										Others (8)
-->
            <xs:element name="Rs_validation_suspectEvidence" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Rs_validation_suspectEvidence_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_create">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Rs_create_attlist">
              <xs:complexType>
                <xs:all>
<!--
build number when the cluster was
									created
-->
                  <xs:element name="Rs_create_attlist_build" type="xs:integer" minOccurs="0"/>
<!--yyyy-mm-dd -->
                  <xs:element name="Rs_create_attlist_date" type="xs:string" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
<!--
date the refsnp cluster was
							instantiated
-->
            <xs:element name="Rs_create_create">
              <xs:complexType/>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_update" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Rs_update_attlist">
              <xs:complexType>
                <xs:all>
<!--
build number when the cluster was
									updated
-->
                  <xs:element name="Rs_update_attlist_build" type="xs:integer" minOccurs="0"/>
<!--yyyy-mm-dd -->
                  <xs:element name="Rs_update_attlist_date" type="xs:string" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
<!--
most recent date the cluster was updated (member added or
							deleted)
-->
            <xs:element name="Rs_update_update">
              <xs:complexType/>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_sequence">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Rs_sequence_attlist">
              <xs:complexType>
                <xs:all>
<!--
dbSNP ss# selected as source of refSNP flanking
									sequence, ss# part of ss-list below 
-->
                  <xs:element name="Rs_sequence_attlist_exemplarSs" type="xs:integer"/>
                  <xs:element name="Rs_sequence_attlist_ancestralAllele" type="xs:string" minOccurs="0"/>
                </xs:all>
              </xs:complexType>
            </xs:element>
<!--
5' sequence that flanks the
										variation
-->
            <xs:element name="Rs_sequence_seq5" type="xs:string" minOccurs="0"/>
<!--
list of all nucleotide alleles observed in
										ss-list members, correcting for reverse complementation of
										members reported in reverse orientation
-->
            <xs:element name="Rs_sequence_observed" type="xs:string"/>
<!--
3' sequence that flanks the
										variation
-->
            <xs:element name="Rs_sequence_seq3" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_ss">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Ss"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_assembly" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Assembly"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_primarySequence" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PrimarySequence"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_rsStruct" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="RsStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_rsLinkout" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="RsLinkout"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_mergeHistory" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Rs_mergeHistory_E">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Rs_mergeHistory_E_attlist">
                    <xs:complexType>
                      <xs:all>
<!--
previously issued rs id whose member assays have
									now been merged
-->
                        <xs:element name="Rs_mergeHistory_E_attlist_rsId" type="xs:integer"/>
<!--
build id when rs id was merged into parent
									rs
-->
                        <xs:element name="Rs_mergeHistory_E_attlist_buildId" type="xs:integer" minOccurs="0"/>
<!--
TRUE if strand of rs id is reverse to parent
									object's current strand
-->
                        <xs:element name="Rs_mergeHistory_E_attlist_orientFlip" minOccurs="0">
                          <xs:complexType>
                            <xs:attribute name="value" use="required">
                              <xs:simpleType>
                                <xs:restriction base="xs:string">
                                  <xs:enumeration value="true"/>
                                  <xs:enumeration value="false"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:complexType>
                        </xs:element>
                      </xs:all>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Rs_mergeHistory_E_mergeHistory">
                    <xs:complexType/>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- HGVS name list  -->
      <xs:element name="Rs_hgvs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Rs_hgvs_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--link data for another resource -->
<xs:element name="RsLinkout">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="RsLinkout_attlist">
        <xs:complexType>
          <xs:all>
<!--BaseURLList.url_id -->
            <xs:element name="RsLinkout_attlist_resourceId" type="xs:string"/>
<!--
value to append to ResourceURL.base-url for complete
						link
-->
            <xs:element name="RsLinkout_attlist_linkValue" type="xs:string"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
<!--link data for another resource -->
      <xs:element name="RsLinkout_rsLinkout">
        <xs:complexType/>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--structure information for SNP -->
<xs:element name="RsStruct">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="RsStruct_attlist">
        <xs:complexType>
          <xs:all>
<!--accession of the protein with variation -->
            <xs:element name="RsStruct_attlist_protAcc" type="xs:string" minOccurs="0"/>
<!--GI of the protein with variation -->
            <xs:element name="RsStruct_attlist_protGi" type="xs:integer" minOccurs="0"/>
<!--
position of the residue for the protein
						GI
-->
            <xs:element name="RsStruct_attlist_protLoc" type="xs:integer" minOccurs="0"/>
<!--
residue specified for protein at prot-loc
						location
-->
            <xs:element name="RsStruct_attlist_protResidue" type="xs:string" minOccurs="0"/>
<!--
alternative residue specified by variation
						sequence
-->
            <xs:element name="RsStruct_attlist_rsResidue" type="xs:string" minOccurs="0"/>
<!--GI of the structure neighbor -->
            <xs:element name="RsStruct_attlist_structGi" type="xs:integer" minOccurs="0"/>
<!--
position of the residue for the structure
						GI
-->
            <xs:element name="RsStruct_attlist_structLoc" type="xs:integer" minOccurs="0"/>
<!--
residue specified for protein at struct-loc
						location
-->
            <xs:element name="RsStruct_attlist_structResidue" type="xs:string" minOccurs="0"/>
          </xs:all>
        </xs:complexType>
      </xs:element>
<!--structure information for SNP -->
      <xs:element name="RsStruct_rsStruct">
        <xs:complexType/>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--data for an individual submission to dbSNP -->
<xs:element name="Ss">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Ss_attlist">
        <xs:complexType>
          <xs:all>
<!--dbSNP accession number for submission -->
            <xs:element name="Ss_attlist_ssId" type="xs:integer"/>
<!--Tag for the submitting laboratory -->
            <xs:element name="Ss_attlist_handle" type="xs:string"/>
<!--dbSNP number for batch submission -->
            <xs:element name="Ss_attlist_batchId" type="xs:integer"/>
<!--submission (ss#) submitter ID -->
            <xs:element name="Ss_attlist_locSnpId" type="xs:string" minOccurs="0"/>
            <xs:element name="Ss_attlist_subSnpClass" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="snp"/>
                      <xs:enumeration value="in-del"/>
                      <xs:enumeration value="heterozygous"/>
                      <xs:enumeration value="microsatellite"/>
                      <xs:enumeration value="named-locus"/>
                      <xs:enumeration value="no-variation"/>
                      <xs:enumeration value="mixed"/>
                      <xs:enumeration value="multinucleotide-polymorphism"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Ss_attlist_orient" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="forward"/>
                      <xs:enumeration value="reverse"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Ss_attlist_strand" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="top"/>
                      <xs:enumeration value="bottom"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!--moltype from Batch table -->
            <xs:element name="Ss_attlist_molType" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="genomic"/>
                      <xs:enumeration value="cDNA"/>
                      <xs:enumeration value="mito"/>
                      <xs:enumeration value="chloro"/>
                      <xs:enumeration value="unknown"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!--
dbSNP build number when ss# was added to a refSNP (rs#)
						cluster
-->
            <xs:element name="Ss_attlist_buildId" type="xs:integer" minOccurs="0"/>
            <xs:element name="Ss_attlist_methodClass" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="dHPLC"/>
                      <xs:enumeration value="hybridize"/>
                      <xs:enumeration value="computed"/>
                      <xs:enumeration value="sSCP"/>
                      <xs:enumeration value="other"/>
                      <xs:enumeration value="unknown"/>
                      <xs:enumeration value="rFLP"/>
                      <xs:enumeration value="sequence"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Ss_attlist_validated" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="by-submitter"/>
                      <xs:enumeration value="by-frequency"/>
                      <xs:enumeration value="by-cluster"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!--
append loc-snp-id to this base URL to construct a pointer to
						submitter data.
-->
            <xs:element name="Ss_attlist_linkoutUrl" type="xs:string" minOccurs="0"/>
            <xs:element name="Ss_attlist_ssAlias" type="xs:string" minOccurs="0"/>
            <xs:element name="Ss_attlist_alleleOrigin" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="unknown"/>
                      <xs:enumeration value="germline"/>
                      <xs:enumeration value="somatic"/>
                      <xs:enumeration value="inherited"/>
                      <xs:enumeration value="paternal"/>
                      <xs:enumeration value="maternal"/>
                      <xs:enumeration value="de-novo"/>
                      <xs:enumeration value="other"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Ss_attlist_clinicalSignificance" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="unknown"/>
                      <xs:enumeration value="untested"/>
                      <xs:enumeration value="non-pathogenic"/>
                      <xs:enumeration value="probable-non-pathogenic"/>
                      <xs:enumeration value="probable-pathogenic"/>
                      <xs:enumeration value="pathogenic"/>
                      <xs:enumeration value="other"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:all>
        </xs:complexType>
      </xs:element>
      <xs:element name="Ss_sequence">
        <xs:complexType>
          <xs:sequence>
<!--
5' sequence that flanks the
										variation
-->
            <xs:element name="Ss_sequence_seq5" type="xs:string" minOccurs="0"/>
<!--
list of all nucleotide alleles observed in
										ss-list members, correcting for reverse complementation of
										memebers reported in reverse orientation
-->
            <xs:element name="Ss_sequence_observed" type="xs:string"/>
<!--
3' sequence that flanks the
										variation
-->
            <xs:element name="Ss_sequence_seq3" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
