es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/MMDB.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "mmdb1.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "MMDB"
================================================= -->
<!--
$Revision: 6.1 $
**********************************************************************

  Biological Macromolecule 3-D Structure Data Types for MMDB,
                A Molecular Modeling Database

  Definitions for a biomolecular assembly and the MMDB database

  By Hitomi Ohkawa, Jim Ostell, Chris Hogue, and Steve Bryant 

  National Center for Biotechnology Information
  National Institutes of Health
  Bethesda, MD 20894 USA

  July 1995

**********************************************************************
 Contents of the MMDB database are currently based on files distributed by
 the Protein Data Bank, PDB.  These data are changed in form, as described
 in this specification. To some extent they are also changed in content, in 
 that many data items implicit in PDB are made explicit, and others are
 corrected or omitted as a consequence of validation checks.  The semantics
 of MMDB data items are indicated by comments within the specification below.
 These comments explain in detail the manner in which data items from  PDB 
 have been mapped into MMDB. 
-->
<!-- Elements used by other modules:
          Biostruc,
          Biostruc-id,
          Biostruc-set,
          Biostruc-annot-set,
          Biostruc-residue-graph-set -->

<!-- Elements referenced from other modules:
          Biostruc-graph,
          Biomol-descr,
          Residue-graph FROM MMDB-Chemical-graph,
          Biostruc-model FROM MMDB-Structural-model,
          Biostruc-feature-set FROM MMDB-Features,
          Pub FROM NCBI-Pub,
          Date,
          Object-id,
          Dbtag FROM NCBI-General -->

<!-- ============================================ -->



<!--
 A structure report or "biostruc" describes the components of a biomolecular 
 assembly in terms of their names and descriptions, and a chemical graph 
 giving atomic formula, connectivity and chirality. It also gives one or more
 three-dimensional model structures, literally a mapping of the atoms, 
 residues and/or molecules of each component into a measured three-
 dimensional space. Structure may also be described by named features, which 
 associate nodes in the chemical graph, or regions in space, with text or 
 numeric descriptors.
 Note that a biostruc may also contain cross references to other databases,
 including citations to relevant scientific literature. These cross 
 references use object types from other NCBI data specifications, which are 
 "imported" into MMDB, and not repeated in this specification. 
-->
<xs:element name="Biostruc">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Biostruc_id">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc_descr" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-descr"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc_chemical-graph">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Biostruc-graph"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc_features" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-feature-set"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc_model" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-model"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 A Biostruc-id is a collection identifiers for the molecular assembly.
 Mmdb-id's are NCBI-assigned, and are intended to be unique and stable 
 identifiers.  Other-id's are synonyms.
-->
<xs:element name="Biostruc-id">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Biostruc-id_mmdb-id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Mmdb-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-id_other-database">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-id_local-id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Object-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Mmdb-id" type="xs:integer"/>

<!--
 The description of a biostruc refers to both the reported chemical and 
 spatial structure of a biomolecular assembly.  PDB-derived descriptors
 which refer specifically to the chemical components or spatial structure
 are not provided here, but instead as descriptors of the biostruc-graph or 
 biostruc-model. For PDB-derived structures the biostruc name is the PDB 
 id-code.  PDB-derived citations appear as publications within the biostruc 
 description, and include a data-submission citation derived from PDB AUTHOR 
 records.  Citations are described using the NCBI Pub specification.
-->
<xs:element name="Biostruc-descr">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Biostruc-descr_name" type="xs:string"/>
      <xs:element name="Biostruc-descr_pdb-comment" type="xs:string"/>
      <xs:element name="Biostruc-descr_other-comment" type="xs:string"/>
      <xs:element name="Biostruc-descr_history">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Biostruc-history"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-descr_attribution">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Pub"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!--
 The history of a biostruc indicates it's origin and it's update history
 within MMDB, the NCBI-maintained molecular structure database.  
-->
<xs:element name="Biostruc-history">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Biostruc-history_replaces" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Biostruc-replace"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-history_replaced-by" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Biostruc-replace"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-history_data-source" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Biostruc-source"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Biostruc-replace">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Biostruc-replace_id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Biostruc-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-replace_date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 The origin of a biostruc is a reference to another database.  PDB release 
 date and PDB-assigned id codes are recorded here, as are the PDB-assigned 
 entry date and replacement history.
-->
<xs:element name="Biostruc-source">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Biostruc-source_name-of-database" type="xs:string"/>
      <xs:element name="Biostruc-source_version-of-database" minOccurs="0">
        <xs:complexType>
          <xs:choice>
            <xs:element name="Biostruc-source_version-of-database_release-date">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="Date"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Biostruc-source_version-of-database_release-code" type="xs:string"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-source_database-entry-id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Biostruc-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-source_database-entry-date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-source_database-entry-history" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Biostruc-source_database-entry-history_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 A biostruc set is a means to collect ASN.1 data for many biostrucs in 
 one file, as convenient for application programs.  The object type is not
 inteded to imply similarity of the biostrucs grouped together.
-->
<xs:element name="Biostruc-set">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Biostruc-set_id" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-set_descr" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-descr"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-set_biostrucs">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 A biostruc annotation set is a means to collect ASN.1 data for biostruc
 features into one file. The object type is intended as a means to store 
 feature annotation of similar type, such as "core" definitions for a 
 threading program, or structure-structure alignments for a structure-
 similarity browser.
-->
<xs:element name="Biostruc-annot-set">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Biostruc-annot-set_id" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-annot-set_descr" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-descr"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-annot-set_features">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-feature-set"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 A biostruc residue graph set is a collection of residue graphs.  The object
 type is intended as a means to record dictionaries containing the chemical
 subgraphs of "standard" residue types, which are used as a means to 
 simplify discription of the covalent structure of a biomolecular assembly.
 The standard residue graph dictionary supplied with the MMDB database 
 contains 20 standard L amino acids and 8 standard ribonucleotide groups. 
 These graphs are complete, including explicit hydrogen atoms and separate 
 instances for the terminal polypeptide and polynucleotide residues. 
-->
<xs:element name="Biostruc-residue-graph-set">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Biostruc-residue-graph-set_id" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biostruc-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-residue-graph-set_descr" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Biomol-descr"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Biostruc-residue-graph-set_residue-graphs">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Residue-graph"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
