es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_ID1Access.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "id1.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-ID1Access"
================================================= -->
<!--
$Revision: 1.12 $
********************************************************************

  Network Id server network access
  Yaschenko 1996


*********************************************************************

  ID1.asn

     messages for id server network access

*********************************************************************
-->
<!-- Elements referenced from other modules:
          Seq-id FROM NCBI-Seqloc,
          Seq-entry FROM NCBI-Seqset,
          Seq-hist FROM NCBI-Sequence -->

<!-- ============================================ -->



<!--
**********************************
 requests

-->
<xs:element name="ID1server-request">
  <xs:complexType>
    <xs:choice>
<!-- DlInit -->
      <xs:element name="ID1server-request_init">
        <xs:complexType/>
      </xs:element>
<!-- get a gi given a Seq-id -->
      <xs:element name="ID1server-request_getgi">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- given a gi, get the Seq-entry -->
      <xs:element name="ID1server-request_getsefromgi">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ID1server-maxcomplex"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- DlFini -->
      <xs:element name="ID1server-request_fini">
        <xs:complexType/>
      </xs:element>
<!--get all Seq-ids of given gi -->
      <xs:element name="ID1server-request_getseqidsfromgi" type="xs:integer"/>
<!--get an historical list of gis  -->
      <xs:element name="ID1server-request_getgihist" type="xs:integer"/>
<!--get a revision history of gi -->
      <xs:element name="ID1server-request_getgirev" type="xs:integer"/>
<!--get a state of gi -->
      <xs:element name="ID1server-request_getgistate" type="xs:integer"/>
      <xs:element name="ID1server-request_getsewithinfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ID1server-maxcomplex"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ID1server-request_getblobinfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ID1server-maxcomplex"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!--  Complexity stuff will be for ID1 -->
<xs:element name="ID1server-maxcomplex">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ID1server-maxcomplex_maxplex">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entry-complexities"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ID1server-maxcomplex_gi" type="xs:integer"/>
<!-- needed when you want to retrieve a given ent -->
      <xs:element name="ID1server-maxcomplex_ent" type="xs:integer" minOccurs="0"/>
<!-- satellite 0-id,1-dbEST -->
      <xs:element name="ID1server-maxcomplex_sat" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entry-complexities">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
<!--
    entry	-  the "natural" entry for this (nuc-prot) 
    bioseq	-  only the bioseq identified
    bioseq-set	-  any seg-set it may be part of
    nuc-prot	-  any nuc-prot it may be part of
-->
              <xs:enumeration value="entry" ncbi:intvalue="0"/>
              <xs:enumeration value="bioseq" ncbi:intvalue="1"/>
              <xs:enumeration value="bioseq-set" ncbi:intvalue="2"/>
              <xs:enumeration value="nuc-prot" ncbi:intvalue="3"/>
              <xs:enumeration value="pub-set" ncbi:intvalue="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="ID1Seq-hist">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ID1Seq-hist_hist">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-hist"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="ID1server-back">
  <xs:complexType>
    <xs:choice>
<!-- DlInit -->
      <xs:element name="ID1server-back_init">
        <xs:complexType/>
      </xs:element>
      <xs:element name="ID1server-back_error" type="xs:integer"/>
      <xs:element name="ID1server-back_gotgi" type="xs:integer"/>
<!-- live -->
      <xs:element name="ID1server-back_gotseqentry">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- dead -->
      <xs:element name="ID1server-back_gotdeadseqentry">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- DlFini -->
      <xs:element name="ID1server-back_fini">
        <xs:complexType/>
      </xs:element>
      <xs:element name="ID1server-back_gistate" type="xs:integer"/>
      <xs:element name="ID1server-back_ids">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 because hand crafted Seq-hist does not follow 
 same conventions 
-->
      <xs:element name="ID1server-back_gihist">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="ID1Seq-hist"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ID1server-back_girevhist">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="ID1Seq-hist"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ID1server-back_gotsewithinfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ID1SeqEntry-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ID1server-back_gotblobinfo">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ID1blob-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="ID1server-debug">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="ID1server-back"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="ID1blob-info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ID1blob-info_gi" type="xs:integer"/>
      <xs:element name="ID1blob-info_sat" type="xs:integer"/>
      <xs:element name="ID1blob-info_sat-key" type="xs:integer"/>
      <xs:element name="ID1blob-info_satname" type="xs:string"/>
      <xs:element name="ID1blob-info_suppress" type="xs:integer"/>
      <xs:element name="ID1blob-info_withdrawn" type="xs:integer"/>
      <xs:element name="ID1blob-info_confidential" type="xs:integer"/>
<!--
 blob-state now contains blob version info.
 it's actually minutes from 01/01/1970
 and it's negative if blob is dead.
-->
      <xs:element name="ID1blob-info_blob-state" type="xs:integer"/>
<!-- public comment for withdrawn record  -->
      <xs:element name="ID1blob-info_comment" type="xs:string" minOccurs="0"/>
<!-- mask for external features (SNP,...) -->
      <xs:element name="ID1blob-info_extfeatmask" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="ID1SeqEntry-info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="ID1SeqEntry-info_blob-info">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ID1blob-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ID1SeqEntry-info_blob" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-entry"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
