es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_Entrezgene.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "entrezgene.asn"
     ::DATATOOL:: by application DATATOOL version 2.4.4
     ::DATATOOL:: on 03/01/2017 23:04:05
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Entrezgene"
================================================= -->
<!--
$Revision: 529103 $ 
********************************************************************** 
 
  NCBI Entrezgene 
  by James Ostell, 2001 
   
  Generic "Gene" object for Entrez Genes 
    This object is designed to incorporate a subset of information from 
    LocusLink and from records in Entrez Genomes to provide indexing, 
    linkage, and a useful summary report in Entrez for "Genes" 
 
********************************************************************** 
-->
<!-- Elements used by other modules:
          Entrezgene,
          Entrezgene-Set,
          Gene-track,
          Gene-commentary -->

<!-- Elements referenced from other modules:
          Gene-ref FROM NCBI-Gene,
          Prot-ref FROM NCBI-Protein,
          BioSource FROM NCBI-BioSource,
          RNA-ref FROM NCBI-RNA,
          Dbtag,
          Date FROM NCBI-General,
          Seq-loc FROM NCBI-Seqloc,
          Pub FROM NCBI-Pub -->

<!-- ============================================ -->



<!--
******************************************** 
 Entrezgene is the "document" indexed in Entrez 
  and presented in the full display 
 It also contains the Entrez ID and date information 
******************************************* 
-->
<xs:element name="Entrezgene">
  <xs:complexType>
    <xs:sequence>
<!-- not in submission, but in retrieval  -->
      <xs:element name="Entrezgene_track-info" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Gene-track"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrezgene_type">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="unknown" ncbi:intvalue="0"/>
                    <xs:enumeration value="tRNA" ncbi:intvalue="1"/>
                    <xs:enumeration value="rRNA" ncbi:intvalue="2"/>
                    <xs:enumeration value="snRNA" ncbi:intvalue="3"/>
                    <xs:enumeration value="scRNA" ncbi:intvalue="4"/>
                    <xs:enumeration value="snoRNA" ncbi:intvalue="5"/>
                    <xs:enumeration value="protein-coding" ncbi:intvalue="6"/>
                    <xs:enumeration value="pseudo" ncbi:intvalue="7"/>
                    <xs:enumeration value="transposon" ncbi:intvalue="8"/>
                    <xs:enumeration value="miscRNA" ncbi:intvalue="9"/>
                    <xs:enumeration value="ncRNA" ncbi:intvalue="10"/>
                    <xs:enumeration value="biological-region" ncbi:intvalue="11"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrezgene_source">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="BioSource"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- for locus-tag see note 3 -->
      <xs:element name="Entrezgene_gene">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Gene-ref"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrezgene_prot" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Prot-ref"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrezgene_rna" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RNA-ref"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- short summary  -->
      <xs:element name="Entrezgene_summary" type="xs:string" minOccurs="0"/>
      <xs:element name="Entrezgene_location" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Maps"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- NCBI source to Entrez  -->
      <xs:element name="Entrezgene_gene-source" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Gene-source"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 location of gene on chromosome (if known)
 and all information about products
 (mRNA, proteins and so on)
-->
      <xs:element name="Entrezgene_locus" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Gene-commentary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrezgene_properties" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Gene-commentary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- NG for this?  -->
      <xs:element name="Entrezgene_refgene" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Gene-commentary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrezgene_homology" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Gene-commentary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrezgene_comments" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Gene-commentary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- see note 3 -->
      <xs:element name="Entrezgene_unique-keys" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- see note 2 -->
      <xs:element name="Entrezgene_xtra-index-terms" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Entrezgene_xtra-index-terms_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- see note 2 -->
      <xs:element name="Entrezgene_xtra-properties" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Xtra-Terms"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- see note 2 -->
      <xs:element name="Entrezgene_xtra-iq" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Xtra-Terms"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrezgene_non-unique-keys" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrezgene-Set">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Entrezgene"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Gene-track">
  <xs:complexType>
    <xs:sequence>
<!-- required unique document id  -->
      <xs:element name="Gene-track_geneid" type="xs:integer"/>
      <xs:element name="Gene-track_status" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional" default="live">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    secondary	-  synonym with merged
    discontinued	-  'deleted', still index and display to public
-->
                    <xs:enumeration value="live" ncbi:intvalue="0"/>
                    <xs:enumeration value="secondary" ncbi:intvalue="1"/>
                    <xs:enumeration value="discontinued" ncbi:intvalue="2"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!-- see note 1 below -->
      <xs:element name="Gene-track_current-id" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- date created in Entrez  -->
      <xs:element name="Gene-track_create-date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- last date updated in Entrez  -->
      <xs:element name="Gene-track_update-date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- -->
      <xs:element name="Gene-track_discontinue-date" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Gene-source">
  <xs:complexType>
    <xs:sequence>
<!-- key to the source within NCBI locuslink, Ecoli, etc  -->
      <xs:element name="Gene-source_src" type="xs:string"/>
<!-- eg. locuslink id  -->
      <xs:element name="Gene-source_src-int" type="xs:integer" minOccurs="0"/>
<!-- eg. chromosome1  -->
      <xs:element name="Gene-source_src-str1" type="xs:string" minOccurs="0"/>
<!-- see note 3 -->
      <xs:element name="Gene-source_src-str2" type="xs:string" minOccurs="0"/>
<!-- do we have a URL for gene display?  -->
      <xs:element name="Gene-source_gene-display" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- do we have a URL for map/locus display?  -->
      <xs:element name="Gene-source_locus-display" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- do we have a URL for extra indexing terms?  -->
      <xs:element name="Gene-source_extra-terms" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Gene-commentary">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Gene-commentary_type">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    property	-  used to display tag/value pair
         for this type label is used as property tag, text is used as property value, 
         other fields are not used.
    reference	-  currently not used             
    generif	-  to include generif in the main blob             
    phenotype	-  to display phenotype information
    complex	-  used (but not limited) to identify resulting 
         interaction complexes
    compound	-  pubchem entities
    gene-group	-  for relationship sets (such as pseudogene / parent gene)
    assembly	-  for full assembly accession
    assembly-unit	-  for the assembly unit corresponding to the refseq
-->
                    <xs:enumeration value="genomic" ncbi:intvalue="1"/>
                    <xs:enumeration value="pre-RNA" ncbi:intvalue="2"/>
                    <xs:enumeration value="mRNA" ncbi:intvalue="3"/>
                    <xs:enumeration value="rRNA" ncbi:intvalue="4"/>
                    <xs:enumeration value="tRNA" ncbi:intvalue="5"/>
                    <xs:enumeration value="snRNA" ncbi:intvalue="6"/>
                    <xs:enumeration value="scRNA" ncbi:intvalue="7"/>
                    <xs:enumeration value="peptide" ncbi:intvalue="8"/>
                    <xs:enumeration value="other-genetic" ncbi:intvalue="9"/>
                    <xs:enumeration value="genomic-mRNA" ncbi:intvalue="10"/>
                    <xs:enumeration value="cRNA" ncbi:intvalue="11"/>
                    <xs:enumeration value="mature-peptide" ncbi:intvalue="12"/>
                    <xs:enumeration value="pre-protein" ncbi:intvalue="13"/>
                    <xs:enumeration value="miscRNA" ncbi:intvalue="14"/>
                    <xs:enumeration value="snoRNA" ncbi:intvalue="15"/>
                    <xs:enumeration value="property" ncbi:intvalue="16"/>
                    <xs:enumeration value="reference" ncbi:intvalue="17"/>
                    <xs:enumeration value="generif" ncbi:intvalue="18"/>
                    <xs:enumeration value="phenotype" ncbi:intvalue="19"/>
                    <xs:enumeration value="complex" ncbi:intvalue="20"/>
                    <xs:enumeration value="compound" ncbi:intvalue="21"/>
                    <xs:enumeration value="ncRNA" ncbi:intvalue="22"/>
                    <xs:enumeration value="gene-group" ncbi:intvalue="23"/>
                    <xs:enumeration value="assembly" ncbi:intvalue="24"/>
                    <xs:enumeration value="assembly-unit" ncbi:intvalue="25"/>
                    <xs:enumeration value="c-region" ncbi:intvalue="26"/>
                    <xs:enumeration value="d-segment" ncbi:intvalue="27"/>
                    <xs:enumeration value="j-segment" ncbi:intvalue="28"/>
                    <xs:enumeration value="v-segment" ncbi:intvalue="29"/>
                    <xs:enumeration value="comment" ncbi:intvalue="254"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!-- appears above text  -->
      <xs:element name="Gene-commentary_heading" type="xs:string" minOccurs="0"/>
<!--
 occurs to left of text
 for protein and RNA types it is a name
 for property type it is a property tag  
-->
      <xs:element name="Gene-commentary_label" type="xs:string" minOccurs="0"/>
<!--
 block of text 
 for property type it is a property value  
-->
      <xs:element name="Gene-commentary_text" type="xs:string" minOccurs="0"/>
<!-- accession for the gi in the seqloc, see note 3 -->
      <xs:element name="Gene-commentary_accession" type="xs:string" minOccurs="0"/>
<!-- version for the accession above -->
      <xs:element name="Gene-commentary_version" type="xs:integer" minOccurs="0"/>
<!-- see note 2 -->
      <xs:element name="Gene-commentary_xtra-properties" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Xtra-Terms"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- refs for this  -->
      <xs:element name="Gene-commentary_refs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Pub"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- links and refs  -->
      <xs:element name="Gene-commentary_source" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Other-source"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- referenced sequences in genomic coords -->
      <xs:element name="Gene-commentary_genomic-coords" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- referenced sequences in non-genomic coords -->
      <xs:element name="Gene-commentary_seqs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Gene-commentary_products" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Gene-commentary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Gene-commentary_properties" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Gene-commentary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Gene-commentary_comment" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Gene-commentary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Gene-commentary_create-date" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Gene-commentary_update-date" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Gene-commentary_rna" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="RNA-ref"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Other-source">
  <xs:complexType>
    <xs:sequence>
<!-- key to non-ncbi source  -->
      <xs:element name="Other-source_src" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Dbtag"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- text before anchor  -->
      <xs:element name="Other-source_pre-text" type="xs:string" minOccurs="0"/>
<!-- text to show as highlight  -->
      <xs:element name="Other-source_anchor" type="xs:string" minOccurs="0"/>
<!-- if present, use this URL not Dbtag and datbase  -->
      <xs:element name="Other-source_url" type="xs:string" minOccurs="0"/>
<!-- text after anchor  -->
      <xs:element name="Other-source_post-text" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Maps">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Maps_display-str" type="xs:string"/>
      <xs:element name="Maps_method">
        <xs:complexType>
          <xs:choice>
<!--url to non mapviewer mapviewing resource -->
            <xs:element name="Maps_method_proxy" type="xs:string"/>
            <xs:element name="Maps_method_map-type">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="cyto"/>
                      <xs:enumeration value="bp"/>
                      <xs:enumeration value="cM"/>
                      <xs:enumeration value="cR"/>
                      <xs:enumeration value="min"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- see note 2 -->
<xs:element name="Xtra-Terms">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Xtra-Terms_tag" type="xs:string"/>
      <xs:element name="Xtra-Terms_value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
