es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_Entrez2.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "entrez2.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Entrez2"
================================================= -->
<!--
$Revision: 1.12 $********************************************

  entrez2.asn
   Version 1

   API to Entrez Engine (1999)
   Retrieval of sequence done through ID1 module
     Also, SeqId queries
   Retrieval of PubMed records through PubMed module
   Retrieval of Structures through PubStruct module
   Retrieval of Genomes through Genomes module

***************************************************************
-->


<!--
**************************************
  Entrez2 common elements
**************************************
 a date/time stamp
-->
<xs:element name="Entrez2-dt" type="xs:integer"/>

<!-- database name -->
<xs:element name="Entrez2-db-id" type="xs:string"/>

<!-- field name -->
<xs:element name="Entrez2-field-id" type="xs:string"/>

<!-- link name -->
<xs:element name="Entrez2-link-id" type="xs:string"/>

<!-- list of record UIDs -->
<xs:element name="Entrez2-id-list">
  <xs:complexType>
    <xs:sequence>
<!-- the database -->
      <xs:element name="Entrez2-id-list_db">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-db-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- number of uids -->
      <xs:element name="Entrez2-id-list_num" type="xs:integer"/>
<!-- coded uids -->
      <xs:element name="Entrez2-id-list_uids" type="xs:hexBinary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
****************************************
 The structured form of the boolean is the same in a request or
    return so that it easy to modify a query. This means some
    fields are only considered in a return value, like counts
    by term. They are ignored in a request.
 The structured boolean supports specific boolean components,
    an unparsed string in query syntax, and UID lists as
    elements of a boolean. This makes it possible to submit
    a single string, a fully structured query, or a mixture.
    The UID list feature means one can also perform refinements
    on UID lists from links, neighbors, or other operations.
    UID list query now returns a history key for subsequent use.
*****************************************
-->
<xs:element name="Entrez2-boolean-exp">
  <xs:complexType>
    <xs:sequence>
<!-- database for this query -->
      <xs:element name="Entrez2-boolean-exp_db">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-db-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- the Boolean -->
      <xs:element name="Entrez2-boolean-exp_exp">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-boolean-element"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- date bounds -->
      <xs:element name="Entrez2-boolean-exp_limits" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-limits"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-boolean-element">
  <xs:complexType>
    <xs:choice>
<!-- unparsed query string -->
      <xs:element name="Entrez2-boolean-element_str" type="xs:string"/>
<!-- logical operator -->
      <xs:element name="Entrez2-boolean-element_op">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-operator"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- fielded term -->
      <xs:element name="Entrez2-boolean-element_term">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-boolean-term"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- list of UIDs - returns history key in reply -->
      <xs:element name="Entrez2-boolean-element_ids">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-id-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- history key for uploaded UID list or other query -->
      <xs:element name="Entrez2-boolean-element_key" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!--
*****************************************
 the term is both sent and received as parts of
   queries and replies. The attributes can be filled in
   by either, but may be ignored by one or the other. Flags are
   shown if a real value is only of use in the query (Q), only
   in the reply (R), or used in both (B)
 do-not-explode and do-not-translate are only active set by
   by the query. However, they retain those settings in the
   return value so they can be resent with a new query
******************************************
-->
<xs:element name="Entrez2-boolean-term">
  <xs:complexType>
    <xs:sequence>
<!-- B -->
      <xs:element name="Entrez2-boolean-term_field">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-field-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- B -->
      <xs:element name="Entrez2-boolean-term_term" type="xs:string"/>
<!-- R count of records with term -->
      <xs:element name="Entrez2-boolean-term_term-count" type="xs:integer" minOccurs="0"/>
<!-- Q do not explode term -->
      <xs:element name="Entrez2-boolean-term_do-not-explode" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- Q do not use synonyms -->
      <xs:element name="Entrez2-boolean-term_do-not-translate" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-operator">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="and" ncbi:intvalue="1"/>
              <xs:enumeration value="or" ncbi:intvalue="2"/>
              <xs:enumeration value="butnot" ncbi:intvalue="3"/>
              <xs:enumeration value="range" ncbi:intvalue="4"/>
              <xs:enumeration value="left-paren" ncbi:intvalue="5"/>
              <xs:enumeration value="right-paren" ncbi:intvalue="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--
***************************************
  Entrez2 Request types
***************************************
****************************************
 The basic request wrapper leaves space for a version which
   allow the server to support older clients
 The tool parameter allows us to log the client types for
   debugging and tuning
 The cookie is a session ID returned by the first Entrez2-reply
****************************************
 a standard request
-->
<xs:element name="Entrez2-request">
  <xs:complexType>
    <xs:sequence>
<!-- the actual request -->
      <xs:element name="Entrez2-request_request">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="E2Request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- ASN1 spec version -->
      <xs:element name="Entrez2-request_version" type="xs:integer"/>
<!-- tool making request -->
      <xs:element name="Entrez2-request_tool" type="xs:string" minOccurs="0"/>
<!-- history session cookie -->
      <xs:element name="Entrez2-request_cookie" type="xs:string" minOccurs="0"/>
<!-- request should use history -->
      <xs:element name="Entrez2-request_use-history" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- request types -->
<xs:element name="E2Request">
  <xs:complexType>
    <xs:choice>
<!-- ask for info block -->
      <xs:element name="E2Request_get-info">
        <xs:complexType/>
      </xs:element>
<!-- Boolean lookup -->
      <xs:element name="E2Request_eval-boolean">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-eval-boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- get the DocSums -->
      <xs:element name="E2Request_get-docsum">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-id-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- get position in term list -->
      <xs:element name="E2Request_get-term-pos">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-term-query"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- get Term list by position -->
      <xs:element name="E2Request_get-term-list">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-term-pos"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- get a hierarchy from a term -->
      <xs:element name="E2Request_get-term-hierarchy">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-hier-query"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- get specific links from a UID list -->
      <xs:element name="E2Request_get-links">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-get-links"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- get subset of UID list which has links -->
      <xs:element name="E2Request_get-linked">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-get-links"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- get all links from one UID -->
      <xs:element name="E2Request_get-link-counts">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!--
****************************************
 When evaluating a boolean query the counts of hits is always
    returned.
 In addition, you can request the UIDs of the hits or the
    the parsed query in structured form (with counts by term),
    or both.
****************************************
 evaluate Boolean query
-->
<xs:element name="Entrez2-eval-boolean">
  <xs:complexType>
    <xs:sequence>
<!-- return UID list? -->
      <xs:element name="Entrez2-eval-boolean_return-UIDs" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- return parsed query? -->
      <xs:element name="Entrez2-eval-boolean_return-parse" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- the actual query -->
      <xs:element name="Entrez2-eval-boolean_query">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-boolean-exp"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-dt-filter">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-dt-filter_begin-date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-dt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-dt-filter_end-date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-dt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-dt-filter_type-date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-field-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- date limits -->
<xs:element name="Entrez2-limits">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-limits_filter-date" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-dt-filter"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- max UIDs to return in list -->
      <xs:element name="Entrez2-limits_max-UIDs" type="xs:integer" minOccurs="0"/>
<!-- start partway into UID list -->
      <xs:element name="Entrez2-limits_offset-UIDs" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- a single UID -->
<xs:element name="Entrez2-id">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-id_db">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-db-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-id_uid" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-term-query">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-term-query_db">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-db-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-term-query_field">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-field-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-term-query_term" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-hier-query">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-hier-query_db">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-db-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-hier-query_field">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-field-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- query with either term -->
      <xs:element name="Entrez2-hier-query_term" type="xs:string" minOccurs="0"/>
<!-- or Taxonomy ID -->
      <xs:element name="Entrez2-hier-query_txid" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- request portions of term list -->
<xs:element name="Entrez2-term-pos">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-term-pos_db">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-db-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-term-pos_field">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-field-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-term-pos_first-term-pos" type="xs:integer"/>
<!-- optional for hierarchy only -->
      <xs:element name="Entrez2-term-pos_number-of-terms" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- request links of one type -->
<xs:element name="Entrez2-get-links">
  <xs:complexType>
    <xs:sequence>
<!-- docs to link from -->
      <xs:element name="Entrez2-get-links_uids">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-id-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- type of link -->
      <xs:element name="Entrez2-get-links_linktype">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-link-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- maximum number of links to return -->
      <xs:element name="Entrez2-get-links_max-UIDS" type="xs:integer" minOccurs="0"/>
<!-- return only the counts -->
      <xs:element name="Entrez2-get-links_count-only" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- allow original uids in list -->
      <xs:element name="Entrez2-get-links_parents-persist" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
**********************************************************
 Replies from the Entrez server
  all replies contain the date/time stamp when they were executed
  to do reqular date bounded searches use this value+1 to search
  again later instead of recording the date/time on the client machine
  the cookie allows a simple key string to represent UID lists in the history
**********************************************************
-->
<xs:element name="Entrez2-reply">
  <xs:complexType>
    <xs:sequence>
<!-- the actual reply -->
      <xs:element name="Entrez2-reply_reply">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="E2Reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- date/time stamp from server -->
      <xs:element name="Entrez2-reply_dt">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-dt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- server version info -->
      <xs:element name="Entrez2-reply_server" type="xs:string"/>
<!-- possibly a message to the user -->
      <xs:element name="Entrez2-reply_msg" type="xs:string" minOccurs="0"/>
<!-- history key for query -->
      <xs:element name="Entrez2-reply_key" type="xs:string" minOccurs="0"/>
<!-- history session cookie -->
      <xs:element name="Entrez2-reply_cookie" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="E2Reply">
  <xs:complexType>
    <xs:choice>
<!-- if nothing can be returned -->
      <xs:element name="E2Reply_error" type="xs:string"/>
<!-- the database info -->
      <xs:element name="E2Reply_get-info">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- result of boolean query -->
      <xs:element name="E2Reply_eval-boolean">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-boolean-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="E2Reply_get-docsum">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-docsum-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- position of the term -->
      <xs:element name="E2Reply_get-term-pos" type="xs:integer"/>
      <xs:element name="E2Reply_get-term-list">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-term-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="E2Reply_get-term-hierarchy">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-hier-node"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="E2Reply_get-links">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-link-set"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="E2Reply_get-linked">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-id-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="E2Reply_get-link-counts">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-link-count-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!-- describes all the databases -->
<xs:element name="Entrez2-info">
  <xs:complexType>
    <xs:sequence>
<!-- number of databases -->
      <xs:element name="Entrez2-info_db-count" type="xs:integer"/>
<!-- build date of databases -->
      <xs:element name="Entrez2-info_build-date">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-dt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- info by database -->
      <xs:element name="Entrez2-info_db-info">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-db-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- info for one database -->
<xs:element name="Entrez2-db-info">
  <xs:complexType>
    <xs:sequence>
<!-- internal name -->
      <xs:element name="Entrez2-db-info_db-name">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-db-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- short name for menu -->
      <xs:element name="Entrez2-db-info_db-menu" type="xs:string"/>
<!-- longer explanatory name -->
      <xs:element name="Entrez2-db-info_db-descr" type="xs:string"/>
<!-- total number of records -->
      <xs:element name="Entrez2-db-info_doc-count" type="xs:integer"/>
<!-- number of field types -->
      <xs:element name="Entrez2-db-info_field-count" type="xs:integer"/>
      <xs:element name="Entrez2-db-info_fields">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-field-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- number of link types -->
      <xs:element name="Entrez2-db-info_link-count" type="xs:integer"/>
      <xs:element name="Entrez2-db-info_links">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-link-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-db-info_docsum-field-count" type="xs:integer"/>
      <xs:element name="Entrez2-db-info_docsum-fields">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-docsum-field-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- info about one field -->
<xs:element name="Entrez2-field-info">
  <xs:complexType>
    <xs:sequence>
<!-- the internal name -->
      <xs:element name="Entrez2-field-info_field-name">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-field-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- short string suitable for menu -->
      <xs:element name="Entrez2-field-info_field-menu" type="xs:string"/>
<!-- longer, explanatory name -->
      <xs:element name="Entrez2-field-info_field-descr" type="xs:string"/>
<!-- number of terms in field -->
      <xs:element name="Entrez2-field-info_term-count" type="xs:integer"/>
      <xs:element name="Entrez2-field-info_is-date" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-field-info_is-numerical" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-field-info_single-token" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-field-info_hierarchy-avail" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-field-info_is-rangable" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-field-info_is-truncatable" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- info about one link -->
<xs:element name="Entrez2-link-info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-link-info_link-name">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-link-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-link-info_link-menu" type="xs:string"/>
      <xs:element name="Entrez2-link-info_link-descr" type="xs:string"/>
<!-- database it links to -->
      <xs:element name="Entrez2-link-info_db-to">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-db-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- size of link data element     -->
      <xs:element name="Entrez2-link-info_data-size" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-docsum-field-type">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="string" ncbi:intvalue="1"/>
              <xs:enumeration value="int" ncbi:intvalue="2"/>
              <xs:enumeration value="float" ncbi:intvalue="3"/>
              <xs:enumeration value="date-pubmed" ncbi:intvalue="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-docsum-field-info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-docsum-field-info_field-name" type="xs:string"/>
      <xs:element name="Entrez2-docsum-field-info_field-description" type="xs:string"/>
      <xs:element name="Entrez2-docsum-field-info_field-type">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-docsum-field-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-boolean-reply">
  <xs:complexType>
    <xs:sequence>
<!-- records hit -->
      <xs:element name="Entrez2-boolean-reply_count" type="xs:integer"/>
<!-- if uids requested -->
      <xs:element name="Entrez2-boolean-reply_uids" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-id-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- if parsed query requested -->
      <xs:element name="Entrez2-boolean-reply_query" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-boolean-exp"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-docsum-list">
  <xs:complexType>
    <xs:sequence>
<!-- number of docsums -->
      <xs:element name="Entrez2-docsum-list_count" type="xs:integer"/>
      <xs:element name="Entrez2-docsum-list_list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-docsum"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-docsum">
  <xs:complexType>
    <xs:sequence>
<!-- primary uid (gi, pubmedid) -->
      <xs:element name="Entrez2-docsum_uid" type="xs:integer"/>
      <xs:element name="Entrez2-docsum_docsum-data">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-docsum-data"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-docsum-data">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-docsum-data_field-name" type="xs:string"/>
      <xs:element name="Entrez2-docsum-data_field-value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-term-list">
  <xs:complexType>
    <xs:sequence>
<!-- position of first term in list -->
      <xs:element name="Entrez2-term-list_pos" type="xs:integer"/>
<!-- number of terms in list -->
      <xs:element name="Entrez2-term-list_num" type="xs:integer"/>
      <xs:element name="Entrez2-term-list_list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-term"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Entrez2-term">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-term_term" type="xs:string"/>
      <xs:element name="Entrez2-term_txid" type="xs:integer" minOccurs="0"/>
<!-- count of records with this term -->
      <xs:element name="Entrez2-term_count" type="xs:integer"/>
<!-- used for hierarchy only -->
      <xs:element name="Entrez2-term_is-leaf-node" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- for hierarchical index -->
<xs:element name="Entrez2-hier-node">
  <xs:complexType>
    <xs:sequence>
<!-- the official name -->
      <xs:element name="Entrez2-hier-node_cannonical-form" type="xs:string"/>
<!-- number of strings in lineage -->
      <xs:element name="Entrez2-hier-node_lineage-count" type="xs:integer"/>
<!-- strings up the lineage -->
      <xs:element name="Entrez2-hier-node_lineage" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-term"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- number of children of this node -->
      <xs:element name="Entrez2-hier-node_child-count" type="xs:integer"/>
<!-- the children -->
      <xs:element name="Entrez2-hier-node_children">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-term"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- used for hierarchy only -->
      <xs:element name="Entrez2-hier-node_is-ambiguous" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
*******************************************
 Links are returned in sets also using OCTET STRINGS
*******************************************
 set of links
-->
<xs:element name="Entrez2-link-set">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-link-set_ids">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-id-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- size of data elements -->
      <xs:element name="Entrez2-link-set_data-size" type="xs:integer" minOccurs="0"/>
<!-- coded scores -->
      <xs:element name="Entrez2-link-set_data" type="xs:hexBinary" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- all links from 1 uid -->
<xs:element name="Entrez2-link-count-list">
  <xs:complexType>
    <xs:sequence>
<!-- number of types of links -->
      <xs:element name="Entrez2-link-count-list_link-type-count" type="xs:integer"/>
      <xs:element name="Entrez2-link-count-list_links">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Entrez2-link-count"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- link count of one type -->
<xs:element name="Entrez2-link-count">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Entrez2-link-count_link-type">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Entrez2-link-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Entrez2-link-count_link-count" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
