es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_PCSubstance.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "pcsubstance.asn"
     ::DATATOOL:: by application DATATOOL version 2.4.4
     ::DATATOOL:: on 08/03/2018 23:04:31
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-PCSubstance"
================================================= -->
<!--
 $Id: pcsubstance.asn 568354 2018-08-02 20:25:05Z thiessen $
 ===========================================================================

                            PUBLIC DOMAIN NOTICE
               National Center for Biotechnology Information

  This software/database is a "United States Government Work" under the
  terms of the United States Copyright Act.  It was written as part of
  the author's official duties as a United States Government employee and
  thus cannot be copyrighted.  This software/database is freely available
  to the public for use. The National Library of Medicine and the U.S.
  Government have not placed any restriction on its use or reproduction.

  Although all reasonable efforts have been taken to ensure the accuracy
  and reliability of the software and data, the NLM and the U.S.
  Government do not and cannot warrant the performance or results that
  may be obtained by using this software or data. The NLM and the U.S.
  Government disclaim all warranties, express or implied, including
  warranties of performance, merchantability or fitness for any particular
  purpose.

  Please cite the author in any work or product based on this material.

 ===========================================================================

 Authors:  NCBI Structure Group

 File Description:
      ASN.1 definitions for PubChem small molecule database

 ===========================================================================
-->
<!-- Elements used by other modules:
          PC-Substance,
          PC-Compound,
          PC-Substances,
          PC-Compounds,
          PC-Source,
          PC-ID,
          PC-InfoData,
          PC-XRefData -->

<!-- Elements referenced from other modules:
          Pub FROM NCBI-Pub,
          Date,
          Object-id FROM NCBI-General -->

<!-- ============================================ -->



<!-- Root Record for Chemical Substance Definition -->
<xs:element name="PC-Substance">
  <xs:complexType>
    <xs:sequence>
<!--
 Internal Tracking Information
 Substance ID/Version  [Either valid ID or a "0" dummy
   value, if "source" is to be used]
   Note: Version is for internal use (only?)
   Note: A valid ID is greater than "0"
-->
      <xs:element name="PC-Substance_sid">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-ID"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Data Source for this Submission -->
      <xs:element name="PC-Substance_source">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-Source"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Substance Description Information
 Articles Describing this Substance
-->
      <xs:element name="PC-Substance_pub" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Pub"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Substance Names provided by Depositor -->
      <xs:element name="PC-Substance_synonyms" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Substance_synonyms_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Comments and Description provided by Depositor -->
      <xs:element name="PC-Substance_comment" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Substance_comment_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- X-Ref/LinkOut Data provided by Depositor -->
      <xs:element name="PC-Substance_xref" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-XRefData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Structure Description
 Original Deposited Structure Information
-->
      <xs:element name="PC-Substance_compound" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-Compounds"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Holder for groups of Substances -->
<xs:element name="PC-Substances">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="PC-Substance"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- ID and Version Description Information -->
<xs:element name="PC-ID">
  <xs:complexType>
    <xs:sequence>
<!--
 Unique "Global" ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-ID_id" type="xs:integer"/>
<!--
 Incremented when Depositor updates record
   Note: For Internal Use (only?)
-->
      <xs:element name="PC-ID_version" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Describes Substance Source, if from another database -->
<xs:element name="PC-Source">
  <xs:complexType>
    <xs:choice>
<!-- Individual Submission -->
      <xs:element name="PC-Source_individual">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Pub"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- External DB Submission -->
      <xs:element name="PC-Source_db">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-DBTracking"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- MMDB Submission (deprecated) -->
      <xs:element name="PC-Source_mmdb">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-MMDBSource"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!-- External DB Tracking Information -->
<xs:element name="PC-DBTracking">
  <xs:complexType>
    <xs:sequence>
<!-- Unique Name of External Database -->
      <xs:element name="PC-DBTracking_name" type="xs:string"/>
<!-- Primary Unique ID used by External DB -->
      <xs:element name="PC-DBTracking_source-id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Object-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- External Database Release Date -->
      <xs:element name="PC-DBTracking_date" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- External Database Release Code/Description -->
      <xs:element name="PC-DBTracking_description" type="xs:string" minOccurs="0"/>
<!-- Data Submission to same DB by original Author -->
      <xs:element name="PC-DBTracking_pub" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Pub"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- MMDB Source Record detailing specific location or part of an MMDB Record -->
<xs:element name="PC-MMDBSource">
  <xs:complexType>
    <xs:sequence>
<!--
 MMDB Record ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-MMDBSource_mmdb-id" type="xs:integer"/>
<!--
 MMDB Molecule ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-MMDBSource_molecule-id" type="xs:integer"/>
<!-- MMDB Molecule Name -->
      <xs:element name="PC-MMDBSource_molecule-name">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-MMDBSource_molecule-name_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Residue ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-MMDBSource_residue-id" type="xs:integer" minOccurs="0"/>
<!-- Residue Name -->
      <xs:element name="PC-MMDBSource_residue-name" type="xs:string" minOccurs="0"/>
<!--
 Atom ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-MMDBSource_atom-id" type="xs:integer" minOccurs="0"/>
<!-- Atom Name -->
      <xs:element name="PC-MMDBSource_atom-name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Depositor Provided X-Ref and LinkOut data for Entrez -->
<xs:element name="PC-XRefData">
  <xs:complexType>
    <xs:choice>
<!-- External Database Registry ID -->
      <xs:element name="PC-XRefData_regid" type="xs:string"/>
<!-- Registry Number (e.g., EC Number, CAS Number) -->
      <xs:element name="PC-XRefData_rn" type="xs:string"/>
<!-- MESH Index Term -->
      <xs:element name="PC-XRefData_mesh" type="xs:string"/>
<!--
 PubMed ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_pmid" type="xs:integer"/>
<!--
 GenBank General ID
   Note: Please use protein-gi or nucleotide-gi, if possible
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_gi" type="xs:integer"/>
<!--
 MMDB ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_mmdb" type="xs:integer"/>
<!--
 PubChem Substance ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_sid" type="xs:integer"/>
<!--
 PubChem Compound ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_cid" type="xs:integer"/>
<!-- Depositor Source Database Homepage -->
      <xs:element name="PC-XRefData_dburl" type="xs:string"/>
<!-- Depositor Homepage for a Substance -->
      <xs:element name="PC-XRefData_sburl" type="xs:string"/>
<!-- Depositor Homepage for an Assay -->
      <xs:element name="PC-XRefData_asurl" type="xs:string"/>
<!--
 GenBank General ID for a Protein
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_protein-gi" type="xs:integer"/>
<!--
 GenBank General ID for a Nucleotide
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_nucleotide-gi" type="xs:integer"/>
<!--
 Taxonomy ID for an Organism
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_taxonomy" type="xs:integer"/>
<!--
 PubChem BioAssay ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_aid" type="xs:integer"/>
<!--
 MIM, Mendelian Inheritance in Man, Number 
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_mim" type="xs:integer"/>
<!--
 Entrez Gene ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_gene" type="xs:integer"/>
<!--
 Probe ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_probe" type="xs:integer"/>
<!--
 BioSystem ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_biosystem" type="xs:integer"/>
<!--
 Gene Expression Omnibus Series Accession (GEO GSE) ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_geogse" type="xs:integer"/>
<!--
 Gene Expression Omnibus Sample Accession (GEO GSM) ID
   Note: Must be greater than "0" or, if invalid, "0"
-->
      <xs:element name="PC-XRefData_geogsm" type="xs:integer"/>
<!-- Patent Identifier (e.g., USPTO, EPO, WPO, JPO, CPO) -->
      <xs:element name="PC-XRefData_patent" type="xs:string"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!-- Compound Record -->
<xs:element name="PC-Compound">
  <xs:complexType>
    <xs:sequence>
<!--
 Tracking Information
 Compound Qualifier (Type/ID)
-->
      <xs:element name="PC-Compound_id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-CompoundType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- AtomID/Type Information -->
      <xs:element name="PC-Compound_atoms" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-Atoms"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- BondID/Type/Atom Information -->
      <xs:element name="PC-Compound_bonds" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-Bonds"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- StereoCenter Descriptions -->
      <xs:element name="PC-Compound_stereo" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-StereoCenter"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- 2D/3D Coordinate Sets of Compound -->
      <xs:element name="PC-Compound_coords" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-Coordinates"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Provided Total Formal Charge  (Signed Integer) -->
      <xs:element name="PC-Compound_charge" type="xs:integer" minOccurs="0"/>
<!-- Derived (computed) Properties -->
      <xs:element name="PC-Compound_props" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-InfoData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Relative stereochemistry groups -->
      <xs:element name="PC-Compound_stereogroups" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-StereoGroup"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Counts of various properties -->
      <xs:element name="PC-Compound_count" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-Count"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Alternate Valence-Bond Forms -->
      <xs:element name="PC-Compound_vbalt" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-Compounds"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Holder for groups of Compounds -->
<xs:element name="PC-Compounds">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="PC-Compound"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Qualification used to describe the type of Compound deposited, standardized, or derived.
    Please note that mixtures/cocktails may be specified using previously deposited substances.
-->
<xs:element name="PC-CompoundType">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="PC-CompoundType_type" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    deposited	-  Original Deposited Compound
         For Standardized Compounds
    standardized	-  Standardized Form of a Deposited Compound
    component	-  Component of a Standardized Compound
    neutralized	-  Neutralized Form of a Standardized Compound
         For Mixture/Cocktail Depositions
    mixture	-  Substance that is a component of a mixture
         For Theoretical Compounds
    tautomer	-  Predicted Tautomer Form
    pka-state	-  Predicted Ionized pKa Form
    unknown	-  Unknown Compound Type
-->
                    <xs:enumeration value="deposited" ncbi:intvalue="0"/>
                    <xs:enumeration value="standardized" ncbi:intvalue="1"/>
                    <xs:enumeration value="component" ncbi:intvalue="2"/>
                    <xs:enumeration value="neutralized" ncbi:intvalue="3"/>
                    <xs:enumeration value="mixture" ncbi:intvalue="4"/>
                    <xs:enumeration value="tautomer" ncbi:intvalue="5"/>
                    <xs:enumeration value="pka-state" ncbi:intvalue="6"/>
                    <xs:enumeration value="unknown" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PC-CompoundType_id" minOccurs="0">
        <xs:complexType>
          <xs:choice>
<!--  Standardized Compound -->
            <xs:element name="PC-CompoundType_id_cid" type="xs:integer"/>
<!--  PubChem Substance (for "mixture" type compounds) -->
            <xs:element name="PC-CompoundType_id_sid" type="xs:integer"/>
<!--  PubChem Theoretical Compound -->
            <xs:element name="PC-CompoundType_id_xid" type="xs:integer"/>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Counts of various properties of a Compound -->
<xs:element name="PC-Count">
  <xs:complexType>
    <xs:sequence>
<!-- Total count of non-Hydrogen (Heavy) Atoms -->
      <xs:element name="PC-Count_heavy-atom" type="xs:integer"/>
<!--
 StereoChemistry Counts
 Total count of (SP3) Chiral Atoms
-->
      <xs:element name="PC-Count_atom-chiral" type="xs:integer"/>
<!-- Total count of Defined (SP3) Chiral Atoms -->
      <xs:element name="PC-Count_atom-chiral-def" type="xs:integer"/>
<!-- Total count of Undefined (SP3) Chiral Atoms -->
      <xs:element name="PC-Count_atom-chiral-undef" type="xs:integer"/>
<!-- Total count of (SP2) Chiral Bonds -->
      <xs:element name="PC-Count_bond-chiral" type="xs:integer"/>
<!-- Total count of (SP2) Defined Chiral Bonds -->
      <xs:element name="PC-Count_bond-chiral-def" type="xs:integer"/>
<!-- Total count of (SP2) Undefined Chiral Bonds -->
      <xs:element name="PC-Count_bond-chiral-undef" type="xs:integer"/>
<!--
 Isotopic Counts
 Total count of Atoms with Isotopic Information
-->
      <xs:element name="PC-Count_isotope-atom" type="xs:integer"/>
<!--
 Discrete Structure Counts
 Total count of covalently-bonded units in the record
-->
      <xs:element name="PC-Count_covalent-unit" type="xs:integer"/>
<!-- Number of possible tautomers (Max. 999) -->
      <xs:element name="PC-Count_tautomers" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 List of atom identifiers which are in a common stereochemistry group.
 All atoms in this group possess the characteristic of the type specified.
 The convention adopted is intended to be compatible with MDL's Enhanced
 Stereochemical Representation white paper.
 An atom can only be member of a single stereo group, and all atoms
 in a stereo group must have a stereo descriptor.
 Stereogroups only apply to stereocenters that can have parity.
-->
<xs:element name="PC-StereoGroup">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="PC-StereoGroup_type">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    absolute	-  Absolute configuration is known
    or	-  Relative configuration is known (absolute configuration is unknown)
    and	-  Mixture of stereoisomers
    unknown	-  Unknown configuration type
-->
                    <xs:enumeration value="absolute" ncbi:intvalue="1"/>
                    <xs:enumeration value="or" ncbi:intvalue="2"/>
                    <xs:enumeration value="and" ncbi:intvalue="3"/>
                    <xs:enumeration value="unknown" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!--
 Atom Identifiers of atoms in this group
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoGroup_aid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-StereoGroup_aid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Compound Description/Descriptor Data -->
<xs:element name="PC-InfoData">
  <xs:complexType>
    <xs:sequence>
<!-- Universal Resource Name  [for Value Qualification] -->
      <xs:element name="PC-InfoData_urn">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-Urn"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="PC-InfoData_value">
        <xs:complexType>
          <xs:choice>
<!-- Boolean or Binary -->
            <xs:element name="PC-InfoData_value_bval">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!-- Boolean Vector -->
            <xs:element name="PC-InfoData_value_bvec">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="PC-InfoData_value_bvec_E">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!-- Integer (signed or unsigned) -->
            <xs:element name="PC-InfoData_value_ival" type="xs:integer"/>
<!-- Integer Vector -->
            <xs:element name="PC-InfoData_value_ivec">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="PC-InfoData_value_ivec_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!-- Float or Double -->
            <xs:element name="PC-InfoData_value_fval" type="xs:double"/>
<!-- Double Vector -->
            <xs:element name="PC-InfoData_value_fvec">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="PC-InfoData_value_fvec_E" type="xs:double"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!-- String -->
            <xs:element name="PC-InfoData_value_sval" type="xs:string"/>
<!-- List of Strings -->
            <xs:element name="PC-InfoData_value_slist">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="PC-InfoData_value_slist_E" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!-- Date -->
            <xs:element name="PC-InfoData_value_date">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="Date"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!-- Binary Data -->
            <xs:element name="PC-InfoData_value_binary" type="xs:hexBinary"/>
<!-- Bit List (specialized version of Boolean vector) -->
            <xs:element name="PC-InfoData_value_bitlist">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="([0-1])*"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Universal Resource Name 
    Provides explicit source information on derived or calculated data 
-->
<xs:element name="PC-Urn">
  <xs:complexType>
    <xs:sequence>
<!-- Generic Name or Label for Display  [e.g., "Log P"] -->
      <xs:element name="PC-Urn_label" type="xs:string"/>
<!-- Qualified Name  [e.g., "XlogP"] -->
      <xs:element name="PC-Urn_name" type="xs:string" minOccurs="0"/>
<!-- Specific Data Type of Value  [e.g., binary] -->
      <xs:element name="PC-Urn_datatype" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-UrnDataType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Implementation Parameter  [e.g., "metal=0"] -->
      <xs:element name="PC-Urn_parameters" type="xs:string" minOccurs="0"/>
<!-- Implementation Name  [e.g., "E_XlogP"] -->
      <xs:element name="PC-Urn_implementation" type="xs:string" minOccurs="0"/>
<!-- Implementation Version  [e.g., "3.317"] -->
      <xs:element name="PC-Urn_version" type="xs:string" minOccurs="0"/>
<!-- Implementation Software  [e.g., "Cactvs"] -->
      <xs:element name="PC-Urn_software" type="xs:string" minOccurs="0"/>
<!-- Implementation Organization  [e.g., "xemistry.com"] -->
      <xs:element name="PC-Urn_source" type="xs:string" minOccurs="0"/>
<!-- NCBI Implementation Release  [e.g., "10.25.2005"] -->
      <xs:element name="PC-Urn_release" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 URN Data Type
   Provides the ability to use more specific data types than that directly provided by ASN.1.
   Provides for more specific validation of specified data.
-->
<xs:element name="PC-UrnDataType">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
<!--
    string	-  Basic Data Types
         String                             [maps to a VisibleString]
    stringlist	-  List of Strings                    [maps to VisibleString list]
    int	-  32-Bit Signed Integer              [maps to an INTEGER]
    intvec	-  Vector of 32-Bit Signed Integer    [maps to INTEGER vector]
    uint	-  32-Bit Unsigned Integer            [maps to an INTEGER]
    uintvec	-  Vector of 32-Bit Unsigned Integer  [maps to INTEGER vector]
    double	-  64-Bit Float                       [maps to a REAL]
    doublevec	-  Vector of Double                   [maps to REAL vector]
    bool	-  Boolean or Binary value            [maps to a BOOLEAN]
    boolvec	-  Boolean Vector                     [maps to BOOLEAN vector]
    uint64	-  Specialized Data Types
         64-Bit Unsigned Integer (Hex form) [maps to a VisibleString]
    binary	-  Binary Data Blob                   [maps to an OCTET STRING]
    url	-  URL                                [maps to a VisibleString]
    unicode	-  UniCode String                     [maps to a VisibleString]
    date	-  ISO8601 Date                       [maps to a Date]
    fingerprint	-  Binary Fingerprint (Gzip'ped bit   [maps to an OCTET STRING]
           list w/ 4-Byte prefix denoting bit list length)
    unknown	-  Unknown Data Type               [maps to a set of VisibleString]
-->
              <xs:enumeration value="string" ncbi:intvalue="1"/>
              <xs:enumeration value="stringlist" ncbi:intvalue="2"/>
              <xs:enumeration value="int" ncbi:intvalue="3"/>
              <xs:enumeration value="intvec" ncbi:intvalue="4"/>
              <xs:enumeration value="uint" ncbi:intvalue="5"/>
              <xs:enumeration value="uintvec" ncbi:intvalue="6"/>
              <xs:enumeration value="double" ncbi:intvalue="7"/>
              <xs:enumeration value="doublevec" ncbi:intvalue="8"/>
              <xs:enumeration value="bool" ncbi:intvalue="9"/>
              <xs:enumeration value="boolvec" ncbi:intvalue="10"/>
              <xs:enumeration value="uint64" ncbi:intvalue="11"/>
              <xs:enumeration value="binary" ncbi:intvalue="12"/>
              <xs:enumeration value="url" ncbi:intvalue="13"/>
              <xs:enumeration value="unicode" ncbi:intvalue="14"/>
              <xs:enumeration value="date" ncbi:intvalue="15"/>
              <xs:enumeration value="fingerprint" ncbi:intvalue="16"/>
              <xs:enumeration value="unknown" ncbi:intvalue="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!-- Coordinates for the Compound of a given type -->
<xs:element name="PC-Coordinates">
  <xs:complexType>
    <xs:sequence>
<!-- Coordinate Type Information (vector) -->
      <xs:element name="PC-Coordinates_type">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-CoordinateType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Conformer Atom IDs (vector)
   (to be kept synchronized with Conformers)
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-Coordinates_aid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Coordinates_aid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Conformers for this Coordinate Set -->
      <xs:element name="PC-Coordinates_conformers" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-Conformer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Atom labels for Conformer Set -->
      <xs:element name="PC-Coordinates_atomlabels" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-AtomString"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Data Associated with these Coordinates -->
      <xs:element name="PC-Coordinates_data" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-InfoData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Drawing/Conformer Definition (in Parallel Arrays, synchronized to aid integer list)
   3D coordinates are specified in a right-handed coordinate system. For 2D plots, Y axis leads upwards.
-->
<xs:element name="PC-Conformer">
  <xs:complexType>
    <xs:sequence>
<!--
  [Note: Parallel Arrays must be kept Synchronized]
 X Coordinates (vector)
-->
      <xs:element name="PC-Conformer_x">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Conformer_x_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Y Coordinates (vector) -->
      <xs:element name="PC-Conformer_y">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Conformer_y_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Z Coordinates (vector) -->
      <xs:element name="PC-Conformer_z" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Conformer_z_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Structure Annotations -->
      <xs:element name="PC-Conformer_style" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-DrawAnnotations"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Data Associated with this Conformer -->
      <xs:element name="PC-Conformer_data" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-InfoData"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Holder for groups of Conformers -->
<xs:element name="PC-Conformers">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="PC-Conformer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Coordinate Set Type Distinctions -->
<xs:element name="PC-CoordinateType">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
<!--
    twod	-  2D Coordinates
    threed	-  3D Coordinates (should also indicate units, below)
    submitted	-  Depositor Provided Coordinates
    experimental	-  Experimentally Determined Coordinates
    computed	-  Computed Coordinates
    standardized	-  Standardized Coordinates
    augmented	-  Hybrid Original with Computed Coordinates (e.g., explicit H)
    aligned	-  Template used to align drawing
    compact	-  Drawing uses shorthand forms (e.g., COOH, OCH3, Et, etc.)
    units-angstroms	-  (3D) Coordinate units are Angstroms
    units-nanometers	-  (3D) Coordinate units are nanometers
    units-pixel	-  (2D) Coordinate units are pixels
    units-points	-  (2D) Coordinate units are points
    units-stdbonds	-  (2D) Coordinate units are standard bond lengths (1.0)
    units-unknown	-  Coordinate units are unknown or unspecified
-->
              <xs:enumeration value="twod" ncbi:intvalue="1"/>
              <xs:enumeration value="threed" ncbi:intvalue="2"/>
              <xs:enumeration value="submitted" ncbi:intvalue="3"/>
              <xs:enumeration value="experimental" ncbi:intvalue="4"/>
              <xs:enumeration value="computed" ncbi:intvalue="5"/>
              <xs:enumeration value="standardized" ncbi:intvalue="6"/>
              <xs:enumeration value="augmented" ncbi:intvalue="7"/>
              <xs:enumeration value="aligned" ncbi:intvalue="8"/>
              <xs:enumeration value="compact" ncbi:intvalue="9"/>
              <xs:enumeration value="units-angstroms" ncbi:intvalue="10"/>
              <xs:enumeration value="units-nanometers" ncbi:intvalue="11"/>
              <xs:enumeration value="units-pixel" ncbi:intvalue="12"/>
              <xs:enumeration value="units-points" ncbi:intvalue="13"/>
              <xs:enumeration value="units-stdbonds" ncbi:intvalue="14"/>
              <xs:enumeration value="units-unknown" ncbi:intvalue="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--
 Drawing Annotations (in Parallel Arrays)
    [Note: A pair of atoms can have multiple annotations]
-->
<xs:element name="PC-DrawAnnotations">
  <xs:complexType>
    <xs:sequence>
<!--
  [Note: Parallel Arrays must be kept Synchronized]
 Bond Annotations (vector)
-->
      <xs:element name="PC-DrawAnnotations_annotation">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-BondAnnotation"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Atom1 Identifier (vector)
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-DrawAnnotations_aid1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-DrawAnnotations_aid1_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Atom2 Identifier (vector)
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-DrawAnnotations_aid2">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-DrawAnnotations_aid2_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Atom-Atom Annotation Information -->
<xs:element name="PC-BondAnnotation">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
<!--
    crossed	-  Double Bond that can be both Cis/Trans
    dashed	-  Hydrogen-Bond (3D Only?)
    wavy	-  Unknown Stereochemistry
    dotted	-  Complex/Fractional
    wedge-up	-  Above-Plane
    wedge-down	-  Below-Plane
    arrow	-  Dative
    aromatic	-  Aromatic
    resonance	-  Resonance
    bold	-  Fat Bond (Non-Specific User Interpreted Information)
    fischer	-  Interpret Bond Stereo using Fischer Conventions
    closeContact	-  Identification of Atom-Atom Close Contacts (3D Only)
    unknown	-  Unspecified or Unknown Atom-Atom Annotation
-->
              <xs:enumeration value="crossed" ncbi:intvalue="1"/>
              <xs:enumeration value="dashed" ncbi:intvalue="2"/>
              <xs:enumeration value="wavy" ncbi:intvalue="3"/>
              <xs:enumeration value="dotted" ncbi:intvalue="4"/>
              <xs:enumeration value="wedge-up" ncbi:intvalue="5"/>
              <xs:enumeration value="wedge-down" ncbi:intvalue="6"/>
              <xs:enumeration value="arrow" ncbi:intvalue="7"/>
              <xs:enumeration value="aromatic" ncbi:intvalue="8"/>
              <xs:enumeration value="resonance" ncbi:intvalue="9"/>
              <xs:enumeration value="bold" ncbi:intvalue="10"/>
              <xs:enumeration value="fischer" ncbi:intvalue="11"/>
              <xs:enumeration value="closeContact" ncbi:intvalue="12"/>
              <xs:enumeration value="unknown" ncbi:intvalue="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!-- Atom Information  (in Parallel Arrays) -->
<xs:element name="PC-Atoms">
  <xs:complexType>
    <xs:sequence>
<!--
  [Note: Parallel Arrays must be kept Synchronized]
 Atom Identifiers (vector)
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-Atoms_aid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Atoms_aid_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Atomic Numbers (vector) -->
      <xs:element name="PC-Atoms_element">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-Element"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Independent Arrays of ID-Value Pairs  (Technically allows multiple values per Atom)
 Atom labels
-->
      <xs:element name="PC-Atoms_label" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-AtomString"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Isotopic Information -->
      <xs:element name="PC-Atoms_isotope" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-AtomInt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Formal Charges -->
      <xs:element name="PC-Atoms_charge" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-AtomInt"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Radical Information -->
      <xs:element name="PC-Atoms_radical" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-AtomRadical"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- E.g. identity of MMDB "R" groups -->
      <xs:element name="PC-Atoms_source" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-AtomSource"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Atom Comments -->
      <xs:element name="PC-Atoms_comment" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-AtomString"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Specification of an Association between an Atom Identifier and Source -->
<xs:element name="PC-AtomSource">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom Identifier for the R-Group Source
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-AtomSource_aid" type="xs:integer"/>
<!-- Atom Specific MMDB Record -->
      <xs:element name="PC-AtomSource_source">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-MMDBSource"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Specification of an Association between an Atom Identifier and an Integer Value -->
<xs:element name="PC-AtomInt">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom Identifier for the Value
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-AtomInt_aid" type="xs:integer"/>
<!-- Value Associated to the ID -->
      <xs:element name="PC-AtomInt_value" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Specification of an Association between an Atom Identifier and a String Value -->
<xs:element name="PC-AtomString">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom Identifier for the Value
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-AtomString_aid" type="xs:integer"/>
<!-- Value Associated to the ID -->
      <xs:element name="PC-AtomString_value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Rudimentary Atom Electronic Configuration Designation -->
<xs:element name="PC-AtomRadical">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom Identifier for the Value
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-AtomRadical_aid" type="xs:integer"/>
      <xs:element name="PC-AtomRadical_type">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    singlet	-  Open-Shell Singlet
    doublet	-  Open-Shell Doublet
    triplet	-  Open-Shell Triplet
    quartet	-  Open-Shell Quartet
    quintet	-  Open-Shell Quintet
    hextet	-  Open-Shell Hextet
    heptet	-  Open-Shell Quintet
    octet	-  Open-Shell Octet
    none	-  Closed-Shell Singlet
-->
                    <xs:enumeration value="singlet" ncbi:intvalue="1"/>
                    <xs:enumeration value="doublet" ncbi:intvalue="2"/>
                    <xs:enumeration value="triplet" ncbi:intvalue="3"/>
                    <xs:enumeration value="quartet" ncbi:intvalue="4"/>
                    <xs:enumeration value="quintet" ncbi:intvalue="5"/>
                    <xs:enumeration value="hextet" ncbi:intvalue="6"/>
                    <xs:enumeration value="heptet" ncbi:intvalue="7"/>
                    <xs:enumeration value="octet" ncbi:intvalue="8"/>
                    <xs:enumeration value="none" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Element Information [which may contain "illegal" element values] -->
<xs:element name="PC-Element">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
<!--
    a	-  Illegal Atom Numbers that may be Interpreted to be something else
         Unspecified Atom (Asterick)
    d	-  Dummy Atom
    r	-  Rgroup Label
    lp	-  Lone Pair
    h	-  Elements
-->
              <xs:enumeration value="a" ncbi:intvalue="255"/>
              <xs:enumeration value="d" ncbi:intvalue="254"/>
              <xs:enumeration value="r" ncbi:intvalue="253"/>
              <xs:enumeration value="lp" ncbi:intvalue="252"/>
              <xs:enumeration value="h" ncbi:intvalue="1"/>
              <xs:enumeration value="he" ncbi:intvalue="2"/>
              <xs:enumeration value="li" ncbi:intvalue="3"/>
              <xs:enumeration value="be" ncbi:intvalue="4"/>
              <xs:enumeration value="b" ncbi:intvalue="5"/>
              <xs:enumeration value="c" ncbi:intvalue="6"/>
              <xs:enumeration value="n" ncbi:intvalue="7"/>
              <xs:enumeration value="o" ncbi:intvalue="8"/>
              <xs:enumeration value="f" ncbi:intvalue="9"/>
              <xs:enumeration value="ne" ncbi:intvalue="10"/>
              <xs:enumeration value="na" ncbi:intvalue="11"/>
              <xs:enumeration value="mg" ncbi:intvalue="12"/>
              <xs:enumeration value="al" ncbi:intvalue="13"/>
              <xs:enumeration value="si" ncbi:intvalue="14"/>
              <xs:enumeration value="p" ncbi:intvalue="15"/>
              <xs:enumeration value="s" ncbi:intvalue="16"/>
              <xs:enumeration value="cl" ncbi:intvalue="17"/>
              <xs:enumeration value="ar" ncbi:intvalue="18"/>
              <xs:enumeration value="k" ncbi:intvalue="19"/>
              <xs:enumeration value="ca" ncbi:intvalue="20"/>
              <xs:enumeration value="sc" ncbi:intvalue="21"/>
              <xs:enumeration value="ti" ncbi:intvalue="22"/>
              <xs:enumeration value="v" ncbi:intvalue="23"/>
              <xs:enumeration value="cr" ncbi:intvalue="24"/>
              <xs:enumeration value="mn" ncbi:intvalue="25"/>
              <xs:enumeration value="fe" ncbi:intvalue="26"/>
              <xs:enumeration value="co" ncbi:intvalue="27"/>
              <xs:enumeration value="ni" ncbi:intvalue="28"/>
              <xs:enumeration value="cu" ncbi:intvalue="29"/>
              <xs:enumeration value="zn" ncbi:intvalue="30"/>
              <xs:enumeration value="ga" ncbi:intvalue="31"/>
              <xs:enumeration value="ge" ncbi:intvalue="32"/>
              <xs:enumeration value="as" ncbi:intvalue="33"/>
              <xs:enumeration value="se" ncbi:intvalue="34"/>
              <xs:enumeration value="br" ncbi:intvalue="35"/>
              <xs:enumeration value="kr" ncbi:intvalue="36"/>
              <xs:enumeration value="rb" ncbi:intvalue="37"/>
              <xs:enumeration value="sr" ncbi:intvalue="38"/>
              <xs:enumeration value="y" ncbi:intvalue="39"/>
              <xs:enumeration value="zr" ncbi:intvalue="40"/>
              <xs:enumeration value="nb" ncbi:intvalue="41"/>
              <xs:enumeration value="mo" ncbi:intvalue="42"/>
              <xs:enumeration value="tc" ncbi:intvalue="43"/>
              <xs:enumeration value="ru" ncbi:intvalue="44"/>
              <xs:enumeration value="rh" ncbi:intvalue="45"/>
              <xs:enumeration value="pd" ncbi:intvalue="46"/>
              <xs:enumeration value="ag" ncbi:intvalue="47"/>
              <xs:enumeration value="cd" ncbi:intvalue="48"/>
              <xs:enumeration value="in" ncbi:intvalue="49"/>
              <xs:enumeration value="sn" ncbi:intvalue="50"/>
              <xs:enumeration value="sb" ncbi:intvalue="51"/>
              <xs:enumeration value="te" ncbi:intvalue="52"/>
              <xs:enumeration value="i" ncbi:intvalue="53"/>
              <xs:enumeration value="xe" ncbi:intvalue="54"/>
              <xs:enumeration value="cs" ncbi:intvalue="55"/>
              <xs:enumeration value="ba" ncbi:intvalue="56"/>
              <xs:enumeration value="la" ncbi:intvalue="57"/>
              <xs:enumeration value="ce" ncbi:intvalue="58"/>
              <xs:enumeration value="pr" ncbi:intvalue="59"/>
              <xs:enumeration value="nd" ncbi:intvalue="60"/>
              <xs:enumeration value="pm" ncbi:intvalue="61"/>
              <xs:enumeration value="sm" ncbi:intvalue="62"/>
              <xs:enumeration value="eu" ncbi:intvalue="63"/>
              <xs:enumeration value="gd" ncbi:intvalue="64"/>
              <xs:enumeration value="tb" ncbi:intvalue="65"/>
              <xs:enumeration value="dy" ncbi:intvalue="66"/>
              <xs:enumeration value="ho" ncbi:intvalue="67"/>
              <xs:enumeration value="er" ncbi:intvalue="68"/>
              <xs:enumeration value="tm" ncbi:intvalue="69"/>
              <xs:enumeration value="yb" ncbi:intvalue="70"/>
              <xs:enumeration value="lu" ncbi:intvalue="71"/>
              <xs:enumeration value="hf" ncbi:intvalue="72"/>
              <xs:enumeration value="ta" ncbi:intvalue="73"/>
              <xs:enumeration value="w" ncbi:intvalue="74"/>
              <xs:enumeration value="re" ncbi:intvalue="75"/>
              <xs:enumeration value="os" ncbi:intvalue="76"/>
              <xs:enumeration value="ir" ncbi:intvalue="77"/>
              <xs:enumeration value="pt" ncbi:intvalue="78"/>
              <xs:enumeration value="au" ncbi:intvalue="79"/>
              <xs:enumeration value="hg" ncbi:intvalue="80"/>
              <xs:enumeration value="tl" ncbi:intvalue="81"/>
              <xs:enumeration value="pb" ncbi:intvalue="82"/>
              <xs:enumeration value="bi" ncbi:intvalue="83"/>
              <xs:enumeration value="po" ncbi:intvalue="84"/>
              <xs:enumeration value="at" ncbi:intvalue="85"/>
              <xs:enumeration value="rn" ncbi:intvalue="86"/>
              <xs:enumeration value="fr" ncbi:intvalue="87"/>
              <xs:enumeration value="ra" ncbi:intvalue="88"/>
              <xs:enumeration value="ac" ncbi:intvalue="89"/>
              <xs:enumeration value="th" ncbi:intvalue="90"/>
              <xs:enumeration value="pa" ncbi:intvalue="91"/>
              <xs:enumeration value="u" ncbi:intvalue="92"/>
              <xs:enumeration value="np" ncbi:intvalue="93"/>
              <xs:enumeration value="pu" ncbi:intvalue="94"/>
              <xs:enumeration value="am" ncbi:intvalue="95"/>
              <xs:enumeration value="cm" ncbi:intvalue="96"/>
              <xs:enumeration value="bk" ncbi:intvalue="97"/>
              <xs:enumeration value="cf" ncbi:intvalue="98"/>
              <xs:enumeration value="es" ncbi:intvalue="99"/>
              <xs:enumeration value="fm" ncbi:intvalue="100"/>
              <xs:enumeration value="md" ncbi:intvalue="101"/>
              <xs:enumeration value="no" ncbi:intvalue="102"/>
              <xs:enumeration value="lr" ncbi:intvalue="103"/>
              <xs:enumeration value="rf" ncbi:intvalue="104"/>
              <xs:enumeration value="db" ncbi:intvalue="105"/>
              <xs:enumeration value="sg" ncbi:intvalue="106"/>
              <xs:enumeration value="bh" ncbi:intvalue="107"/>
              <xs:enumeration value="hs" ncbi:intvalue="108"/>
              <xs:enumeration value="mt" ncbi:intvalue="109"/>
              <xs:enumeration value="ds" ncbi:intvalue="110"/>
              <xs:enumeration value="rg" ncbi:intvalue="111"/>
              <xs:enumeration value="cn" ncbi:intvalue="112"/>
              <xs:enumeration value="nh" ncbi:intvalue="113"/>
              <xs:enumeration value="fl" ncbi:intvalue="114"/>
              <xs:enumeration value="mc" ncbi:intvalue="115"/>
              <xs:enumeration value="lv" ncbi:intvalue="116"/>
              <xs:enumeration value="ts" ncbi:intvalue="117"/>
              <xs:enumeration value="og" ncbi:intvalue="118"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!-- Bond Description Information  (in Parallel Arrays) -->
<xs:element name="PC-Bonds">
  <xs:complexType>
    <xs:sequence>
<!--
  [Note: Parallel Arrays must be kept Synchronized]
 Atom1 Identifier (vector)
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-Bonds_aid1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Bonds_aid1_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Atom2 Identifier (vector)
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-Bonds_aid2">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="PC-Bonds_aid2_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Bond Type Information (vector) -->
      <xs:element name="PC-Bonds_order">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PC-BondType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Bond Type Information -->
<xs:element name="PC-BondType">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
<!--
    single	-  Single Bond
    double	-  Double Bond
    triple	-  Triple Bond
    quadruple	-  Quadruple Bond
    dative	-  Dative Bond
    complex	-  Complex Bond
    ionic	-  Ionic Bond
    unknown	-  Unknown/Unspecified Connectivity
-->
              <xs:enumeration value="single" ncbi:intvalue="1"/>
              <xs:enumeration value="double" ncbi:intvalue="2"/>
              <xs:enumeration value="triple" ncbi:intvalue="3"/>
              <xs:enumeration value="quadruple" ncbi:intvalue="4"/>
              <xs:enumeration value="dative" ncbi:intvalue="5"/>
              <xs:enumeration value="complex" ncbi:intvalue="6"/>
              <xs:enumeration value="ionic" ncbi:intvalue="7"/>
              <xs:enumeration value="unknown" ncbi:intvalue="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--
 Allowed Stereogenic Center Types
   [Using IUPAC Stereogenic Center recommendations and terminology]
-->
<xs:element name="PC-StereoCenter">
  <xs:complexType>
    <xs:choice>
<!-- Tetrahedral (SP3) StereoCenter -->
      <xs:element name="PC-StereoCenter_tetrahedral">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-StereoTetrahedral"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Planar (SP2) StereoCenter -->
      <xs:element name="PC-StereoCenter_planar">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-StereoPlanar"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Square Planar (SP4) StereoCenter -->
      <xs:element name="PC-StereoCenter_squareplanar">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-StereoSquarePlanar"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Octahedral (OC-6) / Square Pyramid (SPY-5) StereoCenters -->
      <xs:element name="PC-StereoCenter_octahedral">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-StereoOctahedral"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Trigonal BiPyramid (TBPY-4 and TBPY-5) StereoCenters -->
      <xs:element name="PC-StereoCenter_bipyramid">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-StereoTrigonalBiPyramid"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- T-Shaped (TS-3) StereoCenters -->
      <xs:element name="PC-StereoCenter_tshape">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-StereoTShape"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Pentagonal BiPyramid (PBPY-7) StereoCenters -->
      <xs:element name="PC-StereoCenter_pentagonal">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PC-StereoPentagonalBiPyramid"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!--
 SP3 Tetrahedral StereoCenter, Trigonal Pyramid Stereogenic Center,
   Cumulenic StereoCenter (Linear systems of an even number of double bonds),
   or Hindered biaryl stereocenter (All biaryls have hindered rotation that
   to some extent the ortho-hydrogens prevent coplanarity)
   [Using IUPAC Stereogenic Center recommendations and terminology]
   [Note: "-1" can be used for the Atom Identifier to represent a lone-pair or implicit hydrogen]
-->
<xs:element name="PC-StereoTetrahedral">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom Identifier of Atom Center
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTetrahedral_center" type="xs:integer"/>
<!--
 Atom Identifier of Atom Above the Plane
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTetrahedral_above" type="xs:integer"/>
<!--
 Atom Identifier of Atom In-Plane and at the Top
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTetrahedral_top" type="xs:integer"/>
<!--
 Atom Identifier of Atom In-Plane and at the Bottom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTetrahedral_bottom" type="xs:integer"/>
<!--
 Atom Identifier of Atom Below the Plane
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTetrahedral_below" type="xs:integer"/>
      <xs:element name="PC-StereoTetrahedral_parity" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="clockwise" ncbi:intvalue="1"/>
                    <xs:enumeration value="counterclockwise" ncbi:intvalue="2"/>
                    <xs:enumeration value="any" ncbi:intvalue="3"/>
                    <xs:enumeration value="unknown" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PC-StereoTetrahedral_type" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    tetrahedral	-  Tetrahedral StereoCenter
    cumulenic	-  Cumulenic StereoCenter
    biaryl	-  Biaryl StereoCenter
-->
                    <xs:enumeration value="tetrahedral" ncbi:intvalue="1"/>
                    <xs:enumeration value="cumulenic" ncbi:intvalue="2"/>
                    <xs:enumeration value="biaryl" ncbi:intvalue="3"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 SP2 Planar Stereogenic Center, Cumulenic StereoCenter (Linear systems on an odd
   number of double bonds present planar stereochemistry)
   [Using IUPAC Stereogenic Center recommendations and terminology]
   [Note: "-1" can be used for the Atom Identifier to represent a lone-pair or implicit hydrogen]
-->
<xs:element name="PC-StereoPlanar">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom ID of Left Double Bond Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPlanar_left" type="xs:integer"/>
<!--
 Atom ID of Top Atom attached to the Left Double Bond Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPlanar_ltop" type="xs:integer"/>
<!--
 Atom ID of Bottom Atom attached to the Left Double Bond Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPlanar_lbottom" type="xs:integer"/>
<!--
 Atom ID of Right Double Bond Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPlanar_right" type="xs:integer"/>
<!--
 Atom ID of Top Atom attached to the Right Double Bond Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPlanar_rtop" type="xs:integer"/>
<!--
 Atom ID of Bottom Atom attached to the Right Double Bond Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPlanar_rbottom" type="xs:integer"/>
      <xs:element name="PC-StereoPlanar_parity" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="same" ncbi:intvalue="1"/>
                    <xs:enumeration value="opposite" ncbi:intvalue="2"/>
                    <xs:enumeration value="any" ncbi:intvalue="3"/>
                    <xs:enumeration value="unknown" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="PC-StereoPlanar_type" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    planar	-  SP2 Planar StereoCenter
    cumulenic	-  Cumulenic StereoCenter
-->
                    <xs:enumeration value="planar" ncbi:intvalue="1"/>
                    <xs:enumeration value="cumulenic" ncbi:intvalue="2"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Square Planar (SP4) StereoCenters
   [Using IUPAC Stereogenic Center recommendations and terminology]
   [Note: "-1" can be used for the Atom Identifier to represent a lone-pair or implicit hydrogen]
-->
<xs:element name="PC-StereoSquarePlanar">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom ID of Atom Center
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoSquarePlanar_center" type="xs:integer"/>
<!--
 Atom ID of Left Below Plane Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoSquarePlanar_lbelow" type="xs:integer"/>
<!--
 Atom ID of Right Below Plane Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoSquarePlanar_rbelow" type="xs:integer"/>
<!--
 Atom ID of Left Above Plane Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoSquarePlanar_labove" type="xs:integer"/>
<!--
 Atom ID of Right Above Plane Atom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoSquarePlanar_rabove" type="xs:integer"/>
      <xs:element name="PC-StereoSquarePlanar_parity" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    u-shape	-    U shaped isomer (labove-lbelow-rbelow-rabove)
    z-shape	-    Z shaped isomer (labove-rabove-lbelow-rbelow)
    x-shape	-    X shaped isomer (labove-rbelow-rabove-lbelow)
    any	-    Nonspecific mixture of isomers
-->
                    <xs:enumeration value="u-shape" ncbi:intvalue="1"/>
                    <xs:enumeration value="z-shape" ncbi:intvalue="2"/>
                    <xs:enumeration value="x-shape" ncbi:intvalue="3"/>
                    <xs:enumeration value="any" ncbi:intvalue="4"/>
                    <xs:enumeration value="unknown" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Octahedral (OC-6) and Square Pyramid (SPY-5) StereoCenters
   [Using IUPAC Stereogenic Center recommendations and terminology]
   [Note: "-1" can be used for the Atom Identifier to represent a lone-pair or implicit hydrogen]
-->
<xs:element name="PC-StereoOctahedral">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom ID of Atom Center
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoOctahedral_center" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Top
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoOctahedral_top" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Bottom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoOctahedral_bottom" type="xs:integer"/>
<!--
 Atom ID of Atom Above the Plane on the Left
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoOctahedral_labove" type="xs:integer"/>
<!--
 Atom ID of Atom Below the Plane on the Left
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoOctahedral_lbelow" type="xs:integer"/>
<!--
 Atom ID of Atom Above the Plane on the Right
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoOctahedral_rabove" type="xs:integer"/>
<!--
 Atom ID of Atom Below the Plane on the Right
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoOctahedral_rbelow" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Trigonal BiPyramid (TBPY-4 and TBPY-5) StereoCenters
   [Using IUPAC Stereogenic Center recommendations and terminology]
   [Note: "-1" can be used for the Atom Identifier to represent a lone-pair or implicit hydrogen]
-->
<xs:element name="PC-StereoTrigonalBiPyramid">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom ID of Atom Center
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTrigonalBiPyramid_center" type="xs:integer"/>
<!--
 Atom ID of Atom Above the Plane
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTrigonalBiPyramid_above" type="xs:integer"/>
<!--
 Atom ID of Atom Below the Plane
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTrigonalBiPyramid_below" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Top
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTrigonalBiPyramid_top" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Bottom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTrigonalBiPyramid_bottom" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and to the Right
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTrigonalBiPyramid_right" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 T-Shaped (TS-3) StereoCenters
   [Using IUPAC Stereogenic Center recommendations and terminology]
   [Note: "-1" can be used for the Atom Identifier to represent a lone-pair or implicit hydrogen]
-->
<xs:element name="PC-StereoTShape">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom ID of Atom Center
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTShape_center" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Top
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTShape_top" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Bottom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTShape_bottom" type="xs:integer"/>
<!--
 Atom ID of Atom Above the Plane
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoTShape_above" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Pentagonal BiPyramid (PBPY-7) StereoCenters
   [Using IUPAC Stereogenic Center recommendations and terminology]
   [Note: "-1" can be used for the Atom Identifier to represent a lone-pair or implicit hydrogen]
-->
<xs:element name="PC-StereoPentagonalBiPyramid">
  <xs:complexType>
    <xs:sequence>
<!--
 Atom ID of Atom Center
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPentagonalBiPyramid_center" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Top
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPentagonalBiPyramid_top" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Bottom
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPentagonalBiPyramid_bottom" type="xs:integer"/>
<!--
 Atom ID of Atom In-Plane and at the Left
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPentagonalBiPyramid_left" type="xs:integer"/>
<!--
 Atom ID of Atom Above the Plane on the Left
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPentagonalBiPyramid_labove" type="xs:integer"/>
<!--
 Atom ID of Atom Below the Plane on the Left
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPentagonalBiPyramid_lbelow" type="xs:integer"/>
<!--
 Atom ID of Atom Above the Plane on the Right
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPentagonalBiPyramid_rabove" type="xs:integer"/>
<!--
 Atom ID of Atom Below the Plane on the Right
   Note: Atom ID's must be greater than "0"
-->
      <xs:element name="PC-StereoPentagonalBiPyramid_rbelow" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
