es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_Medlars.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "medlars.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Medlars"
================================================= -->
<!--
$Revision: 6.0 $
**********************************************************************

  MEDLARS data definitions
  Grigoriy Starchenko, 1997

**********************************************************************
-->
<!-- Elements used by other modules:
          Medlars-entry,
          Medlars-record -->

<!-- Elements referenced from other modules:
          PubMedId FROM NCBI-Biblio -->

<!-- ============================================ -->



<!-- a MEDLARS entry -->
<xs:element name="Medlars-entry">
  <xs:complexType>
    <xs:sequence>
<!-- All entries in PubMed must have it -->
      <xs:element name="Medlars-entry_pmid">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PubMedId"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Medline(OCCS) id -->
      <xs:element name="Medlars-entry_muid" type="xs:integer" minOccurs="0"/>
<!-- List of Medlars records -->
      <xs:element name="Medlars-entry_recs">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Medlars-record"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Medlars-record">
  <xs:complexType>
    <xs:sequence>
<!-- Unit record field type integer form -->
      <xs:element name="Medlars-record_code" type="xs:integer"/>
<!-- Unit record field type abbreviation form -->
      <xs:element name="Medlars-record_abbr" type="xs:string" minOccurs="0"/>
<!-- Unit record data -->
      <xs:element name="Medlars-record_data" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
