es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_BlastDL.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "blastdb.asn"
     ::DATATOOL:: by application DATATOOL version 2.4.4
     ::DATATOOL:: on 01/30/2018 23:04:55
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-BlastDL"
================================================= -->
<!--
$Id: blastdb.asn 451801 2014-11-12 15:05:39Z camacho $

 Notes:

 taxonomy: an integer is proposed, which would require some sort of 
 table (or network connection) to do the conversions from integer 
 to various names.  This could save quite a bit of space for databases 
 that are predominantly of one organism (e.g., human in htgs).
 I've proposed here that table contain scientific-, common-, and 
 blast-names at the advice of Scott Federhen.  Scott also was in 
 favor of having the complete lineage in the file, but it seems like 
 this would be seldom used and we could have a view with a link back 
 to the taxonomy page for anyone needing it. Since one file would 
 suffice for all blast databases, it seems like this should be a new file.

 memberships: a sequence of integers is proposed.  Each bit of an integer 
 would indicate membership in some (virtual) blast database (e.g., pdb, 
 swissprot) or some classification (e.g., mRNA, genomic).

 links: a sequence of integers is proposed.  Each bit of an integer would 
 indicate a link that could be established based upon the gi of the 
 database sequence.

-->
<!-- Elements used by other modules:
          Blast-def-line-set,
          Blast-def-line -->

<!-- Elements referenced from other modules:
          Seq-id,
          Seq-loc FROM NCBI-Seqloc -->

<!-- ============================================ -->



<!-- all deflines for an entry -->
<xs:element name="Blast-def-line-set">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast-def-line"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast-def-line">
  <xs:complexType>
    <xs:sequence>
<!-- simple title -->
      <xs:element name="Blast-def-line_title" type="xs:string" minOccurs="0"/>
<!--
 Regular NCBI Seq-Id
 taxonomy id, should not be set if multiple taxids are available 
 (see links below)
-->
      <xs:element name="Blast-def-line_seqid">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast-def-line_taxid" type="xs:integer" minOccurs="0"/>
<!--
 bit arrays
 Repurposed to store the (multiple) taxIDs associated with WP proteins. 
-->
      <xs:element name="Blast-def-line_memberships" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast-def-line_memberships_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast-def-line_links" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast-def-line_links_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 In proteins this stores the PIG, in nucleotides this stores the "origin
 GIs" (if one sequence is described in the ASN.1 as an identical copy of
 another)
-->
      <xs:element name="Blast-def-line_other-info" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast-def-line_other-info_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 This defines the possible sequence filtering algorithms to be used in a
 BLAST database
-->
<xs:element name="Blast-filter-program">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="not-set" ncbi:intvalue="0"/>
              <xs:enumeration value="dust" ncbi:intvalue="10"/>
              <xs:enumeration value="seg" ncbi:intvalue="20"/>
              <xs:enumeration value="windowmasker" ncbi:intvalue="30"/>
              <xs:enumeration value="repeat" ncbi:intvalue="40"/>
              <xs:enumeration value="other" ncbi:intvalue="100"/>
              <xs:enumeration value="max" ncbi:intvalue="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="Blast-mask-list">
  <xs:complexType>
    <xs:sequence>
<!-- masks for a single sequence should be grouped in a Packed-seqint -->
      <xs:element name="Blast-mask-list_masks">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 as of 01/21/2010, this field is set to false always, indicating that the
 entire object (set of Seq-loc) is contained in this object
-->
      <xs:element name="Blast-mask-list_more">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Defines the masking information for a set of sequences -->
<xs:element name="Blast-db-mask-info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast-db-mask-info_algo-id" type="xs:integer"/>
      <xs:element name="Blast-db-mask-info_algo-program">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast-filter-program"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast-db-mask-info_algo-options" type="xs:string"/>
<!--
 This object was originally created to allow pagination of the sequence
 masks, but this feature was discontinued in 01/21/2010
-->
      <xs:element name="Blast-db-mask-info_masks">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast-mask-list"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
