es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_Submit.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "submit.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Submit"
================================================= -->
<!--
$Revision: 6.1 $
********************************************************************

  Direct Submission of Sequence Data
  James Ostell, 1991

  This is a trial specification for direct submission of sequence
    data worked out between NCBI and EMBL
  Later revised to reflect work with GenBank and Integrated database

  Version 3.0, 1994
    This is the official NCBI sequence submission format now.

********************************************************************
-->
<!-- Elements used by other modules:
          Seq-submit,
          Contact-info -->

<!-- Elements referenced from other modules:
          Cit-sub,
          Author FROM NCBI-Biblio,
          Date,
          Object-id FROM NCBI-General,
          Seq-annot FROM NCBI-Sequence,
          Seq-id FROM NCBI-Seqloc,
          Seq-entry FROM NCBI-Seqset -->

<!-- ============================================ -->



<!-- deletions of entries -->
<xs:element name="Seq-submit">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Seq-submit_sub">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Submit-block"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Seq-submit_data">
        <xs:complexType>
          <xs:choice>
<!-- sequence(s) -->
            <xs:element name="Seq-submit_data_entrys">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="Seq-entry"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!-- annotation(s) -->
            <xs:element name="Seq-submit_data_annots">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="Seq-annot"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Seq-submit_data_delete">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element ref="Seq-id"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Submit-block">
  <xs:complexType>
    <xs:sequence>
<!-- who to contact -->
      <xs:element name="Submit-block_contact">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Contact-info"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- citation for this submission -->
      <xs:element name="Submit-block_cit">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Cit-sub"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- hold until publish -->
      <xs:element name="Submit-block_hup" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- release by date -->
      <xs:element name="Submit-block_reldate" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Date"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Submit-block_subtype" minOccurs="0">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:integer">
              <xs:attribute name="value" use="optional">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
<!--
    new	-  new data
    update	-  update by author
    revision	-  3rd party (non-author) update
-->
                    <xs:enumeration value="new" ncbi:intvalue="1"/>
                    <xs:enumeration value="update" ncbi:intvalue="2"/>
                    <xs:enumeration value="revision" ncbi:intvalue="3"/>
                    <xs:enumeration value="other" ncbi:intvalue="255"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
<!-- tool used to make submission -->
      <xs:element name="Submit-block_tool" type="xs:string" minOccurs="0"/>
<!-- user supplied id for this submission -->
      <xs:element name="Submit-block_user-tag" type="xs:string" minOccurs="0"/>
<!-- user comments/advice to database -->
      <xs:element name="Submit-block_comment" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- who to contact to discuss the submission -->
<xs:element name="Contact-info">
  <xs:complexType>
    <xs:sequence>
<!-- OBSOLETE: will be removed -->
      <xs:element name="Contact-info_name" type="xs:string" minOccurs="0"/>
      <xs:element name="Contact-info_address" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Contact-info_address_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Contact-info_phone" type="xs:string" minOccurs="0"/>
      <xs:element name="Contact-info_fax" type="xs:string" minOccurs="0"/>
      <xs:element name="Contact-info_email" type="xs:string" minOccurs="0"/>
      <xs:element name="Contact-info_telex" type="xs:string" minOccurs="0"/>
<!-- for owner accounts -->
      <xs:element name="Contact-info_owner-id" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Object-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Contact-info_password" type="xs:hexBinary" minOccurs="0"/>
<!-- structured to replace name above -->
      <xs:element name="Contact-info_last-name" type="xs:string" minOccurs="0"/>
      <xs:element name="Contact-info_first-name" type="xs:string" minOccurs="0"/>
      <xs:element name="Contact-info_middle-initial" type="xs:string" minOccurs="0"/>
<!-- WARNING: this will replace the above -->
      <xs:element name="Contact-info_contact" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Author"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
