es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_FeatDef.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "featdef.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-FeatDef"
================================================= -->
<!--
$Revision: 6.0 $
**********************************************************************

  NCBI Sequence Feature Definition Module
  by James Ostell, 1994

**********************************************************************
-->
<!-- Elements used by other modules:
          FeatDef,
          FeatDefSet,
          FeatDispGroup,
          FeatDispGroupSet -->

<!-- ============================================ -->



<xs:element name="FeatDef">
  <xs:complexType>
    <xs:sequence>
<!-- short label for type eg "CDS" -->
      <xs:element name="FeatDef_typelabel" type="xs:string"/>
<!-- label for a menu eg "Coding Region" -->
      <xs:element name="FeatDef_menulabel" type="xs:string"/>
<!-- unique for this feature definition -->
      <xs:element name="FeatDef_featdef-key" type="xs:integer"/>
<!-- SeqFeat.data.choice from objfeat.h -->
      <xs:element name="FeatDef_seqfeat-key" type="xs:integer"/>
<!-- Group for data entry -->
      <xs:element name="FeatDef_entrygroup" type="xs:integer"/>
<!-- Group for data display -->
      <xs:element name="FeatDef_displaygroup" type="xs:integer"/>
<!-- Type of Molecule used for -->
      <xs:element name="FeatDef_molgroup">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FeatMolType"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="FeatMolType">
  <xs:complexType>
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
<!--
    aa	-  proteins
    na	-  nucleic acids
    both	-  both
-->
          <xs:enumeration value="aa"/>
          <xs:enumeration value="na"/>
          <xs:enumeration value="both"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:element>

<!-- collections of defintions -->
<xs:element name="FeatDefSet">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="FeatDef"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="FeatDispGroup">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="FeatDispGroup_groupkey" type="xs:integer"/>
      <xs:element name="FeatDispGroup_groupname" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="FeatDispGroupSet">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="FeatDispGroup"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="FeatDefGroupSet">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="FeatDefGroupSet_groups">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FeatDispGroupSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FeatDefGroupSet_defs">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="FeatDefSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
