es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NCBI_Blast4.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "blast.asn"
     ::DATATOOL:: by application DATATOOL version 2.4.4
     ::DATATOOL:: on 04/11/2016 23:04:05
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Blast4"
================================================= -->
<!--
  




















                            PUBLIC DOMAIN NOTICE
                National Center for Biotechnology Information

  This software/database is a "United States Government Work" under the terms
  of the United States Copyright Act.  It was written as part of the author's
  official duties as a United States Government employee and thus cannot be
  copyrighted.  This software/database is freely available to the public for
  use.  The National Library of Medicine and the U.S. Government have not
  placed any restriction on its use or reproduction.

  Although all reasonable efforts have been taken to ensure the accuracy and
  reliability of the software and data, the NLM and the U.S. Government do not
  and cannot warrant the performance or results that may be obtained by using
  this software or data.  The NLM and the U.S. Government disclaim all
  warranties, express or implied, including warranties of performance,
  merchantability or fitness for any particular purpose.

  Please cite the authors in any work or product based on this material.

  




















  Authors: Tom Madden, Tim Boemker

  ASN.1 interface to BLAST.

  



















-->
<!-- Elements used by other modules:
          Blast4-ka-block,
          Blast4-value,
          Blast4-parameter,
          Blast4-parameters -->

<!-- Elements referenced from other modules:
          Bioseq FROM NCBI-Sequence,
          Seq-data FROM NCBI-Sequence,
          Bioseq-set FROM NCBI-Seqset,
          PssmWithParameters FROM NCBI-ScoreMat,
          Seq-id,
          Seq-interval,
          Seq-loc FROM NCBI-Seqloc,
          Seq-align,
          Seq-align-set FROM NCBI-Seqalign -->

<!-- ============================================ -->



<!--
  


















  Requests

  

















-->
<xs:element name="Blast4-request">
  <xs:complexType>
    <xs:sequence>
<!--
 Client identifier (email address, organization name, program/script
 name, or any other form of contacting the owner of this request)
-->
      <xs:element name="Blast4-request_ident" type="xs:string" minOccurs="0"/>
<!-- Payload of the request -->
      <xs:element name="Blast4-request_body">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-request-body"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 An archive format for results.  the results can be reformatted from
 this format also.
-->
<xs:element name="Blast4-archive">
  <xs:complexType>
    <xs:sequence>
<!-- Query and options -->
      <xs:element name="Blast4-archive_request">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Results of search -->
      <xs:element name="Blast4-archive_results">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-search-results-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-archive_messages" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Blast4-error"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-request-body">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Blast4-request-body_finish-params">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-finish-params-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Get all available BLAST databases -->
      <xs:element name="Blast4-request-body_get-databases">
        <xs:complexType/>
      </xs:element>
<!-- Get supported scoring matrices -->
      <xs:element name="Blast4-request-body_get-matrices">
        <xs:complexType/>
      </xs:element>
      <xs:element name="Blast4-request-body_get-parameters">
        <xs:complexType/>
      </xs:element>
      <xs:element name="Blast4-request-body_get-paramsets">
        <xs:complexType/>
      </xs:element>
      <xs:element name="Blast4-request-body_get-programs">
        <xs:complexType/>
      </xs:element>
      <xs:element name="Blast4-request-body_get-search-results">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-search-results-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-request-body_get-sequences">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-sequences-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-request-body_queue-search">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-queue-search-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-request-body_get-request-info">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-request-info-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-request-body_get-sequence-parts">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-seq-parts-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-request-body_get-windowmasked-taxids">
        <xs:complexType/>
      </xs:element>
<!-- Get version and info about some extended methods -->
      <xs:element name="Blast4-request-body_get-protocol-info">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-protocol-info-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Get search info: status, title and etc. -->
      <xs:element name="Blast4-request-body_get-search-info">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-search-info-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- OLD OK get-databases-ex           NULL -->
      <xs:element name="Blast4-request-body_get-databases-ex">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-databases-ex-request"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-databases-ex-request">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-databases-ex-request_params" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- END ADD EXT INFO -->
<xs:element name="Blast4-finish-params-request">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-finish-params-request_program" type="xs:string"/>
      <xs:element name="Blast4-finish-params-request_service" type="xs:string"/>
      <xs:element name="Blast4-finish-params-request_paramset" type="xs:string" minOccurs="0"/>
      <xs:element name="Blast4-finish-params-request_params" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- This type allows the specification of what result types are desired -->
<xs:element name="Blast4-result-types">
  <xs:complexType>
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
<!--
    default	-  Default retrieves the following result types (if available): alignments,
         phi-alignments masks, ka-blocks, search-stats and pssm
-->
          <xs:enumeration value="default"/>
          <xs:enumeration value="alignments"/>
          <xs:enumeration value="phi-alignments"/>
          <xs:enumeration value="masks"/>
          <xs:enumeration value="ka-blocks"/>
          <xs:enumeration value="search-stats"/>
          <xs:enumeration value="pssm"/>
          <xs:enumeration value="simple-results"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-search-results-request">
  <xs:complexType>
    <xs:sequence>
<!-- The request ID of the BLAST search -->
      <xs:element name="Blast4-get-search-results-request_request-id" type="xs:string"/>
<!-- Logical OR of Blast4-result-types, assumes default if absent -->
      <xs:element name="Blast4-get-search-results-request_result-types" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 If a PSSM is used (ie. for PSI-Blast), it must contain a "query"
 for formatting purposes.  Bioseq-set may contain any number of
 queries, specified as data.  Seq-loc-list may contain only the
 "whole" or "interval" types.  In the case of "whole", any number of
 queries may be used; in the case of "interval", there should be
 exactly one query.  (This is limited by the BlastObject.)
-->
<xs:element name="Blast4-queries">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Blast4-queries_pssm">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PssmWithParameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-queries_seq-loc-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-queries_bioseq-set">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Bioseq-set"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!--
 Options have been broken down into three groups as part of the BLAST
 API work.  The algorithm options essentially correspond to those
 options available via the CBlastOptions class.
 For definitions of the names used in the Blast4-parameter structures, see
 c++/{include,src}/objects/blast/names.[hc]pp in the NCBI C++ toolkit.
   algorithm-options: Options for BLAST (ie. seq comparison) algorithm.
   program-options:   Options for controlling program execution and/or 
                      database filtering
   format-options:    Options for formatting BLAST results, clients should
                      use this only if applicable, otherwise they should be
                      ignored
-->
<xs:element name="Blast4-queue-search-request">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-queue-search-request_program" type="xs:string"/>
      <xs:element name="Blast4-queue-search-request_service" type="xs:string"/>
      <xs:element name="Blast4-queue-search-request_queries">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-queries"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-queue-search-request_subject">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-subject"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- This field contains a task description -->
      <xs:element name="Blast4-queue-search-request_paramset" type="xs:string" minOccurs="0"/>
      <xs:element name="Blast4-queue-search-request_algorithm-options" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-queue-search-request_program-options" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-queue-search-request_format-options" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Request to retrieve the status of a given search -->
<xs:element name="Blast4-get-search-status-request">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-search-status-request_request-id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Reply to retrieve the status of a given search -->
<xs:element name="Blast4-get-search-status-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-search-status-reply_status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Fetch information about the search request. -->
<xs:element name="Blast4-get-request-info-request">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-request-info-request_request-id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-request-info-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-request-info-reply_database">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-database"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-request-info-reply_program" type="xs:string"/>
      <xs:element name="Blast4-get-request-info-reply_service" type="xs:string"/>
      <xs:element name="Blast4-get-request-info-reply_created-by" type="xs:string"/>
      <xs:element name="Blast4-get-request-info-reply_queries">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-queries"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-request-info-reply_algorithm-options">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-request-info-reply_program-options">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-request-info-reply_format-options" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-request-info-reply_subjects" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-subject"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Fetch the search strategy (i.e.: object used to submit the search) -->
<xs:element name="Blast4-get-search-strategy-request">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-search-strategy-request_request-id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Return the search strategy (i.e.: Blast4-request containing a
 Blast4-queue-search-request, an object used to submit the search)
-->
<xs:element name="Blast4-get-search-strategy-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="Blast4-request"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Fetch sequence data from a BLAST database -->
<xs:element name="Blast4-get-sequences-request">
  <xs:complexType>
    <xs:sequence>
<!-- Name of the BLAST database from which to retrieve the sequence data -->
      <xs:element name="Blast4-get-sequences-request_database">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-database"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Sequence identifiers for the sequence to get -->
      <xs:element name="Blast4-get-sequences-request_seq-ids">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Determines whether the returned Bioseqs should contain the sequence data
 or not
-->
      <xs:element name="Blast4-get-sequences-request_skip-seq-data" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="optional" default="false">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!--
 Determines whether or not the defline of the returned Bioseqs should 
 contain only the requested seq id.  This optional field only applies
 to non-redundant BLAST database
-->
      <xs:element name="Blast4-get-sequences-request_target-only" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Fetch parts of sequences from a BLAST database -->
<xs:element name="Blast4-get-seq-parts-request">
  <xs:complexType>
    <xs:sequence>
<!-- Name of the BLAST database from which to retrieve the sequence data -->
      <xs:element name="Blast4-get-seq-parts-request_database">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-database"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Allows the specification of ranges of sequence data needed.
 If the sequence(s) interval's end is 0, no data will be fetched. 
 If end is past the length of the sequence, it will be adjusted to the
 end of the sequence (this allows fetching of the first chunk in
 cases where the length is not yet known).
-->
      <xs:element name="Blast4-get-seq-parts-request_seq-locations">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-interval"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- support for version and checking availability of methods -->
<xs:element name="Blast4-get-protocol-info-request">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="Blast4-parameters"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- variose search information -->
<xs:element name="Blast4-get-search-info-request">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-search-info-request_request-id" type="xs:string"/>
      <xs:element name="Blast4-get-search-info-request_info" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
  


















  Replies

  

















-->
<xs:element name="Blast4-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-reply_errors" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Blast4-error"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply_body">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-reply-body"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-reply-body">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Blast4-reply-body_finish-params">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-finish-params-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-databases">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-databases-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-matrices">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-matrices-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-parameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-parameters-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-paramsets">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-paramsets-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-programs">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-programs-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-search-results">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-search-results-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-sequences">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-sequences-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_queue-search">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-queue-search-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-queries">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-queries-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-request-info">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-request-info-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-sequence-parts">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-seq-parts-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-windowmasked-taxids">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-windowmasked-taxids-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-protocol-info">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-protocol-info-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-search-info">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-search-info-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-reply-body_get-databases-ex">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-get-databases-ex-reply"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-finish-params-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="Blast4-parameters"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-windowmasked-taxids-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Blast4-get-windowmasked-taxids-reply_E" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-databases-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast4-database-info"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-databases-ex-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast4-database-info"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-matrices-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast4-matrix-id"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-parameters-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast4-parameter-info"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Note: Paramsets and tasks represent the same concept: a human readable
 description that represents a set of parameters with specific values 
 to accomplish a given task
-->
<xs:element name="Blast4-get-paramsets-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast4-task-info"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-programs-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast4-program-info"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-search-results-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-search-results-reply_alignments" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-align-set"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-search-results-reply_phi-alignments" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-phi-alignments"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Masking locations for the query sequence(s). Each element of this set
 corresponds to a single query's translation frame as appropriate.
-->
      <xs:element name="Blast4-get-search-results-reply_masks" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Blast4-mask"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-search-results-reply_ka-blocks" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Blast4-ka-block"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-search-results-reply_search-stats" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast4-get-search-results-reply_search-stats_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-search-results-reply_pssm" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PssmWithParameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-get-search-results-reply_simple-results" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-simple-results"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-sequences-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Bioseq"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Bundles Seq-ids and sequence data to fulfill requests of type
 Blast4-get-seq-parts-request
-->
<xs:element name="Blast4-seq-part-data">
  <xs:complexType>
    <xs:sequence>
<!-- Sequence identifier -->
      <xs:element name="Blast4-seq-part-data_id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Its sequence data (may be partial) -->
      <xs:element name="Blast4-seq-part-data_data">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-data"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-seq-parts-reply">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast4-seq-part-data"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-queue-search-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-queue-search-reply_request-id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-queries-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-queries-reply_queries">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-queries"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-protocol-info-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="Blast4-parameters"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-get-search-info-reply">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-get-search-info-reply_request-id" type="xs:string"/>
      <xs:element name="Blast4-get-search-info-reply_info" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
  


















  Errors

  

















-->
<xs:element name="Blast4-error">
  <xs:complexType>
    <xs:sequence>
<!--
 This is an integer to allow for flexibility, but the values assigned
 should be of type Blast4-error-code
-->
      <xs:element name="Blast4-error_code" type="xs:integer"/>
      <xs:element name="Blast4-error_message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 This enumeration defines values that are intended to be used with the
 Blast4-error::code in a logical AND operation to easily determine whether a
 given Blast4-error object contains either a warning or an error
-->
<xs:element name="Blast4-error-flags">
  <xs:complexType>
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="warning"/>
          <xs:enumeration value="error"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:element>

<!--
 Defines values for use in Blast4-error::code.
 Note: warnings should have values greater than 1024 and less than 2048,
 errors should have values greater than 2048.
-->
<xs:element name="Blast4-error-code">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
<!--
    conversion-warning	-  A conversion issue was found when converting to/from blast3 from/to 
         blast4 protocol in the blast4 server
    internal-error	-  Indicates internal errors in the blast4 server
    not-implemented	-  Request type is not implemented in the blast4 server
    not-allowed	-  Request type is not allowed in the blast4 server
    bad-request	-  Malformed/invalid requests (e.g.: parsing errors or invalid data in request)
    bad-request-id	-  The RID requested is unknown or it has expired
    search-pending	-  The search is pending
-->
              <xs:enumeration value="conversion-warning" ncbi:intvalue="1024"/>
              <xs:enumeration value="internal-error" ncbi:intvalue="2048"/>
              <xs:enumeration value="not-implemented" ncbi:intvalue="2049"/>
              <xs:enumeration value="not-allowed" ncbi:intvalue="2050"/>
              <xs:enumeration value="bad-request" ncbi:intvalue="2051"/>
              <xs:enumeration value="bad-request-id" ncbi:intvalue="2052"/>
              <xs:enumeration value="search-pending" ncbi:intvalue="2053"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<!--
  


















  Other types in alphabetical order

  

















-->
<xs:element name="Blast4-cutoff">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Blast4-cutoff_e-value" type="xs:double"/>
      <xs:element name="Blast4-cutoff_raw-score" type="xs:integer"/>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-database">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-database_name" type="xs:string"/>
      <xs:element name="Blast4-database_type">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-residue-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Borrowed from seq.asn -->
<xs:element name="Blast4-seqtech">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="xs:integer">
        <xs:attribute name="value" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
<!--
    standard	-  standard sequencing
    est	-  Expressed Sequence Tag
    sts	-  Sequence Tagged Site
    survey	-  one-pass genomic sequence
    genemap	-  from genetic mapping techniques
    physmap	-  from physical mapping techniques
    derived	-  derived from other data, not a primary entity
    concept-trans	-  conceptual translation
    seq-pept	-  peptide was sequenced
    both	-  concept transl. w/ partial pept. seq.
    seq-pept-overlap	-  sequenced peptide, ordered by overlap
    seq-pept-homol	-  sequenced peptide, ordered by homology
    concept-trans-a	-  conceptual transl. supplied by author
    htgs-1	-  unordered High Throughput sequence contig
    htgs-2	-  ordered High Throughput sequence contig
    htgs-3	-  finished High Throughput sequence
    fli-cdna	-  full length insert cDNA
    htgs-0	-  single genomic reads for coordination
    htc	-  high throughput cDNA
    wgs	-  whole genome shotgun sequencing
    other	-  use Source.techexp
-->
              <xs:enumeration value="unknown" ncbi:intvalue="0"/>
              <xs:enumeration value="standard" ncbi:intvalue="1"/>
              <xs:enumeration value="est" ncbi:intvalue="2"/>
              <xs:enumeration value="sts" ncbi:intvalue="3"/>
              <xs:enumeration value="survey" ncbi:intvalue="4"/>
              <xs:enumeration value="genemap" ncbi:intvalue="5"/>
              <xs:enumeration value="physmap" ncbi:intvalue="6"/>
              <xs:enumeration value="derived" ncbi:intvalue="7"/>
              <xs:enumeration value="concept-trans" ncbi:intvalue="8"/>
              <xs:enumeration value="seq-pept" ncbi:intvalue="9"/>
              <xs:enumeration value="both" ncbi:intvalue="10"/>
              <xs:enumeration value="seq-pept-overlap" ncbi:intvalue="11"/>
              <xs:enumeration value="seq-pept-homol" ncbi:intvalue="12"/>
              <xs:enumeration value="concept-trans-a" ncbi:intvalue="13"/>
              <xs:enumeration value="htgs-1" ncbi:intvalue="14"/>
              <xs:enumeration value="htgs-2" ncbi:intvalue="15"/>
              <xs:enumeration value="htgs-3" ncbi:intvalue="16"/>
              <xs:enumeration value="fli-cdna" ncbi:intvalue="17"/>
              <xs:enumeration value="htgs-0" ncbi:intvalue="18"/>
              <xs:enumeration value="htc" ncbi:intvalue="19"/>
              <xs:enumeration value="wgs" ncbi:intvalue="20"/>
              <xs:enumeration value="other" ncbi:intvalue="255"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-database-info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-database-info_database">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-database"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-database-info_description" type="xs:string"/>
      <xs:element name="Blast4-database-info_last-updated" type="xs:string"/>
      <xs:element name="Blast4-database-info_total-length" type="xs:long"/>
      <xs:element name="Blast4-database-info_num-sequences" type="xs:long"/>
      <xs:element name="Blast4-database-info_seqtech">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-seqtech"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-database-info_taxid" type="xs:integer"/>
      <xs:element name="Blast4-database-info_extended" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-parameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-frame-type">
  <xs:complexType>
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="notset"/>
          <xs:enumeration value="plus1"/>
          <xs:enumeration value="plus2"/>
          <xs:enumeration value="plus3"/>
          <xs:enumeration value="minus1"/>
          <xs:enumeration value="minus2"/>
          <xs:enumeration value="minus3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-ka-block">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-ka-block_lambda" type="xs:double"/>
      <xs:element name="Blast4-ka-block_k" type="xs:double"/>
      <xs:element name="Blast4-ka-block_h" type="xs:double"/>
      <xs:element name="Blast4-ka-block_gapped">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!--
 Masking locations for a query's frame. The locations field is a single
 Seq-loc of type Packed-int, which contains all the masking locations for the
 translation frame specified by the frame field.
 Notes:
 On input (i.e.: when the client specifies masking locations as a
 Blast4-parameter), in the case of protein queries, the frame field must 
 always be notset, in the case of nucleotide queries (regardless of whether 
 the search will translate these or not), the frame must be plus1. Masking 
 locations in the translated encoding are not permitted.
 On output (i.e.: when blast 4 server encodes these as part of the 
 Blast4-get-search-results-reply), the same conventions as above apply for
 non-translated protein and nucleotide queries, but in the case of translated
 nucleotide queries, the frame field can be specified in any of the
 translation frames as appropriate.
-->
<xs:element name="Blast4-mask">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-mask_locations">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-mask_frame">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-frame-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-matrix-id">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-matrix-id_residue-type">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-residue-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-matrix-id_name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-parameter">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-parameter_name" type="xs:string"/>
      <xs:element name="Blast4-parameter_value">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-value"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-parameter-info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-parameter-info_name" type="xs:string"/>
      <xs:element name="Blast4-parameter-info_type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Self documenting task structure -->
<xs:element name="Blast4-task-info">
  <xs:complexType>
    <xs:sequence>
<!-- Name of this task -->
      <xs:element name="Blast4-task-info_name" type="xs:string"/>
<!-- Description of the task -->
      <xs:element name="Blast4-task-info_documentation" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-program-info">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-program-info_program" type="xs:string"/>
      <xs:element name="Blast4-program-info_services">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast4-program-info_services_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-residue-type">
  <xs:complexType>
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="unknown"/>
          <xs:enumeration value="protein"/>
          <xs:enumeration value="nucleotide"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-strand-type">
  <xs:complexType>
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="forward-strand"/>
          <xs:enumeration value="reverse-strand"/>
          <xs:enumeration value="both-strands"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-subject">
  <xs:complexType>
    <xs:choice>
      <xs:element name="Blast4-subject_database" type="xs:string"/>
      <xs:element name="Blast4-subject_sequences">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Bioseq"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-subject_seq-loc-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-parameters">
  <xs:complexType>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="Blast4-parameter"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-phi-alignments">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-phi-alignments_num-alignments" type="xs:integer"/>
      <xs:element name="Blast4-phi-alignments_seq-locs">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Blast4-value">
  <xs:complexType>
    <xs:choice>
<!-- scalar types -->
      <xs:element name="Blast4-value_big-integer" type="xs:long"/>
      <xs:element name="Blast4-value_bioseq">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Bioseq"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_boolean">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_cutoff">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-cutoff"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_integer" type="xs:integer"/>
      <xs:element name="Blast4-value_matrix">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="PssmWithParameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_real" type="xs:double"/>
      <xs:element name="Blast4-value_seq-align">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-align"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_seq-id">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_seq-loc">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_strand-type">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-strand-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_string" type="xs:string"/>
<!-- lists of scalar types -->
      <xs:element name="Blast4-value_big-integer-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast4-value_big-integer-list_E" type="xs:long"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_bioseq-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Bioseq"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_boolean-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast4-value_boolean-list_E">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_cutoff-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Blast4-cutoff"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_integer-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast4-value_integer-list_E" type="xs:integer"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_matrix-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PssmWithParameters"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_real-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast4-value_real-list_E" type="xs:double"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_seq-align-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-align"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_seq-id-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-id"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_seq-loc-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Seq-loc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_strand-type-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Blast4-strand-type"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_string-list">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Blast4-value_string-list_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- imported collection types -->
      <xs:element name="Blast4-value_bioseq-set">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Bioseq-set"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Blast4-value_seq-align-set">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Seq-align-set"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!--
 Intended to represent user-provided masking locations for a single query
 sequence (name field in Blast4-parameter should be "LCaseMask").
 Multiple Blast4-parameters of this type are needed to specify masking
 locations for multiple queries.
-->
      <xs:element name="Blast4-value_query-mask">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-mask"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:element>

<!-- Complete set of simple Blast results -->
<xs:element name="Blast4-simple-results">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-simple-results_all-alignments">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Blast4-alignments-for-query"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Alignments for one query, compiled from the raw SeqAlign results -->
<xs:element name="Blast4-alignments-for-query">
  <xs:complexType>
    <xs:sequence>
<!--
 Query sequence identifier
 (present if query is not a local id in the SeqAlign)
-->
      <xs:element name="Blast4-alignments-for-query_query-id" type="xs:string"/>
<!-- All the alignments for this query -->
      <xs:element name="Blast4-alignments-for-query_alignments">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Blast4-simple-alignment"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- A single alignment -->
<xs:element name="Blast4-simple-alignment">
  <xs:complexType>
    <xs:sequence>
<!--
 Subject sequence identifier
 (normally a GI from the SeqAlign)
-->
      <xs:element name="Blast4-simple-alignment_subject-id" type="xs:string"/>
<!-- E-Value -->
      <xs:element name="Blast4-simple-alignment_e-value" type="xs:double"/>
<!-- Bit score -->
      <xs:element name="Blast4-simple-alignment_bit-score" type="xs:double"/>
<!-- Number of identities -->
      <xs:element name="Blast4-simple-alignment_num-identities" type="xs:integer" minOccurs="0"/>
<!-- Number of insertions/deletions -->
      <xs:element name="Blast4-simple-alignment_num-indels" type="xs:integer" minOccurs="0"/>
<!-- Full query range covered by this HSP -->
      <xs:element name="Blast4-simple-alignment_full-query-range">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-range"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- Full subject range covered by this HSP -->
      <xs:element name="Blast4-simple-alignment_full-subject-range">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Blast4-range"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Range on a sequence - zero offset -->
<xs:element name="Blast4-range">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Blast4-range_start" type="xs:integer" minOccurs="0"/>
      <xs:element name="Blast4-range_end" type="xs:integer" minOccurs="0"/>
<!--
 The frame of the range (absent for proteins; -1/1 for nucleotides;
 -1,-2,-3,1,2,3 for translated sequences)
-->
      <xs:element name="Blast4-range_strand" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
