es.rcs.tfm/es.rcs.tfm.xml/esquemas/xsd/others/NSE.mod.xsd

<?xml version="1.0" ?>
<!-- ============================================
     ::DATATOOL:: Generated from "docsum.asn"
     ::DATATOOL:: by application DATATOOL version 1.8.7
     ::DATATOOL:: on 10/04/2007 23:07:33
     ============================================ -->

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ncbi="http://www.ncbi.nlm.nih.gov"
  xmlns="http://www.ncbi.nlm.nih.gov"
  targetNamespace="http://www.ncbi.nlm.nih.gov"
  elementFormDefault="qualified"
  attributeFormDefault="unqualified">

<!-- ============================================ -->
<!-- This section is mapped from module "NSE"
================================================= -->
<!-- Elements used by other modules:
          ExchangeSet,
          Rs,
          Ss,
          MapLoc,
          FxnSet,
          Assembly,
          Assay,
          BaseURL,
          PrimarySequence,
          RsStruct,
          RsLinkout,
          Component -->

<!-- ============================================ -->



<!-- Set of dbSNP refSNP docsums -->
<xs:element name="ExchangeSet">
  <xs:complexType>
    <xs:sequence>
<!-- set-type: full dump; from query; single refSNP -->
      <xs:element name="ExchangeSet_setType" type="xs:string" minOccurs="0"/>
<!-- content depth: brief XML (only refSNP properties and summary subSNP element content); full XML (full refSNP, full subSNP content; all flanking sequences) -->
      <xs:element name="ExchangeSet_setDepth" type="xs:string" minOccurs="0"/>
<!-- version number of docsum.asn/docsum.dtd specification -->
      <xs:element name="ExchangeSet_specVersion" type="xs:string" minOccurs="0"/>
<!-- build number of database for this export -->
      <xs:element name="ExchangeSet_dbSnpBuild" type="xs:integer" minOccurs="0"/>
<!-- Generated date -->
      <xs:element name="ExchangeSet_generated" type="xs:string" minOccurs="0"/>
      <xs:element name="ExchangeSet_sourceDatabase">
        <xs:complexType>
          <xs:sequence>
<!-- NCBI taxonomy ID for variation -->
            <xs:element name="ExchangeSet_sourceDatabase_taxId" type="xs:integer"/>
<!-- common name for species used as part of database name. -->
            <xs:element name="ExchangeSet_sourceDatabase_organism" type="xs:string"/>
<!-- organism abbreviation used in dbSNP. -->
            <xs:element name="ExchangeSet_sourceDatabase_dbSnpOrgAbbr" type="xs:string" minOccurs="0"/>
<!-- organism abbreviation used within NCBI genome pipeline data dumps. -->
            <xs:element name="ExchangeSet_sourceDatabase_gpipeOrgAbbr" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_rs" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Rs"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_assay" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Assay"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_query" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
<!-- yyyy-mm-dd -->
            <xs:element name="ExchangeSet_query_date" type="xs:string" minOccurs="0"/>
<!-- Query terms or search constraints -->
            <xs:element name="ExchangeSet_query_string" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_summary">
        <xs:complexType>
          <xs:sequence>
<!-- Total number of refsnp-ids in this exchange set -->
            <xs:element name="ExchangeSet_summary_numRsIds" type="xs:integer" minOccurs="0"/>
<!-- Total length of exemplar flanking sequences -->
            <xs:element name="ExchangeSet_summary_totalSeqLength" type="xs:integer" minOccurs="0"/>
<!-- Total number of contig locations from SNPContigLoc -->
            <xs:element name="ExchangeSet_summary_numContigHits" type="xs:integer" minOccurs="0"/>
<!-- Total number of locus ids from SNPContigLocusId -->
            <xs:element name="ExchangeSet_summary_numGeneHits" type="xs:integer" minOccurs="0"/>
<!-- Total number of gi hits from MapLink -->
            <xs:element name="ExchangeSet_summary_numGiHits" type="xs:integer" minOccurs="0"/>
<!-- Total number of 3D structures from SNP3D -->
            <xs:element name="ExchangeSet_summary_num3dStructs" type="xs:integer" minOccurs="0"/>
<!-- Total number of allele frequences from SubPopAllele -->
            <xs:element name="ExchangeSet_summary_numAlleleFreqs" type="xs:integer" minOccurs="0"/>
<!-- Total number of STS hits from SnpInSts -->
            <xs:element name="ExchangeSet_summary_numStsHits" type="xs:integer" minOccurs="0"/>
<!-- Total number of unigene cluster ids from UnigeneSnp -->
            <xs:element name="ExchangeSet_summary_numUnigeneCids" type="xs:integer" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ExchangeSet_baseURL">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="BaseURL"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- defines the docsum structure for refSNP clusters, where a refSNP cluster (rs) is a grouping of individual dbSNP submissions that all refer to the same variation. The refsnp provides a single unified record for annotation of NCBI resources such as reference genome sequence. -->
<xs:element name="Rs">
  <xs:complexType>
    <xs:sequence>
<!-- refSNP (rs) number -->
      <xs:element name="Rs_rsId" type="xs:integer"/>
      <xs:element name="Rs_snpClass">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="snp"/>
                <xs:enumeration value="in-del"/>
                <xs:enumeration value="heterozygous"/>
                <xs:enumeration value="microsatellite"/>
                <xs:enumeration value="named-locus"/>
                <xs:enumeration value="no-variation"/>
                <xs:enumeration value="mixed"/>
                <xs:enumeration value="multinucleotide-polymorphism"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_snpType">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="notwithdrawn"/>
                <xs:enumeration value="artifact"/>
                <xs:enumeration value="gene-duplication"/>
                <xs:enumeration value="duplicate-submission"/>
                <xs:enumeration value="notspecified"/>
                <xs:enumeration value="ambiguous-location"/>
                <xs:enumeration value="low-map-quality"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_molType">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="genomic"/>
                <xs:enumeration value="cDNA"/>
                <xs:enumeration value="mito"/>
                <xs:enumeration value="chloro"/>
                <xs:enumeration value="unknown"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- minimum reported success rate of all submissions in cluster -->
      <xs:element name="Rs_validProbMin" type="xs:integer" minOccurs="0"/>
<!-- maximum reported success rate of all submissions in cluster -->
      <xs:element name="Rs_validProbMax" type="xs:integer" minOccurs="0"/>
<!-- at least one genotype reported for this refSNP -->
      <xs:element name="Rs_genotype" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_het" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
<!-- Est=Estimated average het from allele frequencies, Obs=Observed from genotype data -->
            <xs:element name="Rs_het_type">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="est"/>
                      <xs:enumeration value="obs"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!-- Heterozygosity -->
            <xs:element name="Rs_het_value" type="xs:double"/>
<!-- Standard error of Het estimate -->
            <xs:element name="Rs_het_stdError" type="xs:double" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_validation">
        <xs:complexType>
          <xs:sequence>
<!-- at least one subsnp in cluster has frequency data submitted -->
            <xs:element name="Rs_validation_byCluster" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!-- cluster has 2+ submissions, with 1+ submissions assayed with a non-computational method -->
            <xs:element name="Rs_validation_byFrequency" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
            <xs:element name="Rs_validation_byOtherPop" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!-- cluster has 2+ submissions, with 1+ submissions assayed with a non-computational method -->
            <xs:element name="Rs_validation_by2Hit2Allele" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!-- TBD -->
            <xs:element name="Rs_validation_byHapMap" minOccurs="0">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="true"/>
                      <xs:enumeration value="false"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!-- dbSNP batch-id's for other pop snp validation data. -->
            <xs:element name="Rs_validation_otherPopBatchId" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Rs_validation_otherPopBatchId_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
<!-- dbSNP batch-id's for double-hit snp validation data. Use batch-id to get methods, etc. -->
            <xs:element name="Rs_validation_twoHit2AlleleBatchId" minOccurs="0">
              <xs:complexType>
                <xs:sequence minOccurs="0" maxOccurs="unbounded">
                  <xs:element name="Rs_validation_twoHit2AlleleBatchId_E" type="xs:integer"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- date the refsnp cluster was instantiated -->
      <xs:element name="Rs_create">
        <xs:complexType>
          <xs:sequence>
<!-- build number when the cluster was created -->
            <xs:element name="Rs_create_build" type="xs:integer" minOccurs="0"/>
<!-- yyyy-mm-dd -->
            <xs:element name="Rs_create_date" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
<!-- most recent date the cluster was updated (member added or deleted) -->
      <xs:element name="Rs_update" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
<!-- build number when the cluster was updated -->
            <xs:element name="Rs_update_build" type="xs:integer" minOccurs="0"/>
<!-- yyyy-mm-dd -->
            <xs:element name="Rs_update_date" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_sequence">
        <xs:complexType>
          <xs:sequence>
<!-- dbSNP ss# selected as source of refSNP flanking sequence, ss# part of ss-list below -->
            <xs:element name="Rs_sequence_exemplarSs" type="xs:integer"/>
<!-- 5' sequence that flanks the variation -->
            <xs:element name="Rs_sequence_seq5" type="xs:string" minOccurs="0"/>
<!-- list of all nucleotide alleles observed in ss-list members, correcting for reverse complementation of memebers reported in reverse orientation -->
            <xs:element name="Rs_sequence_observed" type="xs:string"/>
<!-- 3' sequence that flanks the variation -->
            <xs:element name="Rs_sequence_seq3" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_ss">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Ss"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_assembly" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Assembly"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_primarySequence" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="PrimarySequence"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_rsStruct" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="RsStruct"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_rsLinkout" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="RsLinkout"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Rs_mergeHistory" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Rs_mergeHistory_E">
              <xs:complexType>
                <xs:sequence>
<!-- previously issued rs id whose member assays have now been merged -->
                  <xs:element name="Rs_mergeHistory_E_rsId" type="xs:integer"/>
<!-- build id when rs id was merged into parent rs -->
                  <xs:element name="Rs_mergeHistory_E_buildId" type="xs:integer" minOccurs="0"/>
<!-- TRUE if strand of rs id is reverse to parent object's current strand -->
                  <xs:element name="Rs_mergeHistory_E_orientFlip" minOccurs="0">
                    <xs:complexType>
                      <xs:attribute name="value" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="true"/>
                            <xs:enumeration value="false"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- data for an individual submission to dbSNP -->
<xs:element name="Ss">
  <xs:complexType>
    <xs:sequence>
<!-- dbSNP accession number for submission -->
      <xs:element name="Ss_ssId" type="xs:integer"/>
<!-- Tag for the submitting laboratory -->
      <xs:element name="Ss_handle" type="xs:string"/>
<!-- dbSNP number for batch submission -->
      <xs:element name="Ss_batchId" type="xs:integer"/>
<!-- submission (ss#) submitter ID -->
      <xs:element name="Ss_locSnpId" type="xs:string" minOccurs="0"/>
<!-- SubSNP classification by type of variation -->
      <xs:element name="Ss_subSnpClass" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="snp"/>
                <xs:enumeration value="in-del"/>
                <xs:enumeration value="heterozygous"/>
                <xs:enumeration value="microsatellite"/>
                <xs:enumeration value="named-locus"/>
                <xs:enumeration value="no-variation"/>
                <xs:enumeration value="mixed"/>
                <xs:enumeration value="multinucleotide-polymorphism"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- orientation of refsnp cluster members to refsnp cluster sequence -->
      <xs:element name="Ss_orient" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
<!--
    forward	-  ss flanking sequence is in same orientation as seq-ss-exemplar
    reverse	-  lanking sequence and alleles are reverse complement of refSNP as defined by ss exemplar
-->
                <xs:enumeration value="forward"/>
                <xs:enumeration value="reverse"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- strand is defined as TOP/BOTTOM by nature of flanking nucleotide sequence -->
      <xs:element name="Ss_strand" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="top"/>
                <xs:enumeration value="bottom"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- moltype from Batch table -->
      <xs:element name="Ss_molType" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="genomic"/>
                <xs:enumeration value="cDNA"/>
                <xs:enumeration value="mito"/>
                <xs:enumeration value="chloro"/>
                <xs:enumeration value="unknown"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- dbSNP build number when ss# was added to a refSNP (rs#) cluster -->
      <xs:element name="Ss_buildId" type="xs:integer" minOccurs="0"/>
<!-- class of method used to assay for the variation -->
      <xs:element name="Ss_methodClass" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
<!--
    dHPLC	-  Denaturing High Pressure Liquid Chromatography used to detect SNP
    hybridize	-  a hybridization method (e.g. chip) was used to assay for variation
    computed	-  variation was mined from sequence alignment with software
    sequence	-  samples were sequenced and resulting alignment used to define variation
-->
                <xs:enumeration value="dHPLC"/>
                <xs:enumeration value="hybridize"/>
                <xs:enumeration value="computed"/>
                <xs:enumeration value="sSCP"/>
                <xs:enumeration value="other"/>
                <xs:enumeration value="unknown"/>
                <xs:enumeration value="rFLP"/>
                <xs:enumeration value="sequence"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Ss_validated" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
<!--
    by-submitter	-  subsnp has been experimentally validated by submitter
    by-frequency	-  subsnp has frequency data submitted
    by-cluster	-  has 2+ submissions, with 1+ submission assayed with a non-computational method
-->
                <xs:enumeration value="by-submitter"/>
                <xs:enumeration value="by-frequency"/>
                <xs:enumeration value="by-cluster"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- append loc-snp-id to this base URL to construct a pointer to submitter data. -->
      <xs:element name="Ss_linkoutUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="Ss_sequence">
        <xs:complexType>
          <xs:sequence>
<!-- 5' sequence that flanks the variation -->
            <xs:element name="Ss_sequence_seq5" type="xs:string" minOccurs="0"/>
<!-- list of all nucleotide alleles observed in ss-list members, correcting for reverse complementation of memebers reported in reverse orientation -->
            <xs:element name="Ss_sequence_observed" type="xs:string"/>
<!-- 3' sequence that flanks the variation -->
            <xs:element name="Ss_sequence_seq3" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- Position of a single hit of a variation on a contig -->
<xs:element name="MapLoc">
  <xs:complexType>
    <xs:sequence>
<!-- beginning of variation as feature on contig -->
      <xs:element name="MapLoc_asnFrom" type="xs:integer"/>
<!-- end position of variation as feature on contig -->
      <xs:element name="MapLoc_asnTo" type="xs:integer"/>
<!-- defines the seq-loc symbol if asn_from != asn_to -->
      <xs:element name="MapLoc_locType">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
<!--
    insertion	-  insertion on contig
    exact	-  asn-from = asn-to write as 'asn-from'
    deletion	-  deletion on contig
-->
                <xs:enumeration value="insertion"/>
                <xs:enumeration value="exact"/>
                <xs:enumeration value="deletion"/>
                <xs:enumeration value="range-ins"/>
                <xs:enumeration value="range-exact"/>
                <xs:enumeration value="range-del"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- alignment qualiity -->
      <xs:element name="MapLoc_alnQuality" type="xs:double" minOccurs="0"/>
<!-- orientation of refSNP sequence to contig sequence -->
      <xs:element name="MapLoc_orient" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="forward"/>
                <xs:enumeration value="reverse"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- chromosome position as integer for sorting -->
      <xs:element name="MapLoc_physMapInt" type="xs:integer" minOccurs="0"/>
<!-- nearest aligned position in 5' flanking sequence of snp -->
      <xs:element name="MapLoc_leftFlankNeighborPos" type="xs:integer" minOccurs="0"/>
<!-- nearest aligned position in 3' flanking sequence of snp -->
      <xs:element name="MapLoc_rightFlankNeighborPos" type="xs:integer" minOccurs="0"/>
<!-- nearest aligned position in 5' contig alignment of snp -->
      <xs:element name="MapLoc_leftContigNeighborPos" type="xs:integer" minOccurs="0"/>
<!-- nearest aligned position in 3' contig alignment of snp -->
      <xs:element name="MapLoc_rightContigNeighborPos" type="xs:integer" minOccurs="0"/>
<!-- number of Mismatched positions in this alignment -->
      <xs:element name="MapLoc_numberOfMismatches" type="xs:integer" minOccurs="0"/>
<!-- number of deletions in this alignment -->
      <xs:element name="MapLoc_numberOfDeletions" type="xs:integer" minOccurs="0"/>
<!-- number of insetions in this alignment -->
      <xs:element name="MapLoc_numberOfInsertions" type="xs:integer" minOccurs="0"/>
      <xs:element name="MapLoc_fxnSet" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="FxnSet"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- functional relationship of SNP (and possibly alleles) to genes at contig location as defined in organism-specific bxxx_SNPContigLocusId_xxx tables. -->
<xs:element name="FxnSet">
  <xs:complexType>
    <xs:sequence>
<!-- gene-id of gene as aligned to contig -->
      <xs:element name="FxnSet_geneId" type="xs:integer" minOccurs="0"/>
<!-- symbol (official if present in Entrez Gene) of gene -->
      <xs:element name="FxnSet_symbol" type="xs:string" minOccurs="0"/>
<!-- mRNA accession if variation in transcript -->
      <xs:element name="FxnSet_mrnaAcc" type="xs:string" minOccurs="0"/>
<!-- mRNA sequence version if variation is in transcripot -->
      <xs:element name="FxnSet_mrnaVer" type="xs:integer" minOccurs="0"/>
<!-- protein accession if variation in protein -->
      <xs:element name="FxnSet_protAcc" type="xs:string" minOccurs="0"/>
<!-- protein version if variation is in protein -->
      <xs:element name="FxnSet_protVer" type="xs:integer" minOccurs="0"/>
      <xs:element name="FxnSet_fxnClass" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
<!--
    locus-region	-  variation in region of gene, but not in transcript
-->
                <xs:enumeration value="locus-region"/>
                <xs:enumeration value="coding-unknown"/>
                <xs:enumeration value="coding-synonymous"/>
                <xs:enumeration value="coding-nonsynonymous"/>
                <xs:enumeration value="mrna-utr"/>
                <xs:enumeration value="intron"/>
                <xs:enumeration value="splice-site"/>
                <xs:enumeration value="reference"/>
                <xs:enumeration value="coding-exception"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="FxnSet_readingFrame" type="xs:integer" minOccurs="0"/>
<!-- variation allele: * suffix indicates allele of contig at this location -->
      <xs:element name="FxnSet_allele" type="xs:string" minOccurs="0"/>
<!-- translated amino acid residue for allele -->
      <xs:element name="FxnSet_residue" type="xs:string" minOccurs="0"/>
<!-- position of the variant residue in peptide sequence -->
      <xs:element name="FxnSet_aaPosition" type="xs:integer" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- A collection of genome sequence records (curated gene regions (NG's), contigs (NWNT's)  and chromosomes (NC/AC's) produced by a genome sequence project. Structure is populated from ContigInfo tables. -->
<xs:element name="Assembly">
  <xs:complexType>
    <xs:sequence>
<!-- dbSNP build number defining the rsid set aligned to this assembly -->
      <xs:element name="Assembly_dbSnpBuild" type="xs:integer"/>
<!-- assembly build number with possible 'subbuild' version numbers to reflect updates in gene annotation (human e.g. 34_3, 35_1, 36_1) -->
      <xs:element name="Assembly_genomeBuild" type="xs:string"/>
<!-- High-level classification of the assembly to distinguish reference projects from alternate solutions. GroupLabel field from organism/build-specific ContigInfo tables. "reference" is occasionally used as the preferred assembly; standards will converge as additional organism genome projects are finished. Note that some organism assembly names include extended characters like '~' and '/' that may be incompatible with OS filename conventions. -->
      <xs:element name="Assembly_groupLabel" type="xs:string" minOccurs="0"/>
<!-- Name of the group(s) or organization(s) that generated the assembly -->
      <xs:element name="Assembly_assemblySource" type="xs:string" minOccurs="0"/>
<!-- Marks the current genomic assembly -->
      <xs:element name="Assembly_current" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assembly_reference" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="true"/>
                <xs:enumeration value="false"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assembly_component" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="Component"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assembly_snpStat">
        <xs:complexType>
          <xs:sequence>
<!-- summary measure of placement precision in the assembly -->
            <xs:element name="Assembly_snpStat_mapWeight">
              <xs:complexType>
                <xs:attribute name="value" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:string">
                      <xs:enumeration value="unmapped"/>
                      <xs:enumeration value="unique-in-contig"/>
                      <xs:enumeration value="two-hits-in-contig"/>
                      <xs:enumeration value="less-10-hits"/>
                      <xs:enumeration value="multiple-hits"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
              </xs:complexType>
            </xs:element>
<!-- number of distinct chromosomes in the mapset -->
            <xs:element name="Assembly_snpStat_chromCount" type="xs:integer" minOccurs="0"/>
<!-- number of distinct contigs [ gi | accession[.version] ] in the mapset -->
            <xs:element name="Assembly_snpStat_placedContigCount" type="xs:integer" minOccurs="0"/>
<!-- number of sequence postions to a contig with unknown chromosomal assignment -->
            <xs:element name="Assembly_snpStat_unplacedContigCount" type="xs:integer" minOccurs="0"/>
<!-- total number of sequence positions in the mapset -->
            <xs:element name="Assembly_snpStat_seqlocCount" type="xs:integer" minOccurs="0"/>
<!-- Number of hits to alternative genomic haplotypes (e.g. HLA DR region, KIR, or pseudo-autosomal regions like PAR) within the assembly mapset. Note that positions on haplotypes defined in other assemblies (a different assembly_group_label value) will not be counted in this value. -->
            <xs:element name="Assembly_snpStat_hapCount" type="xs:integer" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Assay">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="Assay_handle" type="xs:string" minOccurs="0"/>
      <xs:element name="Assay_batch" type="xs:string" minOccurs="0"/>
      <xs:element name="Assay_batchId" type="xs:integer" minOccurs="0"/>
      <xs:element name="Assay_batchType" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="snpassay"/>
                <xs:enumeration value="validation"/>
                <xs:enumeration value="doublehit"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_molType" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="genomic"/>
                <xs:enumeration value="cDNA"/>
                <xs:enumeration value="mito"/>
                <xs:enumeration value="chloro"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_sampleSize" type="xs:integer" minOccurs="0"/>
      <xs:element name="Assay_population" type="xs:string" minOccurs="0"/>
      <xs:element name="Assay_linkoutUrl" type="xs:string" minOccurs="0"/>
      <xs:element name="Assay_method" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
<!-- Submitters method identifier -->
            <xs:element name="Assay_method_name" type="xs:string" minOccurs="0"/>
<!-- dbSNP method identifier -->
            <xs:element name="Assay_method_id" type="xs:string" minOccurs="0"/>
<!-- description of deviation from/addition to given method -->
            <xs:element name="Assay_method_exception" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_taxonomy">
        <xs:complexType>
          <xs:sequence>
<!-- NCBI taxonomy ID for variation -->
            <xs:element name="Assay_taxonomy_id" type="xs:integer"/>
            <xs:element name="Assay_taxonomy_organism" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_strains" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Assay_strains_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Assay_comment" type="xs:string" minOccurs="0"/>
      <xs:element name="Assay_citation" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="Assay_citation_E" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- URL value from dbSNP_main.BaseURL links table. attributes provide context information and URL id that is referenced within individual refSNP objects. -->
<xs:element name="BaseURL">
  <xs:complexType>
    <xs:sequence>
<!-- Resource identifier from dbSNP_main.baseURL. -->
      <xs:element name="BaseURL_urlId" type="xs:integer" minOccurs="0"/>
<!-- Name of linked resource -->
      <xs:element name="BaseURL_resourceName" type="xs:string" minOccurs="0"/>
<!-- identifier expected by resource for URL -->
      <xs:element name="BaseURL_resourceId" type="xs:string" minOccurs="0"/>
      <xs:element name="BaseURL_baseURL" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="PrimarySequence">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="PrimarySequence_dbSnpBuild" type="xs:integer"/>
      <xs:element name="PrimarySequence_gi" type="xs:integer"/>
      <xs:element name="PrimarySequence_source" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="submitter"/>
                <xs:enumeration value="blastmb"/>
                <xs:enumeration value="xm"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="PrimarySequence_accession" type="xs:string" minOccurs="0"/>
      <xs:element name="PrimarySequence_mapLoc">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="MapLoc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- structure information for SNP -->
<xs:element name="RsStruct">
  <xs:complexType>
    <xs:sequence>
<!-- accession of the protein with variation -->
      <xs:element name="RsStruct_protAcc" type="xs:string" minOccurs="0"/>
<!-- GI of the protein with variation -->
      <xs:element name="RsStruct_protGi" type="xs:integer" minOccurs="0"/>
<!-- position of the residue for the protein GI -->
      <xs:element name="RsStruct_protLoc" type="xs:integer" minOccurs="0"/>
<!-- residue specified for protein at prot-loc location -->
      <xs:element name="RsStruct_protResidue" type="xs:string" minOccurs="0"/>
<!-- alternative residue specified by variation sequence -->
      <xs:element name="RsStruct_rsResidue" type="xs:string" minOccurs="0"/>
<!-- GI of the structure neighbor -->
      <xs:element name="RsStruct_structGi" type="xs:integer" minOccurs="0"/>
<!-- position of the residue for the structure GI -->
      <xs:element name="RsStruct_structLoc" type="xs:integer" minOccurs="0"/>
<!-- residue specified for protein at struct-loc location -->
      <xs:element name="RsStruct_structResidue" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<!-- link data for another resource -->
<xs:element name="RsLinkout">
  <xs:complexType>
    <xs:sequence>
<!-- BaseURLList.url_id -->
      <xs:element name="RsLinkout_resourceId" type="xs:string"/>
<!-- value to append to ResourceURL.base-url for complete link -->
      <xs:element name="RsLinkout_linkValue" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="Component">
  <xs:complexType>
    <xs:sequence>
<!-- type of component: chromosome, contig, gene_region, etc. -->
      <xs:element name="Component_componentType" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="contig"/>
                <xs:enumeration value="mrna"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- dbSNP contig_id used to join on contig hit / mapset data to these assembly properties -->
      <xs:element name="Component_ctgId" type="xs:integer" minOccurs="0"/>
<!-- Accession[.version] for the sequence component -->
      <xs:element name="Component_accession" type="xs:string" minOccurs="0"/>
<!-- contig name defined as either a submitter local id, element of a whole genome assembly set, or internal NCBI local id -->
      <xs:element name="Component_name" type="xs:string" minOccurs="0"/>
<!-- Organism appropriate chromosome tag, 'Un' reserved for default case of unplaced components -->
      <xs:element name="Component_chromosome" type="xs:string" minOccurs="0"/>
<!-- component starting position on the chromosome (base 0 inclusive) -->
      <xs:element name="Component_start" type="xs:integer" minOccurs="0"/>
<!-- component ending position on the chromosome (base 0 inclusive) -->
      <xs:element name="Component_end" type="xs:integer" minOccurs="0"/>
<!-- orientation of this component to chromosome, forward (fwd) = 0, reverse (rev) = 1, unknown = NULL in ContigInfo.orient. -->
      <xs:element name="Component_orientation" minOccurs="0">
        <xs:complexType>
          <xs:attribute name="value" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="fwd"/>
                <xs:enumeration value="rev"/>
                <xs:enumeration value="unknown"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
<!-- NCBI gi for component sequence (equivalent to accession.version) for nucleotide sequence. -->
      <xs:element name="Component_gi" type="xs:string" minOccurs="0"/>
<!-- Identifier label for the genome assembly that defines the contigs in this mapset and their placement within the organism genome. -->
      <xs:element name="Component_groupTerm" type="xs:string" minOccurs="0"/>
<!-- Display label for component -->
      <xs:element name="Component_contigLabel" type="xs:string" minOccurs="0"/>
      <xs:element name="Component_mapLoc">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="MapLoc"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>
